@baseSize: 75;
.bodyBgApp{
  background: #f4f4f4;
  height: 100%;
  .rules{
    background: #fff;
    overflow: hidden;
    margin: 12rem/@baseSize auto;
    /*width: 680rem/@baseSize;
    padding: 20rem/@baseSize 35rem/@baseSize 40rem/@baseSize;*/
    width: 92%;
    padding: 2% 4% 3%;
    h2{
      line-height: 85rem/@baseSize;
      font-size: 26rem/@baseSize;
      color: #dcb578;
    }
    p{
      color: #2d2d2d;
      font-size: 26rem/@baseSize;
      line-height: 36rem/@baseSize;
      padding-bottom: 20rem/@baseSize;
    }
  }
}
