@base:75;

body{
  background: #ffffff!important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.status{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  img{
    width: 326rem/@base;
    height: 326rem/@base;
  }
  .status-title{
    font-size: 28rem/@base;
    color: #444042;
    line-height: 100%;
  }
  .status-content{
    padding-top: 16rem/@base;
    font-size: 24rem/@base;
    color: #9E9C9D;
    line-height: 100%;
  }
}