*{ margin: 0; padding: 0;font-family: arial;}
@baseSize: 75;
/*body.invitationRegister{
    text-align: center;
}*/
img{
    border-color:transparent;
}
a{
    text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;
}
body{
    background: #F5F5F5;
}
body.invitationRegister{
    background: #FFFFFF;
}
body.QRcodeBody{
    background-image: linear-gradient(-90deg, #FFFFFF 0%, #F5F5F5 13%);
    background-image: -webkit-linear-gradient(-90deg, #FFFFFF 0%, #F5F5F5 13%);
    min-height: 100%;
    min-height: 100vh;
    
}
.invitationMain{
    padding-bottom: 120rem/@baseSize;
    .header{
      /*  width: 100%;*/
        padding-top:30rem/@baseSize ;
        text-align: center;
        background: url(../../planner/images/invitationRegister/invitation_headerBg.jpg) no-repeat;
        background-size:750rem/@baseSize 805rem/@baseSize;
       /*background-size:100% 805rem/@baseSize;*/
        height:805rem/@baseSize;
        width:750rem/@baseSize;
        
        margin: 0 auto;
        .title{
            background: url(../../planner/images/invitationRegister/invitation_headerTit.png) no-repeat;
            background-size:637rem/@baseSize 60rem/@baseSize;
            width:637rem/@baseSize;
            height:60rem/@baseSize;
            display: inline-block;
            margin-bottom: 20rem/@baseSize;
        }
        .subTit{
            display: inline-block;
            border-radius: 50rem/@baseSize;
            padding:10rem/@baseSize 65rem/@baseSize;
            box-sizing: border-box;
            line-height: 36rem/@baseSize;
            width: 670rem/@baseSize;
            height: 94rem/@baseSize;
         position: relative;
           .subTitBg{
               width: 100%;
               height: 100%;
               position: absolute;
               top:0;
               left:0;
                border-radius: 50rem/@baseSize;
                background-image: -moz-linear-gradient( 0deg, rgb(240,218,191) 0%, rgb(240,218,191) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(240,218,191) 0%, rgb(240,218,191) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(240,218,191) 0%, rgb(240,218,191) 100%);
            opacity: 0.361;
            z-index: 1;
           }
            .word{
                line-height: 36rem/@baseSize;
                text-align: center;
                font-size:27rem/@baseSize ;
                color: #444444;
                position: absolute;
                z-index: 2;
            }
            
        }
        
        
        
        
     

    }
    /* header:end */
   
   .content{
      width:750rem/@baseSize;
      margin: 0 auto;
      background: #FFFFFF;
      position: relative;
      /*contentBg*/
      .contentBg{
     
          width: 100%;
          position: absolute;
            .conBg{
              width: 100%;
              position: absolute;
              left: 0;
              
            }
          
          
            .bg1{
              background: url(../../planner/images/invitationRegister/invitation_contentBg1.jpg) no-repeat;
              background-size: 750rem/@baseSize 303rem/@baseSize;
              width:750rem/@baseSize;
              height:303rem/@baseSize;
              top:350rem/@baseSize
            }
            .bg2{
              background: url(../../planner/images/invitationRegister/invitation_contentBg2.jpg) no-repeat;
              background-size: 750rem/@baseSize 341rem/@baseSize;
              width:750rem/@baseSize;
              height:341rem/@baseSize;
              top:800rem/@baseSize;
            }
            .bg3{
              background: url(../../planner/images/invitationRegister/invitation_contentBg3.jpg) no-repeat;
              background-size: 750rem/@baseSize 123rem/@baseSize;
              width:750rem/@baseSize;
              height:123rem/@baseSize;
              top:1450rem/@baseSize;
            }
          
      }
      /*contentBg:end*/
     .conItem{
        height: 550rem/@baseSize;
        width: 100%;
        position: relative;
        &.imgRight{
            .itemCon{
                left:30rem/@baseSize;
            }
            .imgBox{
                right:30rem/@baseSize;
            }
             
        }
        &.imgLeft{
            .itemCon{
                 left:400rem/@baseSize;
            }
            .imgBox{
                left:30rem/@baseSize;
            }
        }
     }
     .itemCon{
        padding-top: 65rem/@baseSize;
       /* width: 50%;*/
        position: absolute;
        white-space:normal;
        .itemTit,.itemWord{
            position: relative;
            z-index: 3;
        }
         .itemTit{
             font-size: 32rem/@baseSize;
             color: #444444;
             font-weight: bold;
              margin-bottom: 10rem/@baseSize;
              position: relative;
              z-index: 3;
              line-height: 38rem/@baseSize;
             
         }
         .itemWord{
             color: #444444;
             font-size:22rem/@baseSize ;
             line-height: 32rem/@baseSize;
         }
     }
     
     .imgBox{
     /*    padding-left: 50%;*/
         position: absolute;
         top:-160rem/@baseSize;
        
         img{
             width: 270rem/@baseSize;
             height:480rem/@baseSize;
             display: block;
             position: absolute;
             top:70rem/@baseSize;
             left: 22rem/@baseSize;
         }
        .phoneBg{
            background: url(../../planner/images/invitationRegister/invitation_contentPhoneBg.png) no-repeat;
            background-size:329rem/@baseSize 647rem/@baseSize;
            width:329rem/@baseSize;
            height: 657rem/@baseSize;
            position: relative;
            
        }
     }
     .bgNum{
         background: url(../../planner/images/invitationRegister/invitation_itemBgNum.png) no-repeat;
         background-size:150rem/@baseSize 360rem/@baseSize;
         width: 150rem/@baseSize;
         height: 120rem/@baseSize;
         position: absolute;
         top:0;
         left: 0;
         z-index: 2;
         
         &.num1{ background-position: 0 0;}
         &.num2{ background-position: 0 -120rem/@baseSize;}
         &.num3{ background-position: 0 -240rem/@baseSize;}
     }
     
   }
   
   
}
.topBorder{
    background-image: linear-gradient(to top,#e5e5e5 50%, transparent 50%);
    background-image: -webkit-linear-gradient(top ,#e5e5e5 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
}

    .fixedFooter{
       position: fixed;
       
      /* width: 100%;*/
     width: 750rem/@baseSize;
     margin: 0 auto;
       left:50%;
       transform: translateX(-50%);
       -webkit-transform: translateX(-50%);
       bottom:0;
       z-index: 10;
      
       .topBorder;
        background-color:rgba(255,255,255,0.9) ;
       .footerCon{
           padding: 10rem/@baseSize 40rem/@baseSize 0 40rem/@baseSize;
           height: 120rem/@baseSize;
           box-sizing: border-box;
          /* background: rgba(255,255,255,0.9);*/
           
           a{
               display: inline-block;
               font-size: 32rem/@baseSize;
               height:88rem/@baseSize;
               line-height: 88rem/@baseSize;
               color: #c4a06c;
                border-radius: 8rem/@baseSize;
                 text-align: center;
               &.previewBtn{
                   border:1px solid #c4a06c;
                  height: 86rem/@baseSize;
                   line-height: 86rem/@baseSize;
                   width: 180rem/@baseSize;
                  
                   float: left;
               }
               
               &.shareBtn{
                    background-image: -moz-linear-gradient( 0deg, rgb(234,210,162) 0%, rgb(193,158,110) 100%);
                    background-image: -webkit-linear-gradient( 0deg, rgb(234,210,162) 0%, rgb(193,158,110) 100%);
                    background-image: -ms-linear-gradient( 0deg, rgb(234,210,162) 0%, rgb(193,158,110) 100%);
                   width: 456rem/@baseSize;
                   height: 90rem/@baseSize;
                   line-height: 90rem/@baseSize;
                   float: right;
                   color: #FFFFFF;
                   .icon{
                       background: url(../../planner/images/invitationRegister/invitation_shareIcon.png) no-repeat center;
                       background-size: 50rem/@baseSize 50rem/@baseSize;
                       margin-right: 20rem/@baseSize;
                       width: 50rem/@baseSize;
                       height: 90rem/@baseSize;
                       display: inline-block;
                   }
               }
               
           }
       }
   }
   


.QRcodeMain{
    padding: 70rem/@baseSize 40rem/@baseSize 60rem/@baseSize 40rem/@baseSize;
    
    .tips{
       
        font-size: 26rem/@baseSize;
        color: #9E9C9D;
        letter-spacing: 0;
        text-align: justify;
        line-height: 40rem/@baseSize;
        margin-bottom: 48rem/@baseSize;
    }
    
    .btnBox{
        a{
            display: inline-block;
            background-image: linear-gradient(90deg, #EAD2A2 0%, #C19E6E 100%);
            font-size: 32rem/@baseSize;
            color: #FFFFFF;
            text-align: center;
            line-height: 16px;
            height: 88rem/@baseSize;
            line-height: 88rem/@baseSize;
            width: 100%;
            border-radius: 8rem/@baseSize;
        }
    }
}
.codeBox{
    width: 100%;
    height: 810rem/@baseSize;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 12rem/@baseSize 9rem/@baseSize -9rem/@baseSize rgba(236,236,236,0.51);
    text-align: center;
    padding:60rem/@baseSize 88rem/@baseSize 88rem/@baseSize  88rem/@baseSize;
    margin-bottom: 48rem/@baseSize;
    border-radius: 8rem/@baseSize;
    .title{
        line-height: 48rem/@baseSize;
        color: #C4A06C;
        font-size: 32rem/@baseSize;
        margin-bottom: 50rem/@baseSize;
        width: 100%;
    }
    .imgBox{
        width: 494rem/@baseSize;
        height: 494rem/@baseSize;
        margin: 0 auto;
        background: #D8D8D8;
        
        img{
           width: 100%;
           height: 100%; 
        }
    }
    
}

.tipsBox{
    display: none;
    width: 360rem/@baseSize;
    height: 360rem/@baseSize;
    background: rgba(0,0,0,0.85);
    position:fixed;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform-origin:left top;
    -webkit-transform-origin:left top;
    text-align: center;
    border-radius: 8rem/@baseSize;
    /*transition:all 3s linear ;
    -webkit-transition:all 2s linear ;
    opacity: 0;*/
    
    &.show{
        /*opacity: 1;*/
        display: block;
    }
     /*&.hide{
       display: none;   
    }*/
    .tipsCon{
        padding: 80rem/@baseSize 20rem/@baseSize 10rem/@baseSize 20rem/@baseSize;
        
    }
    .tipsIcon{
        width: 168rem/@baseSize;
        height: 168rem/@baseSize;
        display: inline-block;
        background-size: 168rem/@baseSize  168rem/@baseSize;
        margin-bottom: 2rem/@baseSize;
        &.iconSucc{
            background: url(../../planner/images/invitationRegister/invitation_tipsBox_icon_success.png) no-repeat center;
        }
        
    }
    .tipsWord{
        font-size: 32rem/@baseSize;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 40rem/@baseSize;
    }
  
    
}
