*{ margin: 0; padding: 0;font-family: arial;}
@baseSize: 75;
img{
    border-color:transparent;
    display: inline-block;
}
a{
    text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;
}
body{
   
}

.noviceGuideMain{
    width: 100%;
    overflow: hidden;
    img{
        width: 100%;
    }
    .header{
        padding-bottom: 290rem/@baseSize;
         background-color: #fbf8f4;
    }
    .mainContent{
        position: relative;
        margin-bottom: -900rem/@baseSize;
        &.bg{
            background: url(../../planner/images/noviceGuide/noviceGuide_content_bg.jpg) repeat-y;
            background-size: 100% 2430rem/@baseSize;
            background-size: 100% 324vw;
        }
        
        .content{
            top:-940rem/@baseSize;
          /*  margin-bottom: -940rem/@baseSize;*/
            position: relative;
        }
        
        
        .title{
            background: url(../../planner/images/noviceGuide/noviceGuide_title.png) no-repeat center;
            background-size: 400rem/@baseSize 700rem/@baseSize;
            width: 100%;
            height: 100rem/@baseSize;
            
             &.tit1{background-position:center 0;}
             &.tit2{background-position:center -100rem/@baseSize;}
             &.tit3{background-position:center -200rem/@baseSize;}
             &.tit4{background-position:center -300rem/@baseSize;}
             &.tit5{background-position:center -400rem/@baseSize;}
             &.tit6{background-position:center -500rem/@baseSize;}
             &.tit7{background-position:center -600rem/@baseSize;}
        }
        
        .word{
          color: #3f3f3f; 
          font-size: 28rem/@baseSize;
          line-height: 40rem/@baseSize;
          text-align: center;
          margin-bottom: 20rem/@baseSize;
          
        }
        
    }
}
