@base:75;
html,body{
  height: 100%;
}
body{
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.wrapper{
  //max-width: 750rem/@base;
  margin: 0 auto;
  //display: flex;
  //flex-direction: column;
  padding-top: 36rem/@base;
  background: #ffffff;
  .content{
    //flex: 1;
    box-sizing: border-box;
    padding: 0 40rem/@base;
    h2{
      font-size: 46rem/@base;
      color: #2e2b2d;
      max-height: 140rem/@base;
      line-height: 70rem/@base;
      text-align: left;

    }
    h3{
      font-size: 28rem/@base;
      height: 52rem/@base;
      line-height: 52rem/@base;
      font-weight: normal;
      margin-bottom: 24rem/@base;
      text-align: left;
    }
    .item{
      color: #9e9c9d;
      border-top: 1rem/@base solid #ebebeb;
      box-sizing: content-box;
      position: relative;
    }
    .course-des{
      line-height: 40rem/@base;
      color: #9e9c9d;
    }
    .item-course{
      padding: 24rem/@base 0 32rem/@base;
      font-size: 28rem/@base;

    }
    .item-info{
      line-height: 100rem/@base;
      height: 100rem/@base;
      font-size: 32rem/@base;
    }
    .lecturer-box{
      margin-top: 94rem/@base;
      border: 1px solid #f6f6f6;
      border-radius: 7rem/@base;
      position: relative;
      padding-top: 78rem/@base;
      box-shadow: 0 0 6rem/@base #f6f6f6;
      img{
        width: 146rem/@base;
        height: 146rem/@base;
        border-radius: 50%;
        position: absolute;
        top: -73rem/@base;
        left: 50%;
        margin-left: -73rem/@base;
        box-shadow: 0px 12px 8px -12px #e5e5e5;
        border: 1px solid #f6f6f6;
      }
    }
    .lecturer-des{
      line-height: 40rem/@base;
      margin: 0 38rem/@base 0 38rem/@base;
      padding-bottom: 20rem/@base;
      text-align: justify;
    }
    .lecturer-name{
      text-align: center;
      line-height: 52rem/@base;
      span{
        color: #c4a06c;
      }
    }

    .icon{
      display: inline-block;
      width: 40rem/@base;
      height: 40rem/@base;
      background-size: 100%;
      vertical-align: middle;
      &.icon-lock{
        background-image: url("../images/openCourse/icon-lock.png");
        height: 45rem/@base;
      }
      &.icon-play{
        background-image: url("../images/openCourse/icon-play.png");
      }
      &.icon-clock{
        background-image: url("../images/openCourse/icon-clock.png");
      }
    }
    .item-title{
      margin-left: 30rem/@base;
    }
    .item-content{
      margin-left: 24rem/@base;
      color: #2e2b2d;
    }
    .copy-btn{
      color: #c4a06c;
      width: 108rem/@base;
      height: 60rem/@base;
      border: 1px solid #c4a06c;
      border-radius: 28rem/@base;
      display: inline-block;
      box-sizing: border-box;
      line-height: 56rem/@base;
      text-align: center;
      text-decoration: none;
      font-size: 28rem/@base;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -30rem/@base;
    }
  }
  .footer{
    background: #f5f5f5;
    padding: 46rem/@base 40rem/@base 46rem/@base;
    a{
      display: block;
      height: 88rem/@base;
      line-height: 88rem/@base;
      font-size: 32rem/@base;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      background: linear-gradient(to right, #ead2a2, #c19e6e);
      border-radius: 6rem/@base;
    }
  }
}