blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,td,textarea,th,ul{margin:0;padding:0}
html{-webkit-text-size-adjust:none}
li{padding:0;margin:0;list-style:none}
em{font-style:normal}
button,input,select,textarea{outline:0;padding:0;border:none;-webkit-tap-highlight-color:transparent}
img{vertical-align:top;border:none}
textarea{resize:none}
a{text-decoration:none}
em,h1,h2,h3,h4,h5,h6,i,strong{font-weight:400;font-style:normal}
li{padding:0;margin:0;list-style:none}
em{font-style:normal}
button,input,select,textarea{outline:0;padding:0;border:none}
textarea{resize:none}
a{text-decoration:none}
.relative{position:relative}
@-webkit-keyframes toLeft{0%{-webkit-transform:rotate(-180deg)}
}
@-moz-keyframes toLeft{0%{-moz-transform:rotate(-180deg)}
}
@-ms-keyframes toLeft{0%{-ms-transform:rotate(-180deg)}
}
@keyframes toLeft{0%{transform:rotate(-180deg)}
}
body{background:#f4f4f4;font-family:Arial}
.clear{content:".";display:block;height:0;clear:both;visibility:hidden}
.wordOverflow{overflow:hidden;white-space:pre;text-overflow:ellipsis}
.main{margin-top:.2rem}
.mainContent{background:#FFF}
.sTitle{padding:.93333333rem .2rem 1.66666667rem;text-align:center;font-size:.56rem;line-height:.66666667rem}
.list{padding-left:40%;padding-right:.2rem;margin-bottom:.8rem}
.redItem .list{padding-left:28%}
.listItem{margin-bottom:.4rem;position:relative}
.iTitle{margin-bottom:.46666667rem;padding-left:1.26666667rem;color:#444;font-size:.42666667rem;height:1.02666667rem;line-height:1.02666667rem}
.iTitle:after{content:".";display:block;clear:both;visibility:hidden;height:0}
.iTitleIcon{overflow:hidden;display:block;border-radius:50%;position:absolute;left:0;top:0;width:1.02666667rem;height:1.01333333rem}
.blueItem .iTitleIcon{background-image:-webkit-linear-gradient(-36deg,#48bafc 0,#48e0fc 100%);background-image:linear-gradient(-36deg,#48bafc 0,#48e0fc 100%)}
.blueItem .sTitle{color:#249ce2}
.yellowItem .iTitleIcon{background-image:-webkit-linear-gradient(-36deg,#de9226 0,#ffc954 100%);background-image:linear-gradient(-36deg,#de9226 0,#ffc954 100%)}
.yellowItem .sTitle{color:#de9226}
.greenItem .iTitleIcon{background-image:-webkit-linear-gradient(-36deg,#38e5e3 0,#38e5e3 100%);background-image:linear-gradient(-36deg,#38e5e3 0,#38e5e3 100%)}
.greenItem .sTitle{color:#1dbab8}
.redItem .iTitleIcon{background-image:-webkit-linear-gradient(-36deg,#db2f2f 0,#ff5050 100%);background-image:linear-gradient(-36deg,#db2f2f 0,#ff5050 100%)}
.redItem .sTitle{color:#ce0909}
.iWord{margin-bottom:.66666667rem;color:#929292;font-size:.4rem;line-height:.66666667rem;padding:0 .53333333rem 0 .30666667rem}
.iTitleIcon span{position:relative;display:block;width:.8rem;height:.6rem;background:url(../../planner/images/productSecurity/product_titleIcon.png) no-repeat;background-size:1.57333333rem 3.28rem}
.iTitleIcon span.icon1{background-position:0 0;left:.25333333rem;top:.34666667rem}
.iTitleIcon span.icon2{background-position:0 -.66666667rem;left:.24rem;top:.29333333rem}
.iTitleIcon span.icon3{background-position:0 -1.33333333rem;left:.29333333rem;top:.26666667rem}
.iTitleIcon span.icon4{background-position:0 -2rem;left:.26666667rem;top:.28rem}
.iTitleIcon span.icon5{background-position:-.8rem 0;left:.30666667rem;top:.26666667rem}
.iTitleIcon span.icon6{background-position:-.8rem -.66666667rem;left:.24rem;top:.25333333rem}
.iTitleIcon span.icon7{background-position:-.8rem -1.33333333rem;left:.28rem;top:.26666667rem}
.iTitleIcon span.icon8{background-position:-.8rem -2rem;left:.28rem;top:.26666667rem}
.iTitleIcon span.icon9{background-position:0 -2.62666667rem;left:.28rem;top:.26666667rem}
.iTitleIcon span.icon10{background-position:-.8rem -2.62666667rem;left:.30666667rem;top:.29333333rem}
.sNextBg{background:no-repeat center center;margin-bottom:.66666667rem;background-size:100% auto;width:100%;height:1.86666667rem}
.sNextBox{position:relative;width:6.4rem;height:6.4rem;border-radius:50%;border:10px solid #4dbbfc;color:#4dbbfc;left:50%;-webkit-transform:scale(.1) translateX(-50%);-webkit-transform-origin:left top;transform:scale(.1) translateX(-50%);transform-origin:left top}
.sNextIcon{width:3.46666667rem;height:2rem;background:url(../../planner/images/productSecurity/sNextIcon.png);background-size:3.33333333rem 8rem;position:relative;top:55%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translateX(-50%,-50%)}
.blueItem .sNextBg{background-image:url(../../planner/images/productSecurity/sNextBg1.jpg)}
.yellowItem .sNextBg{background-image:url(../../planner/images/productSecurity/sNextBg2.jpg)}
.greenItem .sNextBg{background-image:url(../../planner/images/productSecurity/sNextBg3.jpg)}
.yellowItem .sNextIcon{background-position:0 -2.66666667rem}
.greenItem .sNextIcon{background-position:0 -5.33333333rem}
.yellowItem .sNextBox{border-color:#de9226}
.greenItem .sNextBox{border-color:#1dbab8}
.blueItem{background:url(../../planner/images/productSecurity/sblueBg.jpg) no-repeat;background-size:100% auto}
.blueItem.blueItemIos{background:url(../../planner/images/productSecurity/sblueBg_ios.png) no-repeat;background-size:100% auto}
.yellowItem{background:url(../../planner/images/productSecurity/syellowBg.jpg) no-repeat;background-size:100% auto}
.greenItem{background:url(../../planner/images/productSecurity/sgreenBg.jpg) no-repeat;background-size:100% auto}
.redItem{background:url(../../planner/images/productSecurity/sredBg.jpg) no-repeat;background-size:100% auto;padding-bottom:.8rem}
.yellowWords {padding-top: 0.5rem;}

.blueItem .list{padding-top: 0.8rem;margin-bottom: 2rem;}
.blueItem .iTitle:first-child{ margin-bottom: 0.7rem;}