@base:75;


body{
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  //display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.wrapper{
  //flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  //max-width: 750rem/@base;
  margin: 0 auto;
  position: relative;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
  //display: none;
  flex-direction: column;
  .content{
    //flex: 1 1 auto;
  }

  header{
    height: 388rem/@base;
    background: url("../images/productDetails/head_bg2.jpg") 0 0 no-repeat;
    background-size: 100% 388rem/@base;
    color: #ffffff;
    position: relative;
    flex-direction: column;
  }
  .product-status{
    line-height: 20px;
    height: 20px;
    position: absolute;
    background: #a27d4c;
    color: #ffffff;
    right: 0;
    top: 128rem/@base;
    font-size: 12px;
    padding: 0 22rem/@base 0 24rem/@base;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    vertical-align: middle;
    align-items: center;
    align-content:center;

  }
  .product-feature{
    box-sizing: content-box;
    padding-top: 156rem/@base;
    text-align: center;
    flex: 1;
    .product-rate{
      height: 68rem/@base;
      font-size: 56rem/@base;
      font-weight: 600;
      span{
        font-size: 32rem/@base;
      }
    }
    .product-rate-title{
      //margin-top: 6rem/@base;
      font-size: 24rem/@base;
      height: 32rem/@base;
      line-height: 32rem/@base;
      color: #e7dacb;
      span{
        display: inline-block;
      }
      i{
        vertical-align:middle;
        display:inline-block;
        height: 14px;
        width: 14px;
        line-height: 14px;
        border:1px solid #e7dacb;
        text-align:center;
        box-sizing:content-box;
        font-size:12px;
        border-radius:50%;
        font-style:normal;
        margin-left:.10666667rem;
        cursor:pointer;
        -webkit-tap-highlight-color:transparent;
        -webkit-touch-callout:none;
        -webkit-user-select:none
      }
    }

    .product-label{
      font-size: 22rem/@base;
      margin-top: 12rem/@base;
      em{
        font-style: normal;
        display: inline-block;
        height: 38rem/@base;
        line-height: 36rem/@base;
        border: 1rem/@base solid #d2bb9f;
        color: #e5d9c9;
        border-radius: 20rem/@base;
        padding: 0 18rem/@base;
        box-sizing: content-box;
        margin-left: 10rem/@base;
        &:nth-child(1){
          margin-left: 0;
        }
      }
    }
  }
  .product-info{
    height: 104rem/@base;
    border-top: 1rem/@base solid rgba(255,255,255,.2);
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    dl{
      flex: 1;
      text-align: center;
      margin-top: 14rem/@base;
    }
    dt{
      font-size: 28rem/@base;
      height: 40rem/@base;
      line-height: 40rem/@base;
      font-weight: 600;
    }
    dd{
      font-size: 22rem/@base;
      color: #e0d2c2;
      height: 36rem/@base;
      line-height: 36rem/@base;
    }
  }
  .product-comment{
    line-height: 36rem/@base;
    font-size: 22rem/@base;
    color: #9e9c9d;
    padding: 24rem/@base 40rem/@base;
    background: #ffffff;
    p{
      overflow:hidden;
      text-overflow:ellipsis;
      display:-webkit-box;
      -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
      max-height: 108rem/@base;
    }
    span{
      font-size: 20rem/@base;
      color: #c4a06c;
      padding: 0 6px;
      border: 1px solid #c4a06c;
      border-radius: 3rem/@base;
      margin-right: 6rem/@base;
    }
  }
  .item{
    font-size: 26rem/@base;
    color: #9e9c9d;
    background: #ffffff;
    padding: 0 40rem/@base;
    &.mt20{
      margin-top: 20rem/@base;
    }
    &>div{
      line-height: 46rem/@base;
      min-height: 46rem/@base;
      //border-bottom: 0.5rem/@base solid #ebebeb;
      padding: 21rem/@base 0;
      position: relative;
      overflow: hidden;
      &:after{
        content: ".";
        text-indent: -9999px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        transform: scale(1,0.5);
        width: 100%;
        background: #ebebeb;
      }
    }
    &.noBorder{
      div{
        border: none;
        &:after{
          display: none;
        }
      }
    }
    span{
      display: inline-block;
      max-width: 453rem/@base;
      &.small{
        font-size: 24rem/@base;
        line-height: 140%;
        padding-top: 5rem/@base;
      }
      &:nth-child(1){
        float: right;
        color: #444042;
        width: 452rem/@base;

      }
      &.yellow{
        color: #c4a06c;

      }
      &.bigger{
        font-size: 38rem/@base;
      }
      &.short{
        width: 380rem/@base;
      }

      i{
        font-style: normal;
        &.yellow{
          color: #c4a06c;

        }
        &.bigger{
          font-size: 38rem/@base;
          font-weight: 600;
        }
      }

    }

    &.link{

      a{
        display: block;
        height: 100%;
        text-decoration: none;
        color: #444042;
      }
      i{
        display: inline-block;
        width: 16rem/@base;
        height: 28rem/@base;
        background: url("../images/productDetails/arrow-right.png") 0 0 no-repeat;
        background-size: 16rem/@base 28rem/@base;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -14rem/@base;
      }
    }
  }


  .tips{
    font-size: 22rem/@base;
    color: #cbcbcb;
    padding: 44rem/@base 0 164rem/@base;
    line-height: 30rem/@base;
    text-align: center;
    &.show-modal{
      padding-bottom: 10px;
    }
  }
  .footer{
    //flex: 0 0 auto;
    padding: 16rem/@base 40rem/@base;
    background: #ffffff;
    box-shadow: 0 -5rem/@base 15rem/@base -6rem/@base #ececec;
    //max-width: 750rem/@base;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    a{
      display: block;
      height: 88rem/@base;
      line-height: 88rem/@base;
      font-size: 32rem/@base;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      border-radius: 6rem/@base;
      overflow: hidden;
      outline: none;
      &.calculator{
        background: linear-gradient(to right, #ead2a2, #c19e6e);

        i{
          display: inline-block;
          width: 36rem/@base;
          height: 36rem/@base;
          background: url("../images/productDetails/cal.png") 0 0 no-repeat;
          background-size: 36rem/@base 36rem/@base;
          margin-right: 20rem/@base;
          vertical-align: middle;
        }
      }
    }
  }
}

body.modal-open {
  position: fixed;
  width: 100%;
}

.ui-popup.fixpos{
  position: fixed;
  bottom: 0;
}
.ui-popup.fixtop{
  top: initial!important;
}
.ui-popup.fixfixed{
 position: absolute;
}
.ui-popup[aria-labelledby='title:cal']{
  top: initial!important;
  z-index:1025!important;
}
.ui-popup-backdrop{
  opacity: 0.7!important;
}
.popupGradient{
  background: linear-gradient(to bottom , #00000000, #000000)!important;
}



@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body{
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
  }
  .wrapper{
    header{
      height: 436rem/@base;
      background: url("../images/productDetails/head_bg2x.jpg") 0 0 no-repeat;
      background-size: 750rem/@base 436rem/@base;
    }
    .product-feature{
      padding-top: 200rem/@base;
    }
    .product-status{
      top: 172rem/@base;
    }
    .fix_iphonex{
      //padding-bottom: 50rem/@base;
    }

  }
}
