@base:75;

body{
  background: #f5f5f5;

}
.wrapper{
  box-sizing: border-box;
  width: 670rem/@base;
  margin: 20rem/@base auto 0;
  background: #ffffff;
  font-size: 26rem/@base;
  color: #444042;
  padding: 0 25rem/@base;
  border-radius: 5rem/@base;
  dl{
    border-bottom: 1rem/@base solid #f5f5f5;
    line-height: 88rem/@base;
    height: 88rem/@base;
    &:nth-child(3){
      border: none;
    }
  }
  dt{
    float: left;
  }
  dd{
    float: right;
  }
  .active{
  color: #c4a06c;
  }
}