@baseSize:75;
.hide{
  display: none;
}
.main_bg_1{
  background-color: #ffffff;
}
.xieyi_box{
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  .bianhao{
    font-style: normal;
    float: right;
    font-size: 24rem/@baseSize;
  }
  h2{
    padding: 0.5rem;
    text-align: center;
    font-size: 34rem/@baseSize;
    line-height:60rem/@baseSize 'Microsoft Yahei';
  }
  h3{
    text-align: center;
    font-size: 28rem/@baseSize;
    line-height:48rem/@baseSize 'Microsoft Yahei';
  }
  strong{
    font-weight: bold;
  }
  p{
    font-size: 22rem/@baseSize;
    line-height: 42rem/@baseSize;
  }
  span{
    padding: 0rem/@baseSize 20rem/@baseSize 0rem/@baseSize 20rem/@baseSize;
    border-bottom: 1rem/@baseSize solid #333;
  }
  em{
    font-size: 12rem/@baseSize;
  }
}