<div ng-controller="qicheDirectorController as showCase">
    <h3 class="page-title">
        理财经理管理-财一4S店
    </h3>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="row">
                <div class="col-lg-9 col-xs-6">
                    <span class="panel-heading-title">理财经理管理-财一4S店</span>
                </div>
                <div class="col-lg-3 col-xs-6 ui_right">
                    <a href="javascript:;" class="btn btn-primary btn-sm" ng-click="action.search()">查询</a><a href="javascript:;" class="btn btn-warning btn-sm" ng-click="action.reset()">重置</a><span ng-if="form.isShow" form-show="{{form.isShow}}"></span>
                </div>
            </div>
        </div>
        <div class="panel-body" id="form-cot">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" id="js_form">
                        <div class="form-group col-lg-4">
                            <label>理财经理ID</label>
                            <input name="id" ng-model="form.id" class="form-control" placeholder="请输入理财经理ID">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>理财经理姓名</label>
                            <input name="username" ng-model="form.username" class="form-control" placeholder="请输入理财经理姓名">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>手机号</label>
                            <input name="mobile" ng-model="form.mobile" class="form-control" placeholder="请输入查询手机号">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>证件类型&号码</label>
                            <div class="input-group col-lg-12 col-xs-12">
                                <div class="input-group-addon" style="padding:0;width:auto;">
                                    <select class="form-control" style="height:32px;padding: 0px 2px; min-width:70px;" name="documenttype" ng-model="form.documenttype">
                                        <option value="">请选择</option>
                                        <option ng-repeat="item in select.documenttype" value="{{item.key}}">{{item.value}}</option>
                                    </select>
                                </div>
                                <input class="form-control" name="documentno" ng-model="form.documentno" placeholder="请输入证件号码">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>审核时间</label>
                            <div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" name="startaudittime" ng-model="form.startaudittime">
                                <span class="input-group-addon">to </span>
                                <input type="text" class="form-control" name="audittime" ng-model="form.audittime">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>是否宜信员工</label>
                            <div class="input-group col-lg-12 col-xs-12">
                                <div class="input-group-addon" style="padding:0;width:auto;">
                                    <select name="yixinstatus" ng-model="form.yixinstatus" class="form-control" style="height:32px;padding: 0px 2px; min-width:70px;">
                                        <option value="">请选择</option>
                                        <option ng-repeat="item in select.yixinstatus" value="{{item.key}}">{{item.value}}</option>
                                    </select>
                                </div>
                                <div class="input-group-addon" style="padding:0;width:auto;">
                                    <select name="yixintype"  ng-model="form.yixintype" class="form-control" style="height:32px;padding: 0px 2px; min-width:70px;">
                                        <option value="">请选择</option>
                                        <option ng-repeat="item in select.yixintype" value="{{item.key}}">{{item.value}}</option>
                                    </select>
                                </div>
                                <input name="yixinno" ng-model="form.yixinno" class="form-control" placeholder="请输入员工号码">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>级别：</label>
                            <select name="levelid" ng-model="form.levelid" class="form-control">
                                <option value="">请选择</option>
                                <option ng-repeat="item in select.levelid" value="{{item.id}}">{{item.levelname}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>类型</label>
                            <select name="yixinusertype" ng-model="form.yixinusertype" class="form-control">
                                <option value="">请选择</option>
                                <option ng-repeat="item in select.yixinusertype" value="{{item.key}}">{{item.value}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>销售日期</label>
                            <div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" name="createtimeStart" ng-model="form.createtimeStart">
                                <span class="input-group-addon">to </span>
                                <input type="text" class="form-control" name="createtimeEnd" ng-model="form.createtimeEnd">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="col-lg-12" style="padding:0;">
                                <label>返佣总额(元)</label>
                            </div>
                            <div class="col-lg-5" style="padding:0;">
                                <input name="startsumcommissionfee" ng-model="form.startsumcommissionfee" class="form-control js_validator_int" placeholder="请输入返佣总额">
                            </div>
                            <div class="col-lg-2" style="padding:0; text-align:center;line-height:28px;">
                                <span>—</span>
                            </div>
                            <div class="col-lg-5" style="padding:0;">
                                <input name="sumcommissionfee" ng-model="form.sumcommissionfee" class="form-control js_validator_int" placeholder="请输入返佣总额">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="col-lg-12" style="padding:0;">
                                <label>销售金额(元)</label>
                            </div>
                            <div class="col-lg-5" style="padding:0;">
                                <input name="sumamountLower" ng-model="form.sumamountLower" class="form-control js_validator_int" placeholder="请输入销售金额">
                            </div>
                            <div class="col-lg-2" style="padding:0; text-align:center;line-height:28px;">
                                <span>—</span>
                            </div>
                            <div class="col-lg-5" style="padding:0;">
                                <input name="sumamountUpper" ng-model="form.sumamountUpper" class="form-control js_validator_int" placeholder="请输入销售金额">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>店铺ID</label>
                            <input name="storecode" ng-model="form.storecode" class="form-control" placeholder="请输入店铺ID">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>店铺名称</label>
                            <input name="storename" ng-model="form.storename" class="form-control" placeholder="请输入店铺名称">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>城市</label>
                            <input name="district" ng-model="form.district" class="form-control" placeholder="请输入城市">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>是否有证书</label>
                            <select name="p_hasattchment" ng-model="form.p_hasattchment" class="form-control">
                                <option value="">请选择</option>
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>部门关键字</label>
                            <input name="department" ng-model="form.department" class="form-control" placeholder="部门关键字">
                        </div>
                        <input type="hidden" name="bizSysRoute" value="3"/>
                    </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <span class="panel-heading-title">搜索结果</span>
                </div>
                <div class="col-lg-6 col-xs-6 ui_right">
                    <form id="director_form" method="post">
                        <a id="js_director_export" action="/xinghuouser/exportDirector.shtml" href="javascript:;" class="btn btn-primary btn-sm">导出理财经理</a>
                        <a id="js_director_certificate_export" action="/xinghuouser/exportDirectorCertificate.shtml" href="javascript:;" class="btn btn-success btn-sm">导出理财经理证书</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper table-responsive">
                <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" dt-disable-deep-watchers="true" class="table table-striped row-border table-hover" id="dataTables"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        ComponentsPickers.init();
    })
</script>