body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:643px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  position:absolute;
  left:10px;
  top:10px;
  width:380px;
  height:643px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:314px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:65px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.729411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136 {
  position:absolute;
  left:11px;
  top:11px;
  width:378px;
  height:65px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:24px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1138 {
  position:absolute;
  left:26px;
  top:45px;
  width:12px;
  height:20px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:24px;
}
#u1140 {
  position:absolute;
  left:11px;
  top:11px;
  width:378px;
  height:24px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1142 {
  position:absolute;
  left:148px;
  top:45px;
  width:94px;
  height:20px;
  font-size:18px;
  text-align:center;
}
#u1143 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
  background:inherit;
  background-color:rgba(176, 133, 0, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1144 {
  position:absolute;
  left:11px;
  top:613px;
  width:379px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:10px;
  width:375px;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:537px;
}
#u1146 {
  position:absolute;
  left:10px;
  top:76px;
  width:380px;
  height:537px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:260px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
