body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:439px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:439px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:212px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u1051 {
  position:absolute;
  left:44px;
  top:236px;
  width:117px;
  height:32px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1053 {
  position:absolute;
  left:20px;
  top:220px;
  width:165px;
  height:16px;
  color:#FF0000;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  position:absolute;
  left:512px;
  top:343px;
  width:26px;
  height:17px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:85px;
}
#u1057 {
  position:absolute;
  left:44px;
  top:94px;
  width:560px;
  height:85px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:34px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  position:absolute;
  left:20px;
  top:176px;
  width:841px;
  height:70px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:27px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:186px;
}
#u1061 {
  position:absolute;
  left:10px;
  top:229px;
  width:581px;
  height:186px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:85px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1063 {
  position:absolute;
  left:27px;
  top:197px;
  width:126px;
  height:16px;
  color:#FF0000;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u1065 {
  position:absolute;
  left:174px;
  top:191px;
  width:410px;
  height:28px;
}
#u1065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u1065_input:disabled {
  color:grayText;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:55px;
  height:21px;
}
#u1066p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:47px;
  height:1px;
}
#u1066p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:58px;
  height:22px;
}
#u1066p001 {
  position:absolute;
  left:31px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1066p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u1066.compound {
  width:0px;
  height:0px;
}
#u1066 {
  position:absolute;
  left:584px;
  top:256px;
  width:45px;
  height:1px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1068 {
  position:absolute;
  left:629px;
  top:244px;
  width:400px;
  height:96px;
  color:#FF0000;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  white-space:nowrap;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:182px;
  top:244px;
  width:262px;
  height:25px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:4px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
