body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr {margin:0;padding:0;}
body {font:12px/1.5 Arial; color:#333;}
select,input,button {vertical-align:middle;font-size:100%;}
ul,ol {list-style:none;}
fieldset,img {border:0;}
em {font-style:normal;}
.clearfix:after {content:"."; display: block; visibility: hidden; clear: both; height:0; font-size:0}
.clearfix {*zoom:1}

body{font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.sale-block{table-layout: fixed; border-collapse: collapse; height: 646px;}
.sale-block td{vertical-align: top;}
.sale-block .sale-cell1{width: 409px; background:url(../images/bg1.png) no-repeat;}
.sale-block .sale-cell2{width: 1100px; background:url(../images/bg3.png) no-repeat;}
.sale-block .sale-cell3{width: 410px; background:url(../images/bg2.png) no-repeat;}
.sale-block .sale-tab{position: relative; width: 1100px; height: 170px;}
 .sale-status .sale-tab-morning{cursor:pointer; position:absolute; top:0; left:0; width: 149px; height: 167px; background:url(../images/tab0.png) no-repeat;}
.sale-block .sale-tab-line{position:absolute; top:60px; left:117px; width: 323px; height: 91px; background:url(../images/line.png) no-repeat;}
 .sale-status .sale-tab-afternoon{cursor:pointer; position:absolute; top:0; left:443px; width: 208px; height: 167px; background:url(../images/tab2.png) no-repeat;}
.sale-block .sale-line2{position:absolute; top:60px; left:627px; width: 323px; height: 91px; background:url(../images/line.png) no-repeat;}
 .sale-status .sale-tab-evening{cursor:pointer; position:absolute; top:0; right:-6px; width: 156px; height: 170px; background:url(../images/tab4.png) no-repeat;}

.sale-list{margin: 16px 0 0 -3px;}
.sale-list li{float: left;}
.sale-list a{cursor:pointer; display: block; text-decoration: none; position: relative; width: 336px; height: 150px; background:#fff; margin: 3px 0 0 3px; padding:36px 14px;}
.sale-list img{display: block; float: left;}
.sale-goods-detail{float: right; }
.sale-goods-name{font-size: 20px; *font-size:18px; line-height: 22px; color: #373737; white-space: normal; margin: 15px 0 5px 0;}
.sale-goods-des{font-size: 16px; color: #303030; line-height: 24px; text-align: right;}
.sale-goods-price{text-align: right; margin-top: 10px;}
.sale-goods-price .price{color: #fc3343; font-size: 28px; font-weight: bold;}
.sale-goods-price .price em{font-size: 18px;}
.sale-goods-price .btn{width: 84px; height: 27px; font-size: 16px; color:#fff; background:url(../images/btnbg.png) no-repeat; text-align: center; line-height: 26px; margin-top: 4px;}
.sale-goods-price span{display: inline-block; *zoom:1; vertical-align: middle;}
.sale-list-icon{position: absolute; display:block; width: 34px; height: 54px; background:url(../images/blockbg.png) no-repeat; top:0; left: 9px; z-index: 2; font-size: 18px; color: #fff; text-align: center; line-height: 18px; font-style: normal; padding-top:4px;}
 
 .sale-status1 .sale-list-afternoon{display: none;}
 .sale-status1 .sale-list-evening{display: none;}
 .sale-status1 .sale-list-morning{display: block;}



 .sale-status2 .sale-list-morning{display: none;}
 .sale-status2 .sale-list-evening{display: none;}
 .sale-status2 .sale-list-afternoon{display: block;}
 .sale-status2 .sale-tab-morning{background:url(../images/tab1.png) no-repeat;}
 .sale-status2 .sale-tab-afternoon{background:url(../images/tab3.png) no-repeat;}
 .sale-status2 .sale-tab-evening{background:url(../images/tab4.png) no-repeat;}



 .sale-status3 .sale-list-morning{display: none;}
 .sale-status3 .sale-list-evening{display: block;}
 .sale-status3 .sale-list-afternoon{display: none;}
 .sale-status3 .sale-tab-morning{background:url(../images/tab1.png) no-repeat;}
 .sale-status3 .sale-tab-afternoon{background:url(../images/tab2.png) no-repeat;}
 .sale-status3 .sale-tab-evening{background:url(../images/tab5.png) no-repeat;}



