<!DOCTYPE html><html><head><meta charset="UTF-8"><title></title><head><meta charset="UTF-8"><title>填写定制信息</title><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"><meta name="format-detection" content="telephone=no"><link rel="shortcut icon" href="../../common/images/favicon.ico" type="image/x-icon"><link type="text/css" href="../../financialPlanner/css/redEnvelope/dialog.css?2019328412" rel="stylesheet"><link type="text/css" href="../../financialPlanner/css/redEnvelope/appPopup.css?2019328412" rel="stylesheet"><script type="text/javascript" src="../../common/js/flexible.js?2019328412"></script></head><body><div class="popup"><div class="closeBtnBox"><a href="javascript:void(0);" class="closeBtn" onclick="callBackBtnCloseWeb();">&nbsp;</a></div><div class="popCon js_detail"><div class="top"></div><div class="center">&emsp;</div><div class="btn bottom"></div></div></div><script type="text/template" id="js_appPopupTmpl"><div class="top">
				<div class="amount">
					<span class="num"><%= item.amount%></span><span class="unit">元满减券</span>
				</div>
				<div class="statuBox">
					<div class="statu <%= item.statuClass%>"></div>
				</div>
			</div>
			
			
			
			<div class="center">
				<div class="info"><%= item.tipsWord%></div>
			</div>
			
			<div class="btn bottom">
				<a href="javascript:void(0);" class="btnClass" onclick="<%= item.onclickFn%>"><%= item.btnWord%></a>
			</div></script><script type="text/javascript" src="../../common/js/jquery.js?2019328412"></script><script type="text/javascript" src="../../financialPlanner/js/redEnvelope/redEnvelope.js?2019328412"></script><script type="text/javascript" src="../../financialPlanner/js/redEnvelope/appPopup.js?2019328412"></script></body></head></html>