<div ng-controller="xinghuodataProductController as showCase">
    <h3 class="page-title">
        产品统计
    </h3>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="row">
                <div class="col-lg-9 col-xs-6">
                    <span class="panel-heading-title">产品统计</span>
                </div>
                <div class="col-lg-3 col-xs-6 ui_right">
                    <a href="javascript:;" class="btn btn-primary btn-sm" ng-click="action.search()">查询</a><a href="javascript:;" class="btn btn-warning btn-sm" ng-click="action.reset()">重置</a><span ng-if="form.isShow" form-show="{{form.isShow}}"></span>
                </div>
            </div>
        </div>
        <div class="panel-body" id="form-cot">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" id="js_form">
                        <div class="form-group col-lg-4">
                            <label>产品状态</label>
                            <select name="productstatus" ng-model="form.productstatus" class="form-control">
                                <option value="">请选择</option>
                                <option value="1">未到期</option>
                                <option value="2">已到期</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>开放日期</label>
                            <div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" name="p_startstarttime" ng-model="form.p_startstarttime">
                                <span class="input-group-addon">to </span>
                                <input type="text" class="form-control" name="p_endstarttime" ng-model="form.p_endstarttime">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>到期日</label>
                            <div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" name="p_startcalltime" ng-model="form.p_startcalltime">
                                <span class="input-group-addon">to </span>
                                <input type="text" class="form-control" name="p_endcalltime" ng-model="form.p_endcalltime">
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>选择产品：</label>
                            <div class="input-group col-lg-12 col-xs-12">
                                <div class="input-group-addon" style="padding:0;width:auto;">
                                    <select name="productid" ng-model="form.productid" ng-change="action.choosePro()" class="form-control" style="height:32px;padding: 0px 2px; min-width:70px;">
                                        <option value="">请选择</option>
                                        <option value="{{item.key}}" ng-repeat="item in select.productid">{{item.value}}</option>
                                    </select>
                                </div>
                                <div class="input-group-addon" style="padding:0;width:auto;">
                                    <select name="subproductid" ng-model="form.subproductid" class="form-control" style="height:32px;padding: 0px 2px; min-width:70px;">
                                        <option value="">请选择</option>
                                        <option value="{{item.key}}" ng-repeat="item in select.subproductid">{{item.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="col-lg-12" style="padding:0;">
                                <label>销售金额：</label>
                            </div>
                            <div class="col-lg-5" style="padding:0;">
                                <input type="text" name="startamount" ng-model="form.startamount" class="form-control js_validator_int" placeholder="请输入销售金额">
                            </div>
                            <div class="col-lg-2" style="padding:0; text-align:center;line-height:28px;">
                                <span>—</span>
                            </div>
                            <div class="col-lg-5" style="padding:0;">
                                <input type="text" name="endamount" ng-model="form.endamount" class="form-control js_validator_int" placeholder="请输入销售金额">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-10 col-xs-10">
                    <span class="panel-heading-title">总销售额：<span class="ui_red">{{tableinfo.fmsumamount}}</span>元,&nbsp;&nbsp;已到期销售额：<span class="ui_red">{{tableinfo.fmsumcalltime}}</span>元,&nbsp;&nbsp;未到期销售额：<span class="ui_red">{{tableinfo.fmsumuncalltime}}</span>元</span>
                </div>
                <div class="col-lg-2 col-xs-2 ui_right">
                    <a id="js_product_export_btn" action="/xinghuodata/exportProductExcel.shtml" href="javascript:;" class="btn btn-success btn-sm">导出</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" dt-disable-deep-watchers="true" class="table table-striped row-border table-hover" id="dataTables"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        ComponentsPickers.init();
    });
</script>