body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1008px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:579px;
}
#u1735 {
  position:absolute;
  left:188px;
  top:523px;
  width:767px;
  height:579px;
}
#u1736 {
  position:absolute;
  left:2px;
  top:282px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u1737 {
  position:absolute;
  left:868px;
  top:367px;
  width:120px;
  height:34px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:590px;
}
#u1739 {
  position:absolute;
  left:188px;
  top:0px;
  width:820px;
  height:590px;
}
#u1740 {
  position:absolute;
  left:2px;
  top:287px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:842px;
}
#u1741 {
  position:absolute;
  left:188px;
  top:1968px;
  width:820px;
  height:842px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:413px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:779px;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:779px;
}
#u1744 {
  position:absolute;
  left:2px;
  top:382px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1745 {
  position:absolute;
  left:237px;
  top:1101px;
  width:152px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1746 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u1747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1747 {
  position:absolute;
  left:388px;
  top:1101px;
  width:142px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1748 {
  position:absolute;
  left:2px;
  top:17px;
  width:138px;
  word-wrap:break-word;
}
#u1749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:50px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1749 {
  position:absolute;
  left:529px;
  top:1101px;
  width:389px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1750 {
  position:absolute;
  left:2px;
  top:17px;
  width:385px;
  word-wrap:break-word;
}
#u1751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:683px;
}
#u1751 {
  position:absolute;
  left:189px;
  top:1212px;
  width:729px;
  height:683px;
}
#u1752 {
  position:absolute;
  left:2px;
  top:334px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:49px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1753 {
  position:absolute;
  left:219px;
  top:1894px;
  width:72px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1754 {
  position:absolute;
  left:2px;
  top:16px;
  width:68px;
  word-wrap:break-word;
}
#u1755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:49px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1755 {
  position:absolute;
  left:607px;
  top:1894px;
  width:282px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1756 {
  position:absolute;
  left:2px;
  top:16px;
  width:278px;
  word-wrap:break-word;
}
#u1757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1757 {
  position:absolute;
  left:290px;
  top:1895px;
  width:318px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1758 {
  position:absolute;
  left:2px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
