body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:389px;
}
#u0 {
  position:absolute;
  left:82px;
  top:484px;
  width:1224px;
  height:389px;
}
#u1 {
  position:absolute;
  left:2px;
  top:186px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:605px;
}
#u2 {
  position:absolute;
  left:-169px;
  top:-32px;
  width:1362px;
  height:605px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:1358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4 {
  position:absolute;
  left:125px;
  top:528px;
  width:195px;
  height:24px;
  text-align:left;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
