*{margin: 0;padding: 0;}
ul,li {list-style: none;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
body{font-family: arial; background:#ffffff ;}
@baseSize: 75;


.commonProblem{
    
}
.QABox{
    padding: 21rem/@baseSize 40rem/@baseSize 60rem/@baseSize 64rem/@baseSize;
    /* top 40*/
   .item{
       margin-bottom: 40rem/@baseSize;
   }
   
    .questions{
        margin-bottom: 20rem/@baseSize;
        position: relative;
        .label{
            &.circle{
                position: absolute;
                top:18rem/@baseSize;
                left: -25rem/@baseSize;
                span{
                    display: block;
                    background: #cbcbcb;
                    width: 100rem/@baseSize;
                    height: 100rem/@baseSize;
                    border-radius: 100%;
                    transform: scale(0.1);
                    -webkit-transform: scale(0.1);
                    transform-origin: left top;
                    -webkit-transform-origin: left top;
                   
                    
                }
               
            }
            
            
        }
        .word{
            font-size: 32rem/@baseSize;
            color: #444042;
            letter-spacing: 0;
            line-height: 47rem/@baseSize;
        }
    }
    .answers {
        .grayBox{
            background: #FAFAFA;
            padding: 24rem/@baseSize 18rem/@baseSize;
            margin-top: 24rem/@baseSize;
            border-radius: 5rem/@baseSize;
            span{
                display: block;
                &.label{
                    font-size: 24rem/@baseSize;
                    color: #9E9C9D;
                  
                    text-align: justify;
                    line-height: 24rem/@baseSize;
                    margin-bottom: 18rem/@baseSize;
                }
                
                &.con{
                    font-size: 24rem/@baseSize;
                    color: #9E9C9D;
                    text-align: justify;
                    line-height: 36rem/@baseSize;
                }
            }
        }
        
        .word{
            font-size: 28rem/@baseSize;
            color: #9E9C9D;
            letter-spacing: 0;
            text-align: justify;
            line-height: 42rem/@baseSize;
        }
    }
}
