* {margin: 0;padding: 0;}
ul,li {list-style: none;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
body{font-family: arial; background:#F4F4F4 ;}
@baseSize: 75;

.enjoyAccountmain{position: absolute;top:0; left: 0; width: 200%;transform: scale(0.5); transform-origin: left  top;-webkit-transform: scale(0.5);-webkit-transform-origin: left  top;}
.mainItem{margin-bottom:32rem/@baseSize;}
//.mainItem:last-child{margin-bottom: 0;}


.itemCon{ background: #FFFFFF; padding: 56rem/@baseSize; }
.itemTitle{font-size: 64rem/@baseSize; line-height: 104rem/@baseSize; color: #c9a358; margin-bottom: 20rem/@baseSize; font-weight: bold;}
.conWord{color: #929292; font-size: 56rem/@baseSize; line-height: 84rem/@baseSize; margin-bottom: 40rem/@baseSize;}
.conWord p{ margin-bottom: 20rem/@baseSize; text-align:justify  ;}
.conWord p:last-child{ margin-bottom: 0;}
.title{font-size: 56rem/@baseSize; color: #444444; margin-bottom: 40rem/@baseSize; margin-bottom: 40rem/@baseSize;}
.title.marBottom{ margin-bottom: 15rem/@baseSize;}
.tableCon{ margin-bottom: 80rem/@baseSize;}
.tableCon table{ width: 100%; border-top:1px solid #444444;border-right:1px solid #444444;}
.tableCon table td{ text-align: center; padding: 40rem/@baseSize 10rem/@baseSize; line-height:80rem/@baseSize; font-size:56rem/@baseSize;  border-bottom:1px solid #444444;border-left:1px solid #444444}
.tableCon table thead td{ background: #d8d8d8;}
span.strong{ font-weight: bold;}
span.black{ color: #444444;}

@media screen and (max-width: 320px) {
    .tableCon table td{ font-size: 48rem/@baseSize;}
}