.ui_right {
  text-align: right;
}
.panel-heading-title {
  line-height: 30px;
  font-size: 14px;
}
.page-header.navbar .page-logo .logo-default {
  margin: 8px 0 0 0;
}
.page-header.navbar .page-logo {
    padding-left: 12px;
    padding-right: 12px;
}
.dataTables_wrapper .dataTables_processing {
    height: auto;
    padding: 20px 0;
}
.dataTables_wrapper .dataTables_info {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "microsoft yahei","Open Sans", sans-serif;
}
.panel .panel-body {
    font-size: 14px;
}
.modal-dialog {
    width: 70%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    font-size: 14px;
}
.js_add_show, .ui_hide {
    display: none;
}
.ui_red {
    color: #c00;
}

.popover{
    z-index: 10050;
}

.note-editor .modal .modal-dialog .modal-body{
    padding-left: 30px;
    padding-right: 30px;
}
.checkbox-inline, .radio-inline {
    padding-left: 0;
}
.width-100{
    width: 100%!important;
}
.modal-640 .modal-dialog{
    width: 640px!important;
}
.form-horizontal .content-radio .radio{
    padding-top: 2px;
}
.form-horizontal .editAd-radio .radio{
    padding-top: 2px;
}
.form-horizontal .editCategoryList .radio{
    padding-top: 2px;
}
.ui_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.padding {
    padding: 10px 0;
}
.ui_center {
    text-align: center;
}
.mul-list > label.radio-inline:first-child,.mul-list > label.checkbox-inline:first-child {
    margin-left: 10px;
}
.mul-list > label.radio-inline {
    width: 200px;
    float: left;
}
#xinghuoLoading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999;
    margin-left: -50px;
    margin-top: -50px;
}
table.dataTable {
    /*width: 100% !important;*/
}


.text-red{
    color: red;
}
.m-b-30{
    margin-bottom: 30px;
}
.p-t-7{
    padding-top: 7px;
    word-wrap: break-word;
    word-break: break-all;
}
.control-text{
    margin-bottom: 5px;
    margin-top: 1px;
    word-break: break-all;
    word-wrap: break-word;
}
@media (min-width: 768px) {
    .control-text{
        padding-top: 7px;
        font-size: 14px;
        margin-top: 1px;
        margin-bottom: 0;
        word-break: break-all;
        word-wrap: break-word;
    }
}
/*通知栏样式*/
.page-content{
    position: relative;
}
.notification-bar{
    width: 260px;
    border: 1px solid #0e655f;
    position: fixed;
    right: 20px;
    bottom: 0;
    background: #f5f5f5;
    overflow: hidden;
    z-index: 100;
    border-top: 4px solid #0e655f;
    border-bottom: 6px solid #0e655f;
}
.notification-title{
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    /*font-weight: bold;*/
    cursor: pointer;
    color: #ffffff;
    background-color: #0e655f;
    border-bottom:1px solid #0e655f;

}
@-webkit-keyframes twinkling{
    0%{
        opacity:0.1;
    }
    100%{
        opacity:1;
    }
}
@keyframes twinkling{
    0%{
        opacity:0.1;
    }
    100%{
        opacity:1;
    }
}
.notification-title i{
    display: inline-block;
    float: left;
    margin: 7px 4px 0 12px;
    border-radius: 100%;
    width: 12px;
    height: 12px;

}
.notification-title.active i{
    background-color: red;
    -webkit-animation:twinkling 1s infinite 0.2s ease-in-out alternate;
    animation:twinkling 1s infinite 0.2s ease-in-out alternate;
}
.notification-title.open:after{
    content: "∨";
}
.notification-title:after{
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
    display: inline-block;
    line-height: 26px;
    font-size: 20px;
    margin-right: 20px;
    content: "\f106";
}
.notification-content{
    max-height: 448px;
    overflow-y: auto;
    font-size: 12px;
}
.notification-content dl{
    padding: 0 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
}
.notification-content:last-child{
    border-bottom:0;
}
.notification-content dt{
    height: 26px;
    line-height: 26px;
}
.notification-content dd{
    padding: 0 5px;
}
.notification-content dd p{
    margin-bottom: 0;
}
.notification-content dd a{
    color: #3598dc;
    text-decoration: underline;
}
.notification-content .no-notice{
    height: 112px;
    line-height: 112px;
    text-align: center;
}

/**表格样式**/
table.dataTable tbody tr.ui_click{
    background-color: #d9edf7;
}
table.dataTable.row-border tbody td{
    border-left:1px solid #ddd;
    word-break: break-all;
    word-wrap: break-word;
}
.dataTables_wrapper table{
    border-right:1px solid #ddd;
}
.dataTables_wrapper table th{
    border-left:1px solid #ddd;
}
.dataTables_scrollHead{
    border-bottom: 0!important;
}
table.dataTable.no-footer{
    margin: 0;
}
.time-line-wrapper{

}
.time-line-wrapper .no-info{
    text-align: center;
    padding: 100px 0;
}
.time-line{
    list-style: none;
    border-left:6px solid #7da9d4;
}
.time-line li{
    position: relative;
    padding: 10px 0;
}
.time-line li:before{
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:1px solid #dddddd;
    background: #FFFFFF;
    left: -48px;
    top:20px;
}