body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:666px;
}
#u1909 {
  position:absolute;
  left:10px;
  top:10px;
  width:893px;
  height:666px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:325px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:47px;
}
#u1911 {
  position:absolute;
  left:325px;
  top:376px;
  width:501px;
  height:47px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:16px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:440px;
}
#u1913 {
  position:absolute;
  left:231px;
  top:236px;
  width:595px;
  height:440px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:212px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:53px;
}
#u1915 {
  position:absolute;
  left:231px;
  top:167px;
  width:595px;
  height:53px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:18px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1917 {
  position:absolute;
  left:245px;
  top:183px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1919 {
  position:absolute;
  left:245px;
  top:257px;
  width:157px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:2px;
}
#u1921 {
  position:absolute;
  left:245px;
  top:300px;
  width:566px;
  height:1px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1923 {
  position:absolute;
  left:771px;
  top:257px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1923_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1923.mouseOver {
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1925 {
  position:absolute;
  left:245px;
  top:322px;
  width:144px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:2px;
}
#u1927 {
  position:absolute;
  left:245px;
  top:365px;
  width:566px;
  height:1px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1929 {
  position:absolute;
  left:771px;
  top:322px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1929_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1929.mouseOver {
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u1931 {
  position:absolute;
  left:427px;
  top:260px;
  width:148px;
  height:16px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u1933 {
  position:absolute;
  left:427px;
  top:324px;
  width:148px;
  height:16px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1935 {
  position:absolute;
  left:850px;
  top:257px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1935_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1935.mouseOver {
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1937 {
  position:absolute;
  left:850px;
  top:322px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1937_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1937.mouseOver {
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
