body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
select {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  outline: none;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  vertical-align: top;
  border: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
i,
em {
  font-weight: normal;
  font-style: normal;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  outline: none;
  padding: 0;
  border: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
.relative {
  position: relative;
}
body {
  background: #333a4e;
}
.banner img {
  width: 100%;
}
.topic {
  padding: 16px 15px;
  font-size: 13px;
  color: #9bb5db;
  line-height: 1.5;
}
.menu {
  padding: 0 15px;
}
.menu li {
  border: 1px solid rgba(182,204,237,0.3);
  padding: 5px 15px 10px 15px;
  margin-bottom: 15px;
}
.menu li .clear {
  clear: both;
  width: 100%;
}
.menu li a {
  display: block;
}
.menu li strong {
  font-size: 14px;
  color: #d3e5ff;
  padding: 0 9px;
  line-height: 20px;
  background: rgba(0,0,0,0.2);
  float: left;
}
.menu li span {
  font-size: 12px;
  color: #b6cced;
  line-height: 20px;
  float: right;
}
.menu li h2 {
  font-size: 14px;
  font-weight: normal;
  color: #b6cced;
  line-height: 1.2;
  margin-top: 12px;
}
.menu li p {
  font-size: 12px;
  color: #b6cced;
  line-height: 1.2;
  margin-top: 5px;
}