*{margin: 0;padding: 0;}
a{text-decoration: none;}
body{
    background: #ffffff;
}
.topBorder{
    background-image: -moz-linear-gradient(transparent  50%,#ececec 50%);
    background-image: -webkit-linear-gradient(transparent  50%,#ececec 50%);
    background-image: -ms-linear-gradient(transparent  50%, #ececec 50%); 
    background-size: 100% 1px;background-position: left top;
    background-repeat: no-repeat;
}
.main{ padding-bottom: 80px;}
.argeementMain{background: #ffffff;padding: 10px 14px 0 14px; font-size: 14px; line-height: 24px; color: #333; margin-bottom: 10px; overflow: hidden;  }
.argeementMain *{ max-width: 100%; box-sizing: border-box;}
.footerFixed{background-color: rgba(255,255,255,0.8); position: fixed; width: 100%; box-sizing: border-box; left: 0; bottom:0; padding: 15px; text-align: center;}
.footerFixed .btn{ width: 100%; height: 44px; line-height:  44px; display: block; background: #de9226; color: #FFFFFF; border-radius:5px;font-size: 18px; }
/*底部加载更多*/
.loadingBox{
    display: none;
    height: 40px;
    line-height: 45px;
    text-align: center;
    font-size: 12px;
    color: #999999;
    position: relative;
    &.show{
        display: block;
    }
    &.hide{
        display:none;
    }
    .loading{
        position: relative;
        display: inline-block;
        padding-left: 35px;
        &:after{
            content: " ";
            width: 25px;
            height:40px;
            display: inline-block;
            position: absolute;
            top: 0px;
            left: 0;
            background:url(../images/loadingLogo.gif) center  no-repeat;
            background-size:25px  40px;
        }
    }
    
    
    
}
