body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u227 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:87px;
}
#u228 {
  position:absolute;
  left:2px;
  top:701px;
  width:418px;
  height:87px;
}
#u229 {
  position:absolute;
  left:2px;
  top:36px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u230 {
  position:absolute;
  left:19px;
  top:658px;
  width:241px;
  height:41px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u231 {
  position:absolute;
  left:2px;
  top:10px;
  width:237px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u232 {
  position:absolute;
  left:324px;
  top:656px;
  width:62px;
  height:41px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u233 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u234 {
  position:absolute;
  left:444px;
  top:0px;
  width:420px;
  height:736px;
}
#u235 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:87px;
}
#u236 {
  position:absolute;
  left:446px;
  top:701px;
  width:418px;
  height:87px;
}
#u237 {
  position:absolute;
  left:2px;
  top:36px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u238 {
  position:absolute;
  left:463px;
  top:658px;
  width:367px;
  height:41px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u239 {
  position:absolute;
  left:2px;
  top:10px;
  width:363px;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:202px;
  top:485px;
  width:184px;
  height:21px;
}
#u241 {
  position:absolute;
  left:2px;
  top:2px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  position:absolute;
  left:315px;
  top:612px;
  width:71px;
  height:17px;
}
#u243 {
  position:absolute;
  left:2px;
  top:0px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  position:absolute;
  left:309px;
  top:99px;
  width:71px;
  height:58px;
}
#u245 {
  position:absolute;
  left:2px;
  top:21px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:752px;
  top:99px;
  width:71px;
  height:58px;
}
#u247 {
  position:absolute;
  left:2px;
  top:21px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  position:absolute;
  left:645px;
  top:485px;
  width:185px;
  height:21px;
}
#u249 {
  position:absolute;
  left:2px;
  top:2px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:740px;
  top:608px;
  width:90px;
  height:21px;
}
#u251 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
