
body{background-color:#f0f0f0;}
/* 焦点图盒子 */
/* 焦点图 */
.focus-box{width:100%;height:462px;}
.focus{height:462px;}
.focus li{height:462px;}
.focus a{display:block;height:462px;background-repeat:no-repeat; background-position:center;}
.focus img{vertical-align:middle;}
/* bxslider */
.bx-wrapper{position:relative;}
.bx-viewport{z-index:2;}
.bx-controls{position:relative;z-index:2;width:1200px;margin:0 auto;}
.bx-pager-item{display:inline-block;width:19px;height:19px;margin:0 7px;font-size: 0;line-height:0;}
.bx-pager-link{display:block;width:19px;height:19px;background-repeat:no-repeat;background-image:url(../images/focus-item.png);background-position:0 0;}
.bx-pager-link.active{background-position:0 -20px;}
.bx-pager{position:absolute;top:-46px;left:0;width:100%;text-align: center;}
.bx-controls-direction a{width:47px;height:133px;position:absolute;top:-315px;background-color:#cacaca;background-repeat: no-repeat;background-position: center;}
.bx-controls-direction a:hover{background-color:#919191;}
.bx-controls-direction .bx-prev{left:-74px;background-image: url(../images/focus-prev.png);}
.bx-controls-direction .bx-next{right:-74px;background-image: url(../images/focus-next.png);}

/* 登录框 */
.login-frame{width:250px;height:462px;overflow: hidden;margin-top:-462px;position:relative;z-index:2;}
.login-frame-bg{height:462px;width:250px;opacity:.9;background-color:#fff;position:absolute;left:0;top:0;}
.login-frame-con{height:462px;width:250px;position:absolute;left:0;top:0;}
/* 登录注册 */
.login-frame-info{height:134px;overflow:hidden;display:none;}
.login-frame-info.current{display:block;}
.login-frame-portrait{margin-top: 30px;width:66px;height:66px;margin-left:14px;background-image:url(../images/login-frame-portrait.png); background-repeart:no-repeat;background-position:center;}
.info-word{margin:25px 0 0 94px;font-size:14px;line-height:30px;}
.info-word p{margin-bottom: 5px;}
.info-word .login{cursor:pointer;padding:0 20px;display:inline-block;background-color:#fff7f2;border:1px solid #ff6700;color:#ff8b53;margin-right: 12px;}
.info-word a{color:#545454;}
/* 登录成功 */
.login-frame-portrait.success{background-image:url(../images/login-frame-portrait-success.png);margin-top:25px;}
.info-name{font-size:14px;line-height:20px;color:#333;font-weight: bold;}
.info-control{color:#b0b0b0;}
.info-control a{font-size:14px;color:#b0b0b0;}
.info-service{width:90px;height:30px;border:1px solid #f26432;background-color:#fff6f3;text-align: center;line-height: 30px;}
/* 入驻店铺 */
.login-frame .settlet{text-decoration:none;display:block;width:205px;height:40px;line-height:40px;color:#fff;font-size: 20px;background-color: #179c6a;text-align: center;margin: 0 auto;border-radius: 5px;}
/* 公告 */
.notice{border-bottom:1px dashed #e0e0e0;margin:13px 25px 0;padding-bottom:8px;}
.notice-title{font-size:14px;color:#333;padding-left: 20px;background:url(../images/notice-title.png) no-repeat left center; line-height:20px;margin-bottom:3px;}
.notice-con li{font-size:12px;color:#ff6700;line-height:20px;}
/* 保障 */
.login-frame-service{margin-top:10px;}
.login-frame-service li{padding:5px 0 5px 52px;background-repeat: no-repeat;background-position: left center;margin-left:25px;margin-bottom: 10px;}
.login-frame-service .login-frame-service-zheng{background-image:url(../images/login-frame-service-zheng.png);}
.login-frame-service .login-frame-service-zhen{background-image:url(../images/login-frame-service-zhen.png);}
.login-frame-service .login-frame-service-pei{background-image:url(../images/login-frame-service-pei.png);}
.login-frame-service .project{font-size: 18px;color:#333;line-height:26px;}
.login-frame-service .explain{font-size: 14px;color:#b0b0b0;line-height:18px;}


/* main */
.wrapper{  position: relative;  width: 1200px;  margin: 0 auto;  }
.introduce{  position: relative;  width: 100%;  background: #fff;  }
.title-l{  float: left;  padding-top: 44px;  color: #179c6a;  font-size: 20px;  }
.title-l2{  color: #333;  float: left;  padding-top: 44px;  font-size: 20px;  }
.title-r{  float: right;  padding: 52px 0 7px 0; color: #bebebe;  font-size: 12px; margin-right: 10px; }
.intro-ul{ display: block;  overflow: hidden; margin-left: -10px; position: relative; padding-bottom: 35px}
.intro-ul li {width: 230px;  height: 298px; margin-left: 10px;  float: left; _display:inline; border:1px solid #f0f0f0;}
.intro-ul li.current{height:296px;border-bottom:3px solid #179c6a;}
.intro-img{  height: 190px;  width: 100%;  text-align: center;  }
.intro-img a{vertical-align:middle;}
.intro-img img{  vertical-align:top; padding: 15px 0 0 0;  }
.intro-info{  width: 166px;  margin: 0 auto;  text-align: center;  }
.pic:hover{  color: #179c6a;  text-decoration: none;  }
.intro-info-p1{  padding-top: 12px;  line-height: 22px;  font-size: 12px;  color: #424c58;  }
.info-span{  padding-top: 6px;  line-height: 18px;  font-size: 10px;  }
.info-red{  color: #ea544a;  }
.info-blue{  color: #005aa0;  }
.intro-info-p2{  padding-top: 2px;  line-height: 20px;  font-size: 10px;  color: #8999b9;  }
.intro-info-p2 a{ color: #8999b9;  }
.item-ul{  display: block;  overflow: hidden;  height: 600px;  }
.item-img{  height: 180px;  width: 100%;  text-align: center;  }
.item-img a{vertical-align:middle;}
.item-img img{  vertical-align:top; padding: 10px 0 0 0;  }
.item-ul li{  -display:inline; width: 229px;  height: 286px;  border-style: solid;  border-width: 8px 4px 4px 6px;  border-color: white;  background: #fff;  margin: 1px 0 0 1px;  float: left;  }
.item-info{  width: 166px;  margin: 0 auto;  text-align: center;  }
.item-info-p1{  padding-top: 2px;  line-height: 22px;  font-size: 12px;  color: #424c58;  }
.item-info-p2{  padding-top: 2px;  line-height: 20px;  font-size: 12px;  color: #8999b9;  }
.item-info-p2 a{  color: #8999b9;  }


/* 店铺模块 */
.store-colligate-box{margin-top:30px;}
.store-colligate{width:460px;}
.store-colligate-title{font-size: 20px;line-height:44px;height: 44px;}
.store-colligate-content{width:460px;height:460px;background-color:#fcfcfc;overflow: hidden;}
/* 今日店铺推荐 */
.recommend-store{float:left;color:#666;}
.recommend-store.first{margin-bottom: 12px;}
.recommend-store.other{margin-left:13px;}
.recommend-store a{display: block;}
.recommend-store img{vertical-align: middle;}
.recommend-store.first a{width:460px;height:242px;}
.recommend-store-name{font-size: 14px;line-height: 40px;height:40px;text-align:center;}
.recommend-store.other a{width:210px;height:124px;}
/* 新入驻店铺 */
.new-settled-store{margin-left:15px;}
.new-store-title{height:44px;line-height: 44px;}
.new-store-more{font-size:12px;color:#b4b4b4;}
.store-type-title{color:#bcbcbc;margin:8px 12px 0;border-bottom:1px solid #e8e9e8;line-height: 22px;}
.new-store-region{width:73px;margin-left:13px;float: left;}
.new-store-name{width:190px;float: left;}
.new-store-brand{float: left;}
/* 入驻店铺内容 */
.new-store-list{margin-top:10px;}
.new-store-list li{line-height: 26px;padding:0 12px;background-color: #f8f8f8;margin-bottom: 2px;}
.new-store-list .new-store-region a{color:#ff6700;}
.new-store-list .new-store-name a{color:#666;}
.new-store-list .new-store-brand a{color:#1e3f87;}
/* 今日出货排名 */
.today-ranking-content{background-color:#fcfcfc;}
.today-ranking{width:251px;}
.today-ranking-type{margin-left: -1px;}
.today-ranking-type li{position:relative;float:left;width: 62px;height:27px;font-size:14px;color:#666;line-height:27px;text-align: center;background-color:#e0e0e0;margin-left: 1px;}
.today-ranking-type li .angle{display:none;position:absolute;top:27px;left:50%;margin-left:-3px;border-width:5px;border-style:solid;border-color:#179c6a transparent transparent transparent;width:0;height:0;}
.today-ranking-type li.current{background-color: #179c6a;color:#fff;}
.today-ranking-type li.current .angle{display:block;}
/* 排行列表 */
.today-ranking-list-box{width:251px;height:433px;}
.today-ranking-list-box ul{padding:0 10px;display:none;}
.today-ranking-list-box ul.current{display: block;}
.today-ranking-list-box li{border-bottom: 1px dashed #e3e3e3;padding:10px 0 5px 15px;position:relative;}
.today-ranking-list-box li.last{border-bottom:none;}
.today-ranking-word{font-size:14px;float:left;width:130px;}
.today-ranking-word .phone-name{color:#333;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;line-height: 20px;}
.today-ranking-word .phone-name a{color: #333;}
.today-ranking-word .price{color:#ff6700;line-height: 20px;}
.today-ranking-word .sale-num{color:#afafaf;line-height:20px;margin-top: 10px;}
.today-ranking-picture{float:right;width:70px;height:70px;}
.today-ranking-picture img{vertical-align: middle;}
/* 排名名次 */
.today-ranking-num{width:15px;height:16px;line-height: 16px;text-align:center;color:#fff;background-color:#179c6a;position:absolute;left:-5px;top:11px;}
.today-ranking-num.latter{background-color:#e6e6e6;color:#484848;}


/* 热销品牌 */
.hot-logo{  width: 100%;  background: #fff;  margin-top: 20px;}
.hot-title-l{  float: left;  padding-top: 24px;  color: #333;  font-size: 20px;  }
.hot-title-r{  float: right;  padding: 32px 0 12px 0;  margin-right: 10px;  color: #bebebe;  font-size: 12px;  }
.hot-title-r a{  color: #b4b4b4;  }
.hot-ul{  display: block;  overflow: hidden;  }
.hot-ul li{  _display:inline; width: 171px;  height: 84px;  float: left;}
.hot-ul li a{ display:block;}
.hot-ul li a:hover{transform:scale(1.1);transition: transform .5s ease-in-out;}
.hot-ul li img{  vertical-align:top;  height: 64px;  width: 145px;  padding: 10px 13px;  }
.hot-adv-bar{  height: 90px;  width: 100%;padding: 30px 0;  }
.hot-adv-bar img{  vertical-align: top;  }































