
/* 筛选层级与总数 */
.screen-box{margin-bottom:65px;}
.screen{font-size:14px;padding:15px 0;}
/* 总数 */
.screen-total{color:#b0b0b0;}
.screen-total span{color:#fa6642;}
/* 层级 */
.screen-level li{float:left;height:24px;line-height:22px;}
.screen-level .home{color:#333;}
.level-arrow{width:4px;height:22px;background:url(../images/list/level-arrow.png) no-repeat center;margin:0 8px;}
.menu-drop-subject{display:inline-block;height:22px;padding:0 15px;border-width:1px;border-style:solid;border-color:#efefef;}
.level-select .option{color:#f26432;}
.level-select .menu-drop-subject{padding-right:35px;position:relative;}
.screen-close{position:absolute;width:9px;height:9px;right:11px;top:7px;background-image:url(../images/list/screen-close.png);background-repeat: no-repeat;background-position:0 0; }
.level-select.current .menu-drop-subject{border-color:#43af86;}
.level-select.current .screen-close{background-position:0 -11px;}

/* 分类内容 */
.selector{border:2px solid #efefef;position:relative;}
.prop-item{font-size:12px;line-height:34px;padding-bottom:5px;}
.prop-item dl{padding-left:144px;position:relative;background-color:#fbfbfb;border-bottom:1px solid #efefef;}
.prop-item dt{position:absolute;left:0;top:0;padding-left:20px;color:#999;}
.prop-item dd{padding-left:18px;border-left:1px solid #efefef;background-color: #fff;}
.prop-item dd a{color:#545252;}
/* 品牌 */
.brand-imglist dt{top:10px;}
.brand-imglist dd{padding:20px 0 20px 18px;}
.brand-inner{margin:1px 0 0 1px;}
.brand-inner li{float:left;width:80px;height:40px;border-width:1px;border-style:solid;border-color:#ebebeb;margin:-1px 0 0 -1px;padding:10px;}
.brand-inner li.current{position:relative;z-index:1;border-color:#40ac83;}
.brand-inner li a{display:block;}
.brand-inner li img{vertical-align:middle;}
/* 类型排序 */
.screen-sort li{float:left;height:34px;margin-right:30px;}

/* 加载更多 */
.screen-other{display:none;}
.screen-other.current{display:block;}
/* 更多筛选 */
.more-or-return{width:1200px;height:2px;position:absolute;bottom:-2px;left:-2px;background-color:#efefef;}
.more-or-return.current{background-color:#43af86;}
.more-or-return .option{cursor:pointer;font-size:12px;color:#545252;text-align: center;display:block;width:140px;height:21px;border-style:solid;border-color:#efefef;border-width:0 2px 2px 2px;background-color:#fff;position:absolute;left:50%;top:0;margin-left:-70px;}
.more-or-return .option.hide{display:none;}
.more-or-return .option.hover{color:#43af86;border-color:#43af86;}




        /*电商产品清单*/
        .wrapper{  position: relative;  width: 1200px;  margin: 0 auto;  }
        .product-title{  height: 20px;  padding: 10px 0 9px;  margin-bottom: 6px;  background: #e8e8e8;  }
        .product-title-l{  display: block;  float: left; margin-left: 18px;  }
        .product-title-l li{float: left;  _display:inline;  width: 58px;  line-height: 21px;  height: 21px;  color: #333;  text-align: center;  font-size: 12px;  background: #fff;  margin-left: 1px;  cursor: pointer;  }
        .product-title-l li.hover{  background: #179c6a;  color: #fff;  }
        .product-title-l .product-title-price{padding-right:10px;width:48px;position:relative;}
        .product-title-price.hover .up{background-position:0 -24px; }
        .product-title-price.hover.top .up{background-position:0 -12px;}
        .product-title-price.hover .down{background-position:0 -30px; }
        .product-title-price.hover.bottom .down{background-position:0 -18px; }
        .product-title-price span{position:absolute;right:8px;width:7px;height:5px;background-image:url(../images/list/price-arrow.png);background-repeat:no-repeat;}
        .product-title-price .up{top:5px;background-position:0 0;}
        .product-title-price.top .up{background-position:0 -12px;}
        .product-title-price .down{bottom:4px;background-position:0 -6px;}
        .product-title-price.bottom .down{background-position:0 -18px;}

        .product-title-r{  float: right;  margin-right: 20px;  }
        .product-title-r div{  margin-right: 7px;  float: left;  }
        .product-title-r-count{  color: #9e9e9e;  font-size: 10px;  padding-right: 5px;  padding-top: 2px;  }
        .product-title-r-count1{  color: #ef8560;  }
        .product-title-r-btn{  height: 19px;  width: 19px;  border: 1px solid #dbdbdb;  cursor: pointer;  }
        .product-title-r-btn1{  background: #fff url(../images/list/product_spirit.png) no-repeat 0 0;  }
        .product-title-r-btn2{  background: #fff url(../images/list/product_spirit.png) no-repeat -20px 0;  }
        .product-title-r-btn1:hover{  background: #ffab8d url(../images/list/product_spirit.png) no-repeat 0 0;  }
        .product-title-r-btn2:hover{  background: #ffaa8d url(../images/list/product_spirit.png) no-repeat -20px 0;  }


        .product-list{  display: block;  overflow: hidden;  }
        .product-list li{  float: left;  _display:inline;  margin-top: 4px;  height: 404px;  width: 232px;  border: 4px solid #fff;  }
        .product-list li.current{border-color:#e8e8e8;}
        .product-list li.current .product-img-bar{display:block;}
        .product-list li.current .product-list-sale{display:block;}
        .product-list-img{  vertical-align: top;  position: relative;  height: 208px;  width: 232px;  }
        .product-list-img img{vertical-align:middle;}
        .product-img-bar{  display: none;  position: absolute;  bottom: 0;  height: 30px;  width: 100%;  }
        .product-list-img-bar1{   background: #19bf86;  filter:alpha(opacity=80);  -moz-opacity:0.8;  -khtml-opacity: 0.8;  opacity: 0.8;  }
        .product-list-img-bar2{   line-height: 30px;  color: #fff;  font-size: 12px;  text-indent: 15px;  }
        .product-list-info{  height: 127px;  width: 206px;  padding: 0 13px 10px;  }
        .product-info-price{  line-height: 20px;  height: 20px;  margin-top: 24px;  }
        .product-info-price1{  float: left;  margin-top: 2px;  line-height: 20px;  font-size: 18px;  color: #f26432;  }
        .product-info-price2{  float: right;  line-height: 20px;  font-size: 12px;  border: 1px dashed #fcb3b3;  color: #ff3333;  }
        .product-info-detail{  width: 100%;  color: #333;  margin-top: 10px;  font-size: 12px;  }
        .product-info-detail{  color: #333;  }
        .product-info-detail a:hover{  color: #f26432;  }
        .product-info-describe{  font-size: 12px;  margin-top: 6px;  color: #666;  }
        .product-info-describe-static{  color: #179c6a;  }
        .product-info-seller{  margin-top: 20px;  line-height: 20px;  font-size: 12px;  }
        .product-info-seller1{  float: left;  color: #545252;  cursor: pointer;  }
        .product-info-seller2{  float: right;  color: #999;  }
        .product-info-amount-all{  color: #f26432;  font-weight: 700;  }
        .product-list-sale{  display: none;  height: 33px; width: 230px;  line-height: 34px;  font-size: 12px;  text-align: center;  border-style: solid;  border-width: 1px;  border-color: #e9e9e9 #fff #fff; }
        .product-list-sale.hover{  background:#fef3ef;  color: #f26432;  border: 1px solid #f26432;  }
        .product-list-sale.hover a{  color: #f26432;  }


        .product-foot{  padding: 30px 0 80px;  }
        .product-foot-wrap{  float: right;  }
        .product-foot-btn{  float: left;  height: 32px;  width: 40px;  margin-right: 8px;  border: 1px solid #e6e6e6;  cursor: pointer;  }
        .product-foot-btn1{  background: url(../images/list/product_spirit.png) no-repeat 0 -18px;  }
        .product-foot-btn2{  margin-right: 22px; background: url(../images/list/product_spirit.png) no-repeat 0 -50px;  }
        .product-foot-btn1.hover{  background: url(../images/list/product_spirit.png) no-repeat 0 -82px;  border: 1px solid #179c6a;  }
        .product-foot-btn2.hover{  background: url(../images/list/product_spirit.png) no-repeat 0 -114px;  border: 1px solid #179c6a;  }
        .product-foot-ul{  float: left;  display: block;  overflow: hidden;  }
        .product-foot-ul li{  _display:inline;  float: left;  height: 32px;  line-height: 32px;  width: 34px;  font-size: 12px;  color: #737272;  margin-right: 6px;  text-align: center;  border: 1px solid #e6e6e6;  cursor: pointer; }
        .product-foot-ul li.hover{  color: #179c6a;  border: 1px solid #179c6a;  }
        .product-foot-ul li.pro-foot-now-page{  border: 1px solid #179c6a;  color: #fff;  background: #179c6a;  }
        .product-foot-ul li.pro-foot-now-page:hover{  color: #fff;  }
 


























