body{background-color:#f0f0f0;}

/* 头部 */
.shop-head-box{background-color:#fff;}
.shop-header-logo-box{padding:20px 0;border-bottom:1px solid #eaeaea;}
.shop-name-box{padding-left:15px;border-left:1px solid #e0e0e0;height:52px;margin-left:5px;}
.shop-name-box .shop-name{font-size:14px;line-height:20px;margin-bottom:6px;}
.shop-name-box .brand-sale-type{border:1px solid #ffcfa9;background-color:#f7efca;font-size:12px;line-height:14px;padding:0 7px;}
/* 搜索框 */
.head-shop-search-box{padding:34px 0 38px 0;background-color:#fff;}
.shop-logo{font-size:24px;padding-left:112px;background:url(../images/shopIndex/shop-logo.png) no-repeat left center;line-height:36px;}
.shop-search-box{font-size:14px;}
.shop-search-box .this-shop{width:557px;height:32px;border:2px solid #ff5301;}
.shop-search-box .this-shop input{border:none;outline:none;}
.shop-search-type{width:72px;height:32px;background-color:#f5f5f5;color:#666;text-align: center;line-height:32px;}
.shop-search-text{width:346px;height:32px;padding-left:30px;background: url(../images/head-search-text.png) no-repeat 8px center;}
.shop-search-btn{width:108px;height:32px;color:#fff;background-color:#ff5301;font-weight:bold;cursor:pointer;}
.shop-search-box .whole{width:110px;height:36px;background-color:#545252;border:none;outline:none;color:#fff;text-align: center;font-weight:bold;margin:0 53px 0 10px;cursor:pointer;}
/* 导航 */
.shopIndex-nav-box{height:40px;background-color:#333;border-top:1px solid #eaeaea;}
.shopIndex-nav a{float:left;width:130px;height:40px;text-align:center;line-height:40px;font-size:16px;color:#b0b0b0;text-decoration:none;}
.shopIndex-nav a.current{background-color:#545252;color:#fff;}
.shopIndex-nav a:hover{background-color:#545252;color:#fff;}


/* 焦点图盒子 */
/* 焦点图 */
.focus-box{width:100%;height:462px;}
.focus{height:462px;}
.focus li{height:462px;}
.focus a{display:block;height:462px;background-repeat:no-repeat; background-position:center;}
.focus img{vertical-align:middle;}
/* bxslider */
.bx-wrapper{position:relative;}
.bx-viewport{z-index:2;}
.bx-controls{position:relative;z-index:2;width:1200px;margin:0 auto;}
.bx-pager-item{display:inline-block;width:19px;height:19px;margin:0 7px;font-size: 0;line-height:0;}
.bx-pager-link{display:block;width:19px;height:19px;background-repeat:no-repeat;background-image:url(../images/focus-item.png);background-position:0 0;}
.bx-pager-link.active{background-position:0 -20px;}
.bx-pager{position:absolute;top:-46px;left:0;width:100%;text-align: center;display:none;}
.bx-controls-direction a{width:47px;height:133px;position:absolute;top:-315px;background-color:#cacaca;background-repeat: no-repeat;background-position: center;}
.bx-controls-direction a:hover{background-color:#919191;}
.bx-controls-direction .bx-prev{left:0;background-image: url(../images/focus-prev.png);}
.bx-controls-direction .bx-next{right:0;background-image: url(../images/focus-next.png);}



        /*style*/
        .wrapper{  width: 1200px;  margin: 0 auto;  }
        .shop-title{  padding: 25px 0 20px;  color: #333;  font-size: 20px;  }
        .intro-ul{  display: block;  overflow: hidden;margin: 0 auto;  }
        .intro-ul li{  float: left;  _display:inline;  width: 226px;  height: 378px;  background: #fff;  margin: 0 3px;  border: 4px solid #fff;  }
        .intro-ul li:hover{  border: 4px solid #f0f0f0;  }
        .intro-li-img{  height: 226px;  }
        .intro-li-img img{  vertical-align: top; padding: 13px;  }
        .intro-li-text{  width: 180px;  margin: 6px auto 0;  }
        .intro-li-text p{  line-height: 22px;  font-size: 12px;  }
        .intro-li-text p a{color:#333;}        
        .intro-li-text div{  padding-top: 35px;  line-height: 26px;  font-size: 22px;  color: #ff5301;  text-align: center;  }


        .bra-title{  position:relative; z-index:0; padding-top: 36px;  background: #fff;  border-bottom: 3px solid #f0f0f0;  }
        .bra-title-ul{  position: relative;  float: left;  display: block;  padding-left: 24px;  }
        .bra-title-ul li{  position: relative;  z-index: 0;  _display:inline;  float: left;  height: 45px;  line-height: 45px;  font-size: 20px;  text-align: center;  color: #333;  padding: 0 33px;  border-width: 3px 2px 3px 2px;  border-color: transparent transparent #f0f0f0 transparent;  border-style: solid;  margin-left: -2px;  margin-bottom: -3px;  cursor: pointer;  }
        .bra-title-ul .li-hover{  z-index: 99;  border-color: #ff5301 #f0f0f0 #fff #f0f0f0;  color: #ff5301;  }
        .bra-title-btn{  float: right;  width: 100px;  margin-right: 10px;  padding-top: 18px}
        .bra-title-btn span{  width: 24px;  height: 20px;  line-height: 20px;  border: 1px solid #e6e6e6;  float: left;  margin-right: 10px;  cursor: pointer;  }
        .bra-title-btn span:hover{  background-color: rgba(255, 83, 1, 0.31);  }
        .bra-title-btn1{  background:#fff url(../images/shopIndex/shop_page_spirit.png) 2px 1px no-repeat;  }
        .bra-title-btn2{  background:#fff url(../images/shopIndex/shop_page_spirit.png) -16px 1px no-repeat;  }


        .bra-container{  background: #fff;  }
        .bra-content{  display: none; }
        .bra-content.bra-content-block{ display: block;}
        .bra-content-price{  height: 23px;  padding: 30px 0;  margin-left: 40px;  }
        .bra-content-price span{  border: 1px solid #c6c6c6;  line-height: 24px;  font-size: 14px;  padding: 2px 10px;  margin-right: 30px;  cursor: pointer;  }
        .bra-content-price a{  color: #333;  line-height: 22px;  font-size: 14px;  margin-right: 45px;  }
        .bra-content-price a:hover{  color: #ff5301;  text-decoration: none;  }
        .bra-content-price span{  border: 1px solid #c6c6c6;  line-height: 24px;  font-size: 14px;  padding: 2px 10px;  margin-right: 30px;  cursor: pointer;  }
        .bra-content-list{ border-collapse: collapse;}
        .bra-content-list thead th{  height: 29px;  font-size: 14px;  line-height: 16px;  font-weight: 400;  color: #999;  text-align: left;  border-bottom: 1px dashed #f0f0f0;  }

        .bra-content-list td{  text-align: left;  font-size: 14px;border:none;  }
        .bra-content-list .td1{ width: 165px;padding-left: 45px }
        .bra-content-list .td2{ width: 390px; }
        .bra-content-list .td3{ width: 100px; }
        .bra-content-list .td4{ width: 100px; }
        .bra-content-list .td5{ width: 260px; }
        .bra-content-list .td6{ width: 140px; }
        .bra-content-list tbody tr{  height: 50px; padding-left: 45px; }
        .bra-content-list tbody tr .tb-td4{  color: #ff5301;  }
        .bra-content-list tbody tr td a {  color: #1e9e49;  }
        .bra-content-foot{  padding: 40px 0 40px;  }
        .bra-content-foot-wrap{  margin-left: 440px; }
        .bra-content-foot-btn{  float: left;  height: 32px;  width: 40px;  margin-right: 8px;  border: 1px solid #e6e6e6;  cursor: pointer;  }
        .bra-content-foot-btn1{  background: url(../images/shopIndex/shop_page_spirit.png) no-repeat 0 -18px;  }
        .bra-content-foot-btn2{  margin-right: 22px; background: url(../images/shopIndex/shop_page_spirit.png) no-repeat 0 -50px;  }
        .bra-content-foot-btn1:hover{  background: url(../images/shopIndex/shop_page_spirit.png) no-repeat 0 -82px;  border: 1px solid #ff5301;  }
        .bra-content-foot-btn2:hover{  background: url(../images/shopIndex/shop_page_spirit.png) no-repeat 0 -114px;  border: 1px solid #ff5301;  }
        .bra-content-foot-ul{  float: left;  display: block;  overflow: hidden;  }
        .bra-content-foot-ul li{  _display:inline;  float: left;  height: 32px;  line-height: 32px;  width: 34px;  font-size: 12px;  color: #737272;  margin-right: 6px;  text-align: center;  border: 1px solid #e6e6e6;  cursor: pointer; }
        .bra-content-foot-ul li:hover{  color: #ff5301;  border: 1px solid #ff5301;  }
        .bra-content-foot-ul li.bra-content-foot-page{  border: 1px solid #ff5301;  color: #fff;  background: #ff5301;  }
        .bra-content-foot-ul li.bra-content-foot-page:hover{  color: #fff;  }



/* 售后承诺 */
.service-promise{height:324px;background-color:#fff;}
.service-promise-con{padding:25px;height:274px;text-align: center;line-height:274px;}
.service-promise-con img{vertical-align:middle;width:100%;height:100%;}

/* 支持物流 */
.express-type{background-color:#fff;padding:8px;}
.express-type li{float:left;width:160px;height:55px;font-size:0;text-align:center;line-height:55px;margin-right:8px;}
.express-type li img{width:160px;height:55px;}

/* 联系方式 */
.information{background-color:#fff;font-size:14px;overflow:hidden;padding:45px 0;margin-bottom: 20px;}
.information-title{font-size:18px;color:#333;}
/* 地址 */
.information-address{margin-left:205px;width:356px;position:relative;padding-right:38px;}
.information-address dl{font-size: 14px;line-height:30px;colro:#333;padding-left:42px;position:relative;}
.information-address dt{position:absolute;left:0;top:0;}
.information-address dd{}
.information-address .icon{width:80px;height:61px;position:absolute;left:-127px;top:0;background:url(../images/shopIndex/address-icon.png) no-repeat 0 0; }
.information-address .line{width:1px;height:80px;position:absolute;right:0;top:25px;border-right:2px dashed #adadad; }
/* 电话 */
.information-phone{margin-left:140px;position:relative;}
.information-phone .icon{width:65px;height:65px;position:absolute;left:-105px;top:0;background:url(../images/shopIndex/address-icon.png) no-repeat 0 -63px;}
.information-phone .phone-num{font-size:24px;color:#ff5301;line-height:36px;}
.information-phone .phone-num span{font-size:14px;color:#999;line-height:16px;}















































