
/*reset*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0;}
ul,ol{list-style:none;}
body{font:12px/1.5 Arial; -webkit-text-size-adjust: none;}
select,input,button{vertical-align:middle;font-size:100%;}
fieldset,img{border:0 none;}
em{font-style:normal;}
.clear {clear:both;display:block;height:0; visibility:hidden; font:0/0 arial}
.clearfix:after {content:"."; display: block; height: 0; clear: both; visibility: hidden; font-size:0}    
.clearfix {*zoom:1}
body{font: 12px/1.5 'Microsoft YaHei';}
.fl{float:left;}
.fr{float:right;}
a{color:#b4b4b4;text-decoration: none;}
a:hover{text-decoration:underline;}

/* 头部 */
.wrap{width:1200px;margin:0 auto;}
/* 顶部 */
.topbar-box{height:30px;background-color:#e8e8e8;}
.topbar{width:1200px;height:30px;line-height:30px;margin:0 auto;color:#8f8f8f;font-size: 14px;}
.topbar a{color:#8f8f8f;padding: 0 13px;}
.topbar a:hover{color:#179c6a;}

/* 头 */
.head-box{background-color:#fff;padding:40px 0 23px;}
.b2b-logo{width:234px;height:52px;}
.b2b-logo a{display:block;height:50px;background:url(../images/b2b-logo.png) no-repeat center;font-size:0;line-height:0;}
/* 搜索框 */
.head-search-box{margin-left:70px;}
.search{width:511px;height:32px;border:2px solid #179c6a;}
/* 产品 */
.head-product-search{cursor:pointer;position:relative;width:60px;padding-right:12px;height:32px;line-height:32px;text-align:center;background:#f5f5f5 url(../images/head-product-search-btn.png) no-repeat 54px center;}
.head-product-search .select{display:none;z-index:3;width:60px;border:2px solid #179c6a;border-top:none;background-color:#f5f5f5;position:absolute;left:-2px;top:32px;}
.head-product-search.current .select{display:block;}
.head-product-search .select li{cursor:pointer;}
.head-product-search .select li.current{background-color:#179c6a;color:#fff;}
.search input{border:0 none;outline:none;}
.head-search-text{width:300px;height:32px;padding-left:30px;background: url(../images/head-search-text.png) no-repeat 8px center;}
.head-search-btn{width:108px;height:32px;background-color:#179c6a;font-size:16px;color:#fff;font-weight:bold;}
.header .phone-num{font-size:30px;color:#179c6a;line-height:40px;padding-left: 50px;background: url(../images/nav-phone-num.png) no-repeat left center;}
.hot-search{color:#b8b8b8;font-size:14px;line-height:28px;}
.hot-search a{display:inline-block;margin:0 8px;color:#b8b8b8;}
.hot-search a:hover{color:#179c6a;}

/* 导航 */
.nav-box{height:40px;background-color: #333;}
.nav-content{position: relative;}
/* 中部导航 */
.nav{padding-left:234px;}
.nav a{float:left;width:130px;height:40px;text-align: center;line-height: 40px;font-size: 16px;color:#b0b0b0;text-decoration:none;}
.nav a:hover{background-color: #179c6a;color:#fff;}
.nav a.current{background-color: #179c6a;color:#fff;}
/* 全部产品导航 */
.nav-whole-container{position: absolute;left:0;top:0;width:234px;height:40px;font-size: 14px;background:#545252 url(../images/nav-whole-container-drop-wown.png) no-repeat 206px center;}
.nav-whole-container h3{padding-left: 32px;line-height:40px;background: url(../images/nav-whole-container-menu.png) no-repeat 12px center;color:#fff;}
/* 导航下拉内容 */
.nav-product-content-box{width:234px;height:462px;position: absolute;left:0;top:40px;z-index:3;display:none;}
/* 透明层 */
.nav-product-content-opacity{width:234px;height:462px;position: absolute;left:0;top:0;background-color: #000;opacity: .7 ;}
/* 内容 */
.nav-product-content{width:234px;height:448px;position: absolute;left:0;top:0;padding-top: 12px;}
.nav-product-content li{height:42px;line-height:42px;font-size: 14px;color:#b0b0b0;background:url(../images/nav-product-type-icon.png) no-repeat 197px center;}
.nav-product-content li.current{background:#189c6b url(../images/nav-product-type-current-icon.png) no-repeat 197px center;}
.nav-product-content li.current .nav-product-type a{color:#fff;}
.nav-product-content li.current .nav-product-type-con-box{display:block;}
.nav-product-type{padding-left: 30px;}
.nav-product-type a{color:#b0b0b0;}
/* 导航列表内容 */
.nav-product-type-con-box{width:716px;height:462px;position: absolute;left:234px;top:0;display:none;}
.nav-product-type-con-bg{width:716px;height:462px;position: absolute;left:0;top:0;background-color:#fcfcfc;opacity:.9;}
.nav-product-type-con{width:632px;height:432px;padding:30px 42px 0;position: absolute;left:0;top:0;font-size:12px;}
.nav-product-type-con a{color:#333;line-height: 26px;}
.nav-product-type-con dl{position: relative;margin-bottom: 35px;}
.nav-product-type-con dt{position: absolute;left:0;top:0;font-weight: bold;}
.nav-product-type-con dt a{display: block;}
.nav-product-type-con dd{padding-left: 68px;}
.product-project-con a{float: left;margin:0 12px;}
.product-project-con em{float: left;line-height: 26px;}
/* 服务保障 */
.nav-product-type-con .service{margin-bottom: 24px;}
.service a{color:#00af76}
.service .product-project-con a{padding-left: 27px;margin:0 20px 0 0;background-position: left center;background-repeat: no-repeat;}
.service .product-project-con .service-1{background-image:url(../images/service-1.png);background-size:21px 21px;}
.service .product-project-con .service-2{background-image:url(../images/service-2.png);}
.service .product-project-con .service-3{background-image:url(../images/service-3.png);}
.service .product-project-con .service-4{background-image:url(../images/service-4.png);}
.service .product-project-con .service-5{background-image:url(../images/service-5.png);}
/* 购物车 */
.nav-shopping-car{height:40px;line-height: 40px;font-size: 16px;color:#eb654c;padding:0 30px 0 54px;position: relative;z-index:3;background:#545252 url(../images/nav-shopping-car.png) no-repeat 24px center;}
.shopping-num{width:15px;height:15px;line-height: 15px;text-align: center;position: absolute;top:0;right:12px;color:#fff;font-size:12px;background-image: url(../images/shopping-num.png);background-repeat:no-repeat;background-position:center;}
.nav-shopping-car-angle{display:none;position:absolute;left:50%;top:40px;margin-left:-5px;z-index:5;width:0;height:0;border-width:9px;border-style:solid;border-color:#179c6a transparent transparent transparent;}
.nav-shopping-car.current{background:#189c6b url(../images/nav-shopping-car-current.png) no-repeat 24px center;;color:#fff;}
.nav-shopping-car.current .shopping-num{background-image: url(../images/shopping-num-current.png);color:#ff6800;}
.nav-shopping-car.current .nav-shopping-car-angle{display:block;}
/* 购物车内容 */
.nav-shopping-box{position:absolute;right:0;top:40px;background-color: #fefefe;z-index: 3;padding:0 12px 15px;display:none;}
/* 内容 */
.shopping-content-box{padding-right:10px;margin:5px 0;height:261px;overflow: hidden;position:relative;width:260px;}
.shopping-content{width:260px;position:absolute;left:0;top:0;}
.shopping-content li{width:260px;border-bottom: 1px solid #e9e9e9;}
.shopping-content .picture{width:86px;height:86px;font-size:0;line-height: 90px;text-align: center;}
.shopping-content .picture img{vertical-align: middle;width:100%;}
.shopping-content-word{width:130px;margin:22px 0 0 10px;}
.shopping-content-word p{font-size: 14px;line-height: 24px;}
.shopping-content-word .product-name{color:#323232;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}
.shopping-content-word .product-price{color:#ff6800;}
.shopping-content .remove{font-size:12px;color:#6477af;line-height:86px;margin-right: 10px;cursor:pointer;}
/* 滚动条 */
.shopping-content-scroll{width:3px;height:100%;position:absolute;right:3px;top:5px;background-color: #ededed;}
.shopping-content-scroll .track{background-color: #ededed;width:3px;}
.shopping-content-scroll .thumb{background-color: #c6c6c6;width:3px;position:absolute;}
/* 加载更多 */
.shopping-content-more{width:262px;height:10px;margin:0 auto;background:#e4e4e4 url(../images/shopping-content-more.png) no-repeat center;}
/* 剩余数 */
.shopping-car-surplus{font-size: 14px;font-weight: bold;color: #333;text-align: right;line-height: 40px;}
.shopping-car-surplus span{color:#f83902;}
/* 查看我的购物车 */
.see-my-shopping-car span{cursor:pointer;width:130px;height:28px;text-align: center;line-height: 28px;color:#fff;font-size: 12px;background-color: #179b69;}




/* 底部 */
.footer{  width: 100%;  background: #3d3d3d;  }
.foot-help-title{  padding-top: 25px;  line-height: 25px; font-size: 20px;  color: #fff;  }
.foot-item-ul{  display: block;  overflow: hidden;  margin: 0 19px;  }
.foot-item-ul li{  float: left;  _display:inline;  height: 120px;  width: 290px;  border-bottom: 1px solid #525252;  }
.foot-item-s1{  float: left;  height: 65px;  width: 65px;  margin: 30px 35px 25px 20px;  }
.foot-item-s2{  float: left;  }
.foot-item-s2 p{  padding-top: 40px;  font-weight:600; color: #a1a1a1;  font-size: 18px;  }
.foot-item-s2 a h4{  color: #616161;  font-size: 14px;  }
.foot-item-s2 a h4:hover{  color: #979797;  text-decoration: none;  }
.item-bg-pos1{ background: url("../images/foot_item.png") -10px -10px no-repeat;  }
.item-bg-pos2{  background: url("../images/foot_item.png") -10px -85px no-repeat;  }
.item-bg-pos3{  background: url("../images/foot_item.png") -10px -159px no-repeat;  }
.item-bg-pos4{  background: url("../images/foot_item.png") -10px -235px no-repeat;  }
.foot-info{  width: 1000px;  margin: 0 auto;  }
.foot-info dl{  float: left;  width: 200px;  height: 270px;  }
.foot-info dl dt{  padding: 20px 0 5px;  line-height: 20px;  font-size: 18px;  color: #b0b0b0;  }
.foot-info dl dd p a{  line-height: 26px;  font-size: 14px;  color: #616161;  }
.foot-version-bar{  height: 55px;  line-height: 18px;  font-size: 16px;  color: #b0b0b0;  text-align: center;  }



































