<div ng-controller="adManageController as showCase">
    <style>
        .imgBox img{max-width: 100px;}
    </style>
    <h3 class="page-title">
        广告管理
    </h3>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="row">
                <div class="col-lg-9 col-xs-6">
                    <span class="panel-heading-title">广告管理</span>
                </div>
                <div class="col-lg-3 col-xs-6 ui_right">
                    <a href="#/adEdit" class="btn btn-success btn-sm">新增广告</a>
                    <a href="javascript:;" class="btn btn-primary btn-sm" ng-click="search()">查询</a>
                    <span ng-if="form.isShow" form-show="{{form.isShow}}"></span>
                </div>
            </div>
        </div>
        <div class="panel-body" id="form-cot">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" id="js_form">
                        <div class="form-group col-lg-3">
                            <label>广告名称</label>
                            <input name="name" value="" ng-model="form.name" class="form-control" placeholder="请输入广告名称">
                        </div>
                        <div class="form-group col-lg-3">
                            <label>状态：</label>
                                <select name="status" ng-model="form.status" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="0">无效</option>
                                    <option value="1">有效</option>
                                </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>上传时间</label>
                            <div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" name="startTime" ng-model="form.startTime">
                                <span class="input-group-addon">to </span>
                                <input type="text" class="form-control" name="endTime" ng-model="form.endTime">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <span class="panel-heading-title">搜索结果</span>
                </div>
                <div class="col-lg-6 col-xs-6 ui_right"></div>
            </div>
        </div>
        <div class="panel-body" style="font-size: 13px">
            <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" dt-disable-deep-watchers="true" class="row-border hover" id="dataTables"></table>
        </div>
    </div>
</div>

<!--广告详情弹窗模板-->
<script type="text/ng-template" id="adDetailCtrl.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">×</button>
        <h4 class="modal-title fn-ms">广告详情</h4>
    </div>
    <div class="modal-body clearfix">
        <div class="col-lg-12">
            <table class="table table-bordered" style="table-layout: fixed">
                <tbody>
                <tr>
                    <td style="width: 20%;">广告名称：</td>
                    <td style="word-break: break-all;word-wrap: break-word;">{{info.name}}</td>
                </tr>
                <tr>
                    <td>广告图片：</td>
                    <td class="imgBox"><a target="_blank" href="{{G.imagePath+info.imagePath}}"><img style="border:1px solid #ccc" ng-src="{{G.imagePath+info.imagePath}}" alt=""></a></td>
                </tr>
                <tr>
                    <td>版位：</td>
                    <td>{{info.layoutStr}}</td>
                </tr>
                <tr>
                    <td>渠道：</td>
                    <td>{{info.channelStr}}</td>
                </tr>
                <tr>
                    <td>生效时间：</td>
                    <td>{{info.startTime}}</td>
                </tr>
                <tr>
                    <td>截止时间：</td>
                    <td>{{info.endTime}}</td>
                </tr>
                <tr>
                    <td>广告URL：</td>
                    <td>{{info.linkUrl}}</td>
                </tr>
                <tr>
                    <td>URL类型：</td>
                    <td>{{info.linkUrlTypeStr}}</td>
                </tr>
                <tr>
                    <td>显示顺序：</td>
                    <td>{{info.priority}}</td>
                </tr>
                <tr>
                    <td>状态：</td>
                    <td>{{info.statusStr}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script>
    $(function(){
        ComponentsPickers.init();
    })
</script>
