@baseSize:75;
*{ margin: 0; padding: 0;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
img{display: block;}
body{
    background:url(../images/bodyBg.png) repeat;
    background-size: 750rem/@baseSize 851rem/@baseSize;
   background-color:#9f1f18;
}
.headerImg{ 
    width: 100%;
    
    img{
        width: 100%;
    }
}
.headerImg img:nth-child(3){
    height: 0;
    overflow: visible;
}
/*.mainBox{ margin-top:-560rem/@baseSize;}*/
.mainContent{ padding: 0 33rem/@baseSize;}
.item{
    position: relative;
    background: rgba(255,255,255,0.9);
    border-radius: 30rem/@baseSize;
    margin-bottom: 70rem/@baseSize;
  /*  border:8rem/@baseSize  solid ;
    border-image-source: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(200, 30, 30, .6)), color-stop(.25, rgba(200, 30, 30, 0.9)), color-stop(.5, rgba(200, 30, 30, 0.9)), color-stop(.5, rgba(200, 30, 30, .6)), color-stop(.75, rgba(200, 30, 30, .6)), color-stop(.75, rgba(200, 30, 30, 0.9)), to(rgba(200, 30, 30, 0.9)));
    border-image-source: linear-gradient(-45deg, rgba(200, 30, 30, .6) 25%, rgba(200, 30, 30, 0.9) 25%, rgba(200, 30, 30, 0.9) 50%, rgba(200, 30, 30, .6) 50%, rgba(200, 30, 30, .6) 75%,  rgba(200, 30, 30, 0.9) 75%, rgba(200, 30, 30, 0.9));
    border-image-slice:30 120 30 120;
    border-image-width:40rem/@baseSize;
    border-image-repeat:repeat;
    
    border-bottom: none; */
    
    
    border: 8rem/@baseSize solid transparent;
    background-clip: padding-box;
     padding:  120rem/@baseSize 0 20rem/@baseSize 0;
     &:first-child{
      
     }
    &::after{
        position: absolute;
        top: -8rem/@baseSize; 
        left: -8rem/@baseSize;
        right: -8rem/@baseSize; 
        bottom: -8rem/@baseSize; 
        background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,  transparent 75%, transparent);
        background-color: rgb(200, 30, 30);
        content: '';
        z-index: -2;
        border-radius: 20rem/@baseSize;
        background-size: 30rem/@baseSize 30rem/@baseSize;
        background-repeat: repeat;
    } 
     &::before{
        position: absolute;
        top: 0rem/@baseSize; 
        left: 0rem/@baseSize;
        right: 0rem/@baseSize; 
        bottom: 0rem/@baseSize; 
        background:url(../images/bodyBg.png) repeat;
        background-size: 750rem/@baseSize 851rem/@baseSize;
        background-color:#9f1f18;
        content: '';
        border-radius: 20rem/@baseSize;
        background-repeat: repeat;
        z-index: -1;
    } 
     &:first-child::before{
        position: absolute;
        top: 0rem/@baseSize; 
        left: 0rem/@baseSize;
        right: 0rem/@baseSize; 
        bottom: 0rem/@baseSize; 
        background:url(../images/headerImg3.jpg) repeat;
        background-size: 100% 400rem/@baseSize;
        background-color:#9f1f18;
        content: '';
        border-radius: 20rem/@baseSize;
        background-repeat: no-repeat;
        z-index: -1;
    }    
       
   
    
   
    .title{
        position: absolute; left: 50%; top:-15rem/@baseSize; color: #ffffff; font-size: 30rem/@baseSize;
        background: url(../images/itemTitleBg1.png) no-repeat; 
        background-size: 718rem/@baseSize 117rem/@baseSize;
        width: 718rem/@baseSize;
        height:117rem/@baseSize;
        line-height: 80rem/@baseSize;
        text-align: center;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .titleWord{
        background: url(../images/itemTitleBgWord.png) no-repeat ;
        background-size: 320rem/@baseSize 120rem/@baseSize;
        height: 30rem/@baseSize;
        width: 320rem/@baseSize;
        position: absolute;
        left: 50%;
        top:25rem/@baseSize;
         transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        background-position: 0 0;
        
        &.icon1{ background-position: 0 0;}
        &.icon2{ background-position: 0 -30rem/@baseSize;}
        &.icon3{ background-position: 0 -60rem/@baseSize;}
        &.icon4{ background-position: 0 -90rem/@baseSize;}
        
    }
    
   
    .boxItem{
        
       
        
        padding: 0 30rem/@baseSize;
        margin-bottom: 40rem/@baseSize;
        
        .boxItemCon{
          padding: 40rem/@baseSize 30rem/@baseSize 30rem/@baseSize 20rem/@baseSize;
          border: 1px solid rgb( 185, 155, 89 );
          border-radius: 8rem/@baseSize;
          background-color: rgb( 255, 255, 255 );
          box-shadow: 1.5rem/@baseSize 2.598rem/@baseSize 7rem/@baseSize 0px rgba( 0, 0, 0 ,0.21);
        }
       
        .btn{
            height: 40rem/@baseSize;
            width: 121rem/@baseSize;
            
            padding-right: 15rem/@baseSize;
            border-radius: 22rem/@baseSize;
            line-height: 42rem/@baseSize;
            color: #b69142;
            font-size: 20rem/@baseSize;
            background: #fffaf1;
            position: absolute;
            top: 5rem/@baseSize;
            right:0;
            text-align: center;
            border: 1px solid #b99c5a;
            
        }
        .arrowIcon{
            position: absolute;
            display: inline-block;
            top:10rem/@baseSize;
            right: 10rem/@baseSize;
            background: url(../images/arrowIcon.png) no-repeat; background-size:13rem/@baseSize 18rem/@baseSize;width: 13rem/@baseSize; height:18rem/@baseSize;
        }
       
    }
    .bgColor{
        
       .boxItemCon{ 
           position: relative;
           background: #fdf3de;
           &:after{
               content: " ";
               position: absolute;
               top:0;
               right: 0;
               background: url(../images/bgColorAfter.png);
               background-size: 63rem/@baseSize  63rem/@baseSize;
                width: 63rem/@baseSize;
                height: 63rem/@baseSize;
           }
       }
    }  
    
    .bgColor2{
        
       .boxItemCon{ 
           position: relative;
          
           &:after{
               content: " ";
               position: absolute;
               top:0;
               right: 0;
               background: url(../images/bgColorAfter2.png);
               background-size: 63rem/@baseSize  63rem/@baseSize;
                width: 63rem/@baseSize;
                height: 63rem/@baseSize;
           }
       }
    }  
    .boxTitle{
        position: relative;
        width:100%; height:50rem/@baseSize 
    }
    .boxIcon1{ 
        background: url(../images/boxIconBg1.png) no-repeat;
       
        background-size:130rem/@baseSize 520rem/@baseSize;
        width:130rem/@baseSize;
        height: 130rem/@baseSize;
        position: absolute;
        
       left:0;
       top:0;
        z-index: 1;
        &.icon1{ background-position: 0 0;}
        &.icon2{
            background-position: 0 -130rem/@baseSize;
          
        }
        
        &.icon3{background-position: 0 -260rem/@baseSize;}
        &.icon4{background-position: 0 -390rem/@baseSize;}
        
    }
    
    .boxIcon2{ 
        background: url(../images/boxIconBg2.png) no-repeat;
        background-size:120rem/@baseSize 480rem/@baseSize;
        width:120rem/@baseSize;
        height: 120rem/@baseSize;
        position: absolute;
        left: -2rem/@baseSize;
        top:0;
        left: 0;
        z-index: 1;
         &.icon2{
                background-position: 0 -120rem/@baseSize;
            }
            &.icon3{
                background-position: 0 -240rem/@baseSize;
            }
            &.icon4{
                background-position: 0 -360rem/@baseSize;
            }
        
    }
    .boxTitle1{
        background: url(../images/itemTitleWord1.png) no-repeat;
        background-size:182rem/@baseSize 120rem/@baseSize;
        width: 182rem/@baseSize;
        height: 30rem/@baseSize;
        position: absolute; 
        left: 150rem/@baseSize;
        top:10rem/@baseSize; 
        &.icon2{background-position: 0 -30rem/@baseSize;} 
        &.icon3{background-position: 0 -60rem/@baseSize;} 
        &.icon4{background-position: 0 -90rem/@baseSize;} 
           
    }
    
    .boxTitle2{
        background: url(../images/itemTitleWord2.png) no-repeat;
        background-size:210rem/@baseSize 120rem/@baseSize;
        width: 210rem/@baseSize;
        height: 30rem/@baseSize;
        position: absolute; 
        left: 150rem/@baseSize;
        top:10rem/@baseSize; 
        &.icon2{background-position: 0 -30rem/@baseSize;} 
        &.icon3{background-position: 0 -60rem/@baseSize;} 
        &.icon4{background-position: 0 -90rem/@baseSize;} 
    }
    
    .boxTitle3{
        background: url(../images/itemTitleWord3.png) no-repeat;
        background-size:105rem/@baseSize 120rem/@baseSize;
        width:105rem/@baseSize;
        height: 30rem/@baseSize;
        position: absolute; 
        left: 0rem/@baseSize;
        top:10rem/@baseSize; 
        &.icon2{background-position: 0 -30rem/@baseSize;} 
        &.icon3{background-position: 0 -60rem/@baseSize;} 
        &.icon4{background-position: 0 -90rem/@baseSize;} 
    }
    .boxCon{
       padding:0 0 0 150rem/@baseSize;
       color: #473030;
       font-size: 22rem/@baseSize;
       line-height: 36rem/@baseSize;
        
    }
    .conWord{
        span{
            position: relative;
            z-index: 1;
        }
    }
    
    .boxBgIcon{
        background: url(../images/boxBgIcon.png) no-repeat; background-size:140rem/@baseSize 840rem/@baseSize;
        width: 140rem/@baseSize;
        height: 140rem/@baseSize;
        position: absolute;
        right: -20rem/@baseSize;
        bottom:-30rem/@baseSize;
        z-index: 0;
        &.icon1{
            background-position: 0rem/@baseSize 0rem/@baseSize;
        }
        &.icon2{
            background-position: 0rem/@baseSize -140rem/@baseSize;
        }
        &.icon3{
            background-position: 0rem/@baseSize -280rem/@baseSize;
        }
        &.icon4{
            background-position: 0rem/@baseSize -420rem/@baseSize;
        }
        &.icon5{
            background-position: 0rem/@baseSize -560rem/@baseSize;
            bottom: -15rem/@baseSize;
        }
        &.icon6{
            background-position: 0rem/@baseSize -700rem/@baseSize;
            bottom:-15rem/@baseSize;
        }
        
        
        
    }
}

.starItem{
    .boxItemCon{
        background: url(../images/itemTitleBg2.png) no-repeat;
        background-size:100% 120rem/@baseSize;
        padding: 30rem/@baseSize 30rem/@baseSize 40rem/@baseSize 30rem/@baseSize;
        overflow: hidden;
    }
    .subTit{
        color: #b69142;
         font-size: 22rem/@baseSize; line-height: 50rem/@baseSize; color: #b69142;
    }
    .boxCon{
        padding: 0;
    }
}

.footer{
    .footerInfo{
        color: #f9d384;
        font-size: 20rem/@baseSize;line-height: 36rem/@baseSize;
        text-align: center;
        margin-bottom: 10rem/@baseSize;
    }
    .footerCopy{
        color: #ffffff;
        font-size: 18rem/@baseSize;
        line-height: 30rem/@baseSize;
        padding-bottom:60rem/@baseSize;
        text-align: center;
    }
    
    .line{ position: relative; margin: 0 10rem/@baseSize; top:13rem/@baseSize; display: inline-block; width: 100rem/@baseSize; height: 0; border-bottom: 1px solid rgba(255,255,255,0.5);}
}

.bgColor3{
    .boxItemCon{
        position: relative;
        overflow: hidden;
        &:after{
            content: " ";
            background: #f6f5f5;
            width: 200rem/@baseSize;
            height: 200%;
            position: absolute;
            top:-50rem/@baseSize;
            left: -80rem/@baseSize;
            transform: rotateZ(20deg);
            -webkit-transform: rotateZ(20deg);
            transform-origin: center;
            -webkit-transform-origin: center;
        }
        
    }
}

.img1{ position: absolute; pointer-events: none; z-index: 12; top:-25rem/@baseSize; left: 25rem/@baseSize; background: url(../images/img1.png) no-repeat; background-size:69rem/@baseSize 82rem/@baseSize; width: 69rem/@baseSize; height: 82rem/@baseSize;}
.img2{ position: absolute; pointer-events: none; z-index: 12; top:60rem/@baseSize; right: 10rem/@baseSize; background: url(../images/img2.png) no-repeat; background-size:68rem/@baseSize 74rem/@baseSize; width: 68rem/@baseSize; height: 74rem/@baseSize;}
.img3{ position: absolute; pointer-events: none; z-index: 12; top:530rem/@baseSize; right: -10rem/@baseSize; background: url(../images/img3.png) no-repeat; background-size:67rem/@baseSize 67rem/@baseSize; width: 67rem/@baseSize; height: 67rem/@baseSize;}
.img4{ position: absolute; pointer-events: none; z-index: 12; top:20rem/@baseSize; left:-55rem/@baseSize; background: url(../images/img4.png) no-repeat; background-size:271rem/@baseSize 299rem/@baseSize; width: 271rem/@baseSize; height: 299rem/@baseSize;}
.img5{ position: absolute; pointer-events: none; z-index: 12; bottom:-80rem/@baseSize;right:-30rem/@baseSize; background: url(../images/img5.png) no-repeat; background-size:158rem/@baseSize 287rem/@baseSize; width:158rem/@baseSize; height: 287rem/@baseSize;}
.img6{ position: absolute; pointer-events: none; z-index: 12; bottom:-200rem/@baseSize;left:-50rem/@baseSize; background: url(../images/img6.png) no-repeat; background-size:279rem/@baseSize 298rem/@baseSize; width:279rem/@baseSize; height: 298rem/@baseSize;}



.footerBg{
    background:#9f1f18 ;
    padding-top: 70rem/@baseSize;
    margin-top: -70rem/@baseSize;
}
.footerImg2 img{
    width: 100%;
}
