* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
img {
  display: block;
}
body {
  background: url(../images/bodyBg.png) repeat;
  background-size: 10rem 11.346666666666666rem;
  background-color: #9f1f18;
}
.headerImg {
  width: 100%;
}
.headerImg img {
  width: 100%;
}
.headerImg img:nth-child(3) {
  height: 0;
  overflow: visible;
}
/*.mainBox{ margin-top:-560rem/@baseSize;}*/
.mainContent {
  padding: 0 0.44rem;
}
.item {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.4rem;
  margin-bottom: 0.9333333333333333rem;
  /*  border:8rem/@baseSize  solid ;
    border-image-source: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(200, 30, 30, .6)), color-stop(.25, rgba(200, 30, 30, 0.9)), color-stop(.5, rgba(200, 30, 30, 0.9)), color-stop(.5, rgba(200, 30, 30, .6)), color-stop(.75, rgba(200, 30, 30, .6)), color-stop(.75, rgba(200, 30, 30, 0.9)), to(rgba(200, 30, 30, 0.9)));
    border-image-source: linear-gradient(-45deg, rgba(200, 30, 30, .6) 25%, rgba(200, 30, 30, 0.9) 25%, rgba(200, 30, 30, 0.9) 50%, rgba(200, 30, 30, .6) 50%, rgba(200, 30, 30, .6) 75%,  rgba(200, 30, 30, 0.9) 75%, rgba(200, 30, 30, 0.9));
    border-image-slice:30 120 30 120;
    border-image-width:40rem/@baseSize;
    border-image-repeat:repeat;
    
    border-bottom: none; */
  border: 0.10666666666666667rem solid transparent;
  background-clip: padding-box;
  padding: 1.6rem 0 0.26666666666666666rem 0;
}
.item::after {
  position: absolute;
  top: -0.10666666666666667rem;
  left: -0.10666666666666667rem;
  right: -0.10666666666666667rem;
  bottom: -0.10666666666666667rem;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, 0.2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, 0.2)), color-stop(.75, rgba(255, 255, 255, 0.2)), color-stop(.75, transparent), to(transparent));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-color: #c81e1e;
  content: '';
  z-index: -2;
  border-radius: 0.26666666666666666rem;
  background-size: 0.4rem 0.4rem;
  background-repeat: repeat;
}
.item::before {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: url(../images/bodyBg.png) repeat;
  background-size: 10rem 11.346666666666666rem;
  background-color: #9f1f18;
  content: '';
  border-radius: 0.26666666666666666rem;
  background-repeat: repeat;
  z-index: -1;
}
.item:first-child::before {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: url(../images/headerImg3.jpg) repeat;
  background-size: 100% 5.333333333333333rem;
  background-color: #9f1f18;
  content: '';
  border-radius: 0.26666666666666666rem;
  background-repeat: no-repeat;
  z-index: -1;
}
.item .title {
  position: absolute;
  left: 50%;
  top: -0.2rem;
  color: #ffffff;
  font-size: 0.4rem;
  background: url(../images/itemTitleBg1.png) no-repeat;
  background-size: 9.573333333333334rem 1.56rem;
  width: 9.573333333333334rem;
  height: 1.56rem;
  line-height: 1.0666666666666667rem;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.item .titleWord {
  background: url(../images/itemTitleBgWord.png) no-repeat;
  background-size: 4.266666666666667rem 1.6rem;
  height: 0.4rem;
  width: 4.266666666666667rem;
  position: absolute;
  left: 50%;
  top: 0.3333333333333333rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-position: 0 0;
}
.item .titleWord.icon1 {
  background-position: 0 0;
}
.item .titleWord.icon2 {
  background-position: 0 -0.4rem;
}
.item .titleWord.icon3 {
  background-position: 0 -0.8rem;
}
.item .titleWord.icon4 {
  background-position: 0 -1.2rem;
}
.item .boxItem {
  padding: 0 0.4rem;
  margin-bottom: 0.5333333333333333rem;
}
.item .boxItem .boxItemCon {
  padding: 0.5333333333333333rem 0.4rem 0.4rem 0.26666666666666666rem;
  border: 1px solid #b99b59;
  border-radius: 0.10666666666666667rem;
  background-color: #ffffff;
  box-shadow: 0.02rem 0.03464rem 0.09333333333333334rem 0px rgba(0, 0, 0, 0.21);
}
.item .boxItem .btn {
  height: 0.5333333333333333rem;
  width: 1.6133333333333333rem;
  padding-right: 0.2rem;
  border-radius: 0.29333333333333333rem;
  line-height: 0.56rem;
  color: #b69142;
  font-size: 0.26666666666666666rem;
  background: #fffaf1;
  position: absolute;
  top: 0.06666666666666667rem;
  right: 0;
  text-align: center;
  border: 1px solid #b99c5a;
}
.item .boxItem .arrowIcon {
  position: absolute;
  display: inline-block;
  top: 0.13333333333333333rem;
  right: 0.13333333333333333rem;
  background: url(../images/arrowIcon.png) no-repeat;
  background-size: 0.17333333333333334rem 0.24rem;
  width: 0.17333333333333334rem;
  height: 0.24rem;
}
.item .bgColor .boxItemCon {
  position: relative;
  background: #fdf3de;
}
.item .bgColor .boxItemCon:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bgColorAfter.png);
  background-size: 0.84rem 0.84rem;
  width: 0.84rem;
  height: 0.84rem;
}
.item .bgColor2 .boxItemCon {
  position: relative;
}
.item .bgColor2 .boxItemCon:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bgColorAfter2.png);
  background-size: 0.84rem 0.84rem;
  width: 0.84rem;
  height: 0.84rem;
}
.item .boxTitle {
  position: relative;
  width: 100%;
  height: 0.6666666666666666rem;
}
.item .boxIcon1 {
  background: url(../images/boxIconBg1.png) no-repeat;
  background-size: 1.7333333333333334rem 6.933333333333334rem;
  width: 1.7333333333333334rem;
  height: 1.7333333333333334rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.item .boxIcon1.icon1 {
  background-position: 0 0;
}
.item .boxIcon1.icon2 {
  background-position: 0 -1.7333333333333334rem;
}
.item .boxIcon1.icon3 {
  background-position: 0 -3.466666666666667rem;
}
.item .boxIcon1.icon4 {
  background-position: 0 -5.2rem;
}
.item .boxIcon2 {
  background: url(../images/boxIconBg2.png) no-repeat;
  background-size: 1.6rem 6.4rem;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: -0.02666666666666667rem;
  top: 0;
  left: 0;
  z-index: 1;
}
.item .boxIcon2.icon2 {
  background-position: 0 -1.6rem;
}
.item .boxIcon2.icon3 {
  background-position: 0 -3.2rem;
}
.item .boxIcon2.icon4 {
  background-position: 0 -4.8rem;
}
.item .boxTitle1 {
  background: url(../images/itemTitleWord1.png) no-repeat;
  background-size: 2.4266666666666667rem 1.6rem;
  width: 2.4266666666666667rem;
  height: 0.4rem;
  position: absolute;
  left: 2rem;
  top: 0.13333333333333333rem;
}
.item .boxTitle1.icon2 {
  background-position: 0 -0.4rem;
}
.item .boxTitle1.icon3 {
  background-position: 0 -0.8rem;
}
.item .boxTitle1.icon4 {
  background-position: 0 -1.2rem;
}
.item .boxTitle2 {
  background: url(../images/itemTitleWord2.png) no-repeat;
  background-size: 2.8rem 1.6rem;
  width: 2.8rem;
  height: 0.4rem;
  position: absolute;
  left: 2rem;
  top: 0.13333333333333333rem;
}
.item .boxTitle2.icon2 {
  background-position: 0 -0.4rem;
}
.item .boxTitle2.icon3 {
  background-position: 0 -0.8rem;
}
.item .boxTitle2.icon4 {
  background-position: 0 -1.2rem;
}
.item .boxTitle3 {
  background: url(../images/itemTitleWord3.png) no-repeat;
  background-size: 1.4rem 1.6rem;
  width: 1.4rem;
  height: 0.4rem;
  position: absolute;
  left: 0rem;
  top: 0.13333333333333333rem;
}
.item .boxTitle3.icon2 {
  background-position: 0 -0.4rem;
}
.item .boxTitle3.icon3 {
  background-position: 0 -0.8rem;
}
.item .boxTitle3.icon4 {
  background-position: 0 -1.2rem;
}
.item .boxCon {
  padding: 0 0 0 2rem;
  color: #473030;
  font-size: 0.29333333333333333rem;
  line-height: 0.48rem;
}
.item .conWord span {
  position: relative;
  z-index: 1;
}
.item .boxBgIcon {
  background: url(../images/boxBgIcon.png) no-repeat;
  background-size: 1.8666666666666667rem 11.2rem;
  width: 1.8666666666666667rem;
  height: 1.8666666666666667rem;
  position: absolute;
  right: -0.26666666666666666rem;
  bottom: -0.4rem;
  z-index: 0;
}
.item .boxBgIcon.icon1 {
  background-position: 0rem 0rem;
}
.item .boxBgIcon.icon2 {
  background-position: 0rem -1.8666666666666667rem;
}
.item .boxBgIcon.icon3 {
  background-position: 0rem -3.7333333333333334rem;
}
.item .boxBgIcon.icon4 {
  background-position: 0rem -5.6rem;
}
.item .boxBgIcon.icon5 {
  background-position: 0rem -7.466666666666667rem;
  bottom: -0.2rem;
}
.item .boxBgIcon.icon6 {
  background-position: 0rem -9.333333333333334rem;
  bottom: -0.2rem;
}
.starItem .boxItemCon {
  background: url(../images/itemTitleBg2.png) no-repeat;
  background-size: 100% 1.6rem;
  padding: 0.4rem 0.4rem 0.5333333333333333rem 0.4rem;
  overflow: hidden;
}
.starItem .subTit {
  font-size: 0.29333333333333333rem;
  line-height: 0.6666666666666666rem;
  color: #b69142;
}
.starItem .boxCon {
  padding: 0;
}
.footer .footerInfo {
  color: #f9d384;
  font-size: 0.26666666666666666rem;
  line-height: 0.48rem;
  text-align: center;
  margin-bottom: 0.13333333333333333rem;
}
.footer .footerCopy {
  color: #ffffff;
  font-size: 0.24rem;
  line-height: 0.4rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
.footer .line {
  position: relative;
  margin: 0 0.13333333333333333rem;
  top: 0.17333333333333334rem;
  display: inline-block;
  width: 1.3333333333333333rem;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.bgColor3 .boxItemCon {
  position: relative;
  overflow: hidden;
}
.bgColor3 .boxItemCon:after {
  content: " ";
  background: #f6f5f5;
  width: 2.6666666666666665rem;
  height: 200%;
  position: absolute;
  top: -0.6666666666666666rem;
  left: -1.0666666666666667rem;
  transform: rotateZ(20deg);
  -webkit-transform: rotateZ(20deg);
  transform-origin: center;
  -webkit-transform-origin: center;
}
.img1 {
  position: absolute;
  pointer-events: none;
  z-index: 12;
  top: -0.3333333333333333rem;
  left: 0.3333333333333333rem;
  background: url(../images/img1.png) no-repeat;
  background-size: 0.92rem 1.0933333333333333rem;
  width: 0.92rem;
  height: 1.0933333333333333rem;
}
.img2 {
  position: absolute;
  pointer-events: none;
  z-index: 12;
  top: 0.8rem;
  right: 0.13333333333333333rem;
  background: url(../images/img2.png) no-repeat;
  background-size: 0.9066666666666666rem 0.9866666666666667rem;
  width: 0.9066666666666666rem;
  height: 0.9866666666666667rem;
}
.img3 {
  position: absolute;
  pointer-events: none;
  z-index: 12;
  top: 7.066666666666666rem;
  right: -0.13333333333333333rem;
  background: url(../images/img3.png) no-repeat;
  background-size: 0.8933333333333333rem 0.8933333333333333rem;
  width: 0.8933333333333333rem;
  height: 0.8933333333333333rem;
}
.img4 {
  position: absolute;
  pointer-events: none;
  z-index: 12;
  top: 0.26666666666666666rem;
  left: -0.7333333333333333rem;
  background: url(../images/img4.png) no-repeat;
  background-size: 3.6133333333333333rem 3.986666666666667rem;
  width: 3.6133333333333333rem;
  height: 3.986666666666667rem;
}
.img5 {
  position: absolute;
  pointer-events: none;
  z-index: 12;
  bottom: -1.0666666666666667rem;
  right: -0.4rem;
  background: url(../images/img5.png) no-repeat;
  background-size: 2.1066666666666665rem 3.8266666666666667rem;
  width: 2.1066666666666665rem;
  height: 3.8266666666666667rem;
}
.img6 {
  position: absolute;
  pointer-events: none;
  z-index: 12;
  bottom: -2.6666666666666665rem;
  left: -0.6666666666666666rem;
  background: url(../images/img6.png) no-repeat;
  background-size: 3.72rem 3.973333333333333rem;
  width: 3.72rem;
  height: 3.973333333333333rem;
}
.footerBg {
  background: #9f1f18;
  padding-top: 0.9333333333333333rem;
  margin-top: -0.9333333333333333rem;
}
.footerImg2 img {
  width: 100%;
}
/*# sourceMappingURL=carnivalStyle.css.map */
