body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:805px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u910 {
  position:absolute;
  left:30px;
  top:14px;
  width:376px;
  height:667px;
}
#u911 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u912 {
  position:absolute;
  left:429px;
  top:14px;
  width:376px;
  height:668px;
}
#u913 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914 {
  position:absolute;
  left:36px;
  top:40px;
  width:46px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u915 {
  position:absolute;
  left:429px;
  top:40px;
  width:46px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u916 {
  position:absolute;
  left:429px;
  top:119px;
  width:376px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
