#header{  line-height: 90px;  }
#header .menu{  height: 88px;  }
#header .menu li a {  margin: 10px;  height: 66px;  line-height: 70px;  }
.logo{  height: 88px;  font-size: 25px;  line-height: 4;  text-indent: 234px;  }
#header .login{  line-height: 88px;  margin-right: 48px;  }
.logo {  background: url(http://icon.zol-img.com.cn/wap/icons/logo.png) no-repeat 20px 20px;  background-size: 194px 48px;  }