body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:669px;
}
#u812 {
  position:absolute;
  left:17px;
  top:8px;
  width:375px;
  height:669px;
}
#u813 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:669px;
}
#u814 {
  position:absolute;
  left:428px;
  top:8px;
  width:374px;
  height:669px;
}
#u815 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816 {
  position:absolute;
  left:17px;
  top:30px;
  width:51px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u817 {
  position:absolute;
  left:26px;
  top:695px;
  width:353px;
  height:44px;
  font-size:14px;
}
#u818 {
  position:absolute;
  left:2px;
  top:14px;
  width:349px;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:44px;
  background:inherit;
  background-color:rgba(212, 160, 30, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u819 {
  position:absolute;
  left:29px;
  top:633px;
  width:353px;
  height:44px;
  font-size:14px;
}
#u820 {
  position:absolute;
  left:2px;
  top:14px;
  width:349px;
  word-wrap:break-word;
}
