body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:639px;
}
#u1939 {
  position:absolute;
  left:10px;
  top:10px;
  width:893px;
  height:639px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:312px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:840px;
}
#u1941 {
  position:absolute;
  left:10px;
  top:645px;
  width:893px;
  height:840px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:412px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943 {
  position:absolute;
  left:341px;
  top:1217px;
  width:232px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1944 {
  position:absolute;
  left:265px;
  top:876px;
  visibility:hidden;
}
#u1944_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1944_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:214px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:214px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:99px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947 {
  position:absolute;
  left:76px;
  top:155px;
  width:232px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1948 {
  position:absolute;
  left:919px;
  top:955px;
  width:300px;
  height:64px;
  color:#FF0000;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
