body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:463px;
}
#u954 {
  position:absolute;
  left:0px;
  top:-6px;
  width:1009px;
  height:463px;
}
#u955 {
  position:absolute;
  left:2px;
  top:224px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
}
#u956 {
  position:absolute;
  left:404px;
  top:96px;
  width:321px;
  height:20px;
  color:#666666;
  text-align:left;
}
#u957 {
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  word-wrap:break-word;
}
