body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:997px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:621px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:621px;
}
#u959 {
  position:absolute;
  left:2px;
  top:302px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:238px;
  top:129px;
  width:712px;
  height:75px;
}
#u961 {
  position:absolute;
  left:2px;
  top:30px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#2087FC;
}
#u962 {
  position:absolute;
  left:726px;
  top:451px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#2087FC;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u964 {
  position:absolute;
  left:513px;
  top:52px;
  width:188px;
  height:24px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
