body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:460px;
}
#u1126 {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:460px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:222px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u1128 {
  position:absolute;
  left:904px;
  top:58px;
  width:36px;
  height:20px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1130 {
  position:absolute;
  left:800px;
  top:32px;
  width:179px;
  height:16px;
  color:#FF0000;
}
#u1131 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  position:absolute;
  left:822px;
  top:48px;
  width:118px;
  height:41px;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
