<div ng-controller="editinvitecode as showCase">
    <h3 class="page-title">
        {{pageTitle}}
    </h3>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="row">
                <div class="col-lg-3 col-xs-6 ui_right pull-right">
                    <a href="javascript:;" class="btn btn-primary btn-sm" id="js_code_save" ng-click="save()">保存</a><a href="#/xinghuoinvitecode-inviteindex.html" ng-if="showCancel" class="btn btn-warning btn-sm">取消</a>
                </div>
            </div>
        </div>
        <div class="panel-body" id="form-cot">
            <div class="row">
                <form class="form-horizontal" id="js_invitedcode_add_form">
                    <input type="hidden" name="id" value="{{form.id}}">
                    <div class="form-group col-lg-12">
                        <label class="col-sm-2 control-label">名称<span class="text-red">*</span>：</label>
                        <div class="col-sm-9">
                            <input name="name" type="text" ng-model="form.name" class="form-control" maxlength="50" placeholder="请输入名称">
                        </div>
                        <div style="line-height: 34px;">{{form.name.length || 0}}/50</div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label class="col-sm-2 control-label">数量<span class="text-red">*</span>：</label>
                        <div class="col-sm-9">
                            <input name="numbers" ng-model="form.numbers" type="number" oninput="if(value.length > 4) value=value.slice(0,4)" maxlength="4" class="form-control ng-valid ng-valid-maxlength ng-dirty ng-valid-number ng-touched" placeholder="请输入数量">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="col-sm-2 control-label">有效期<span class="text-red">*</span>：</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group date" id="inviteStartDate" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                        <input name="startDate" ng-model="form.startDate" class="form-control" readonly="readonly">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label class=" control-label">至</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group date" id="invitEndDate" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                        <input name="endDate" ng-model="form.endDate" class="form-control" readonly="readonly">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="col-sm-2 control-label">说明：</label>
                        <div class="col-sm-9">
                            <textarea name="description" ng-model="form.description" class="form-control" rows="4" style="resize: none;" maxlength="150"></textarea>
                        </div>
                        <div style="line-height: 34px;">{{form.description.length || 0}}/150</div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        ComponentsPickers.init();
    });
</script>