* {margin: 0;padding: 0;}
ul,li {list-style: none;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
body{ background: rgba(0,0,0,0.5); font-family: arial;} /*0.6*/

@baseSize: 75;


.popCon{
    .top{
         background: url(../../images/redEnvelope/popBg_top.png) center center no-repeat;
         background-size: 525rem/@baseSize 265rem/@baseSize;
         width:525rem/@baseSize;
         height:265rem/@baseSize;
       
    }
    .center{
        background: url(../../images/redEnvelope/popBg_center.png) top center no-repeat;
        background-size: 525rem/@baseSize 141rem/@baseSize;
        width:525rem/@baseSize;
        height:auto;
    }
    .bottom{
         background: url(../../images/redEnvelope/popBg_bottom.png) center  center no-repeat;
         background-size: 525rem/@baseSize 280rem/@baseSize;
         width:525rem/@baseSize;
         height:280rem/@baseSize;
    }
}

.popup{
    position: absolute;
    width: 525rem/@baseSize;
    height: auto;
    margin-right: -5rem/@baseSize;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    .statuBox{
        text-align: center;
    }
    .statu{
        background: url(../../images/redEnvelope/popBg_status.png) top left no-repeat;
        background-size: 140rem/@baseSize 80rem/@baseSize;
        width: 140rem/@baseSize;
        height: 40rem/@baseSize;
        display: inline-block;
       
        
    }
    .statu1{
         background-position: 0 0;
    }
     .statu2{
         background-position: 0 -40rem/@baseSize;
    }
    
    .closeBtnBox{
        position: absolute;
        bottom:-90rem/@baseSize;
        text-align: center;
        width: 100%;
        a.closeBtn{
           display: inline-block;
           background: url(../../images/redEnvelope/popBg_closeBtn.png) center center no-repeat;
           background-size:45rem/@baseSize 45rem/@baseSize ;  /*44*/
           width: 50rem/@baseSize;
           height:50rem/@baseSize;
        }
    }
    
    .top{
        padding-top: 70rem/@baseSize;
        text-align: center;
        box-sizing: border-box;
        
        .amount{
            color: #d5353d;
            font-size: 32rem/@baseSize;
            margin-bottom: 10rem/@baseSize;
            height: 66rem/@baseSize;
            line-height: 66rem/@baseSize;
            .num{
                font-size: 64rem/@baseSize;
                margin-right: 10rem/@baseSize;
               
            }
            .unit{
                position: relative;
               bottom: 5rem/@baseSize;
            }
        }
    }
    .center{
        margin-top: -1px;
        .info{
            color: #a77c62;
            font-size: 28rem/@baseSize;
            line-height: 40rem/@baseSize;
            min-height: 40rem/@baseSize;
            text-align: center;
            padding: 0 50rem/@baseSize;
        }
    }
    .bottom{
        margin-top: -15rem/@baseSize;
        text-align: center;
        box-sizing: border-box;
        padding-top: 150rem/@baseSize;
       
    }
    .btnClass{
      display:inline-block;
      border-radius: 20rem/@baseSize;
      background-image: -moz-linear-gradient( 90deg, rgb(226,199,150) 0%, rgb(245,231,204) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(226,199,150) 0%, rgb(245,231,204) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(226,199,150) 0%, rgb(245,231,204) 100%);
     color: #96600c;
     text-align: center;
      width: 456rem/@baseSize;
      height: 78rem/@baseSize;
      line-height: 78rem/@baseSize;
      z-index: 80;
      font-size: 30rem/@baseSize;
       box-shadow: 1rem/@baseSize 1.732rem/@baseSize 4rem/@baseSize 0rem/@baseSize rgb( 106, 43, 47 );
    }


}
