* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: rgba(0, 0, 0, 0.5);
  font-family: arial;
} /*0.6*/
.popCon .top {
  background: url(../../images/redEnvelope/popBg_top.png) center center no-repeat;
  background-size: 7rem 3.533333333333333rem;
  width: 7rem;
  height: 3.533333333333333rem;
}
.popCon .center {
  background: url(../../images/redEnvelope/popBg_center.png) top center no-repeat;
  background-size: 7rem 1.88rem;
  width: 7rem;
  height: auto;
}
.popCon .bottom {
  background: url(../../images/redEnvelope/popBg_bottom.png) center center no-repeat;
  background-size: 7rem 3.7333333333333334rem;
  width: 7rem;
  height: 3.7333333333333334rem;
}
.popup {
  position: absolute;
  width: 7rem;
  height: auto;
  margin-right: -0.06666666666666667rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.popup .statuBox {
  text-align: center;
}
.popup .statu {
  background: url(../../images/redEnvelope/popBg_status.png) top left no-repeat;
  background-size: 1.8666666666666667rem 1.0666666666666667rem;
  width: 1.8666666666666667rem;
  height: 0.5333333333333333rem;
  display: inline-block;
}
.popup .statu1 {
  background-position: 0 0;
}
.popup .statu2 {
  background-position: 0 -0.5333333333333333rem;
}
.popup .closeBtnBox {
  position: absolute;
  bottom: -1.2rem;
  text-align: center;
  width: 100%;
}
.popup .closeBtnBox a.closeBtn {
  display: inline-block;
  background: url(../../images/redEnvelope/popBg_closeBtn.png) center center no-repeat;
  background-size: 0.6rem 0.6rem;/*44*/
  width: 0.6666666666666666rem;
  height: 0.6666666666666666rem;
}
.popup .top {
  padding-top: 0.9333333333333333rem;
  text-align: center;
  box-sizing: border-box;
}
.popup .top .amount {
  color: #d5353d;
  font-size: 0.4266666666666667rem;
  margin-bottom: 0.13333333333333333rem;
  height: 0.88rem;
  line-height: 0.88rem;
}
.popup .top .amount .num {
  font-size: 0.8533333333333334rem;
  margin-right: 0.13333333333333333rem;
}
.popup .top .amount .unit {
  position: relative;
  bottom: 0.06666666666666667rem;
}
.popup .center {
  margin-top: -1px;
}
.popup .center .info {
  color: #a77c62;
  font-size: 0.37333333333333335rem;
  line-height: 0.5333333333333333rem;
  min-height: 0.5333333333333333rem;
  text-align: center;
  padding: 0 0.6666666666666666rem;
}
.popup .bottom {
  margin-top: -0.2rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2rem;
}
.popup .btnClass {
  display: inline-block;
  border-radius: 0.26666666666666666rem;
  background-image: -moz-linear-gradient(90deg, #e2c796 0%, #f5e7cc 100%);
  background-image: -webkit-linear-gradient(90deg, #e2c796 0%, #f5e7cc 100%);
  background-image: -ms-linear-gradient(90deg, #e2c796 0%, #f5e7cc 100%);
  color: #96600c;
  text-align: center;
  width: 6.08rem;
  height: 1.04rem;
  line-height: 1.04rem;
  z-index: 80;
  font-size: 0.4rem;
  box-shadow: 0.013333333333333334rem 0.023093333333333334rem 0.05333333333333334rem 0rem #6a2b2f;
}
/*# sourceMappingURL=appPopup.css.map */
