body,table,tbody,thead,th,td,tr{
    margin:0;
    padding: 0;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    font-size: 14px;
    -webkit-user-select: none;
}
#tab{
    margin: 20px auto;
    padding: 15px;
    width: 400px;
    border: 1px solid #0fb200;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 #cccccc;
}
#tab tr{
    height: 35px;
    line-height: 35px;
}
#tab tr,#tab td{
    width: 100px;
    text-align: center;
}

#tab th{
    background: #DDF9F8;
}
#tab th.cursor{
    cursor: pointer;
}
.bg{
    background: #ffeedd;
}

