body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:10px;
  top:197px;
  width:992px;
  height:370px;
}
#u9 {
  position:absolute;
  left:2px;
  top:177px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:77px;
}
#u10 {
  position:absolute;
  left:137px;
  top:415px;
  width:240px;
  height:77px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:29px;
  width:236px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
}
#u12 {
  position:absolute;
  left:532px;
  top:415px;
  width:239px;
  height:77px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:29px;
  width:235px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:77px;
}
#u14 {
  position:absolute;
  left:143px;
  top:282px;
  width:232px;
  height:77px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:29px;
  width:228px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:77px;
}
#u16 {
  position:absolute;
  left:532px;
  top:282px;
  width:228px;
  height:77px;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:2px;
  top:29px;
  width:224px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:52px;
  top:80px;
  width:212px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u20 {
  position:absolute;
  left:10px;
  top:137px;
  width:999px;
  height:1px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
