/*wlg*/
body{
    color:#777;
    font:12px/22px "simsun",Arial;
    background:#f2f2f2;
}
body,div,form,img,p,h1,h2,dl,dt,dd,ul,li,h3{
    padding:0;
    margin:0;
}
input{
    border:none;
}
ul,li{
    list-style:none;
}
em{
    font-style:normal;
}
img{
    display:block; border:0
}
a{
    color:#CCCCCC;
    text-decoration:none
}
a:hover,td a:hover{
    color:#f60;
    text-decoration:underline
}
.hong12{
    color:#92D6FF;
    font-size: 12px;
    font-weight: bold;
}
.clear{
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
    font:0/0 arial;
}
.clearfix:after{
    content:".";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
    font-size:0;
}
.clearfix{
    *zoom:1;
}