*{ margin: 0; padding: 0;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
input{ outline: none;-webkit-tap-highlight-color:transparent;}
img{ border: none; display: inline-block;}
ul,li{list-style: none;}
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{ font-family: arial; background: #f4f4f4;-webkit-text-size-adjust: 100%;}