*{margin: 0;padding: 0;}
ul,li {list-style: none;}
html{font-size: 13px;-webkit-text-size-adjust: 100%; box-sizing: border-box;}
body{font-family: arial;font-size: 13px;width: 100%; box-sizing: border-box;}
.iDialogMainCon ul li,.iDialogMainCon p{font-size: 13px;text-align: justify;}
.iDialogMainCon p{text-indent: 2em;}
.iDialogMainV2{ background: #FFFFFF; line-height: 25px; font-size: 13px; color: #929292; padding: 10px 15px 15px 15px;width: 100%; box-sizing: border-box;}
.roundSpan{font-size: 18px; color:#de9226;}