*{ margin: 0; padding: 0;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
input{ outline: none;-webkit-tap-highlight-color:transparent;}
img{ border: none; display: inline-block;}
ul,li{list-style: none;}
body{ font-family: arial; background: #f4f4f4;-webkit-text-size-adjust: 100%;}

.headerImg{ width: 100%; margin-bottom: 10px;}
.headerImg img{ width: 100%; display: block;}

.item{ background: #FFFFFF; padding: 20px 15px; margin-bottom: 10px;}
.title{ position: relative; color: #c8a25d; font-size: 15px; height: 24px; line-height: 24px; text-align: center; margin-bottom: 15px;}
.titleLeft,.titleRight{ position: absolute;  width: 20%; height: 2px;}
.titleLeft{left: 0; top:11px;
background-image: -moz-linear-gradient(right,#c8a25d 0%,#dfc7a4 50%,  #fff 100%);
background-image: -webkit-linear-gradient(right,#c8a25d 0%,#dfc7a4 50%, #fff 100%);
background-image: -ms-linear-gradient(right,#c8a25d 0%,#dfc7a4 50%, #fff 100%);
background-size: 100% 100%;
background-position: left top;
background-repeat: no-repeat;
}
.titleRight{right: 0; top:11px;

background-image: -moz-linear-gradient(left,#c8a25d 0%,  #fff 100%);
background-image: -webkit-linear-gradient(left,#c8a25d 0%, #fff 100%);
background-image: -ms-linear-gradient(left,#c8a25d 0%, #fff 100%);
background-size: 100% 100%;
background-position: left top;
background-repeat: no-repeat;
}

.itemCon{ color: #929292; font-size: 14px; line-height: 24px;}
.itemCon:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.wordList{}
.wordList li{ padding-left: 25px; position: relative;}
.wordList li:after{ content: " "; display: block; left:12px; top:10px; position: absolute;border-radius: 100%; background: #929292; width: 35px; height: 35px;transform-origin: left top;-webkit-transform-origin: left top;transform: scale(0.1); -webkit-transform: scale(0.1); }

.itemWord{ padding:0 15px;}

.circleImgBox{position:relative;height: 150px; width: 300px; height: 150px; margin:15px auto 5px auto;}
.circleImgBox:nth-child(0){ top:0; left: ;}
.circle{ position: absolute; background: #FFFFFF; z-index: 2; color: #c8a25d; font-size:13px; text-align: center; border: 1px solid #c8a25d; border-radius: 100%; width: 68px; height: 68px; line-height: 70px;}
.circle.twoRow{line-height: 18px; padding: 16px 0 16px 0; box-sizing: border-box;}
.circleImgBox .line{ position: absolute; width: 1px; background:#c8a25d; height: 80px; z-index: 1;}
.circleImgBox .line.left{ transform: rotateZ(-40deg);-webkit-transform: rotateZ(-40ddeg);top:35px;  left:60px;}
.circleImgBox .line.right{ transform: rotateZ(40deg);-webkit-transform: rotateZ(40deg);top:35px;left:10px;}


.circleImgBox .top,.circleImgBox .bottom{ width: 70px; height: 70px; position: absolute; }
.circleImgBox .top{ top: 0;}
.circleImgBox .bottom{ bottom: 0px;}
.circleImgBox .circleBox:nth-child(1){left:0px;}
.circleImgBox .circleBox:nth-child(2){ left:56px ;}
.circleImgBox .circleBox:nth-child(3){left:114px;}
.circleImgBox .circleBox:nth-child(4){ left:175px;}
.circleImgBox .circleBox:nth-child(5){ right: 0px}
.linkItem{ position: relative; padding-top: 20px;padding-bottom: 20px;
    background-image: -moz-linear-gradient(transparent  50%, #eeeeee 50%);
	background-image: -webkit-linear-gradient(transparent  50%, #eeeeee 50%);
	background-image: -ms-linear-gradient(transparent  50%, #eeeeee 50%);
	background-size: 100% 1px;
	background-position: left bottom;
	background-repeat: no-repeat;
}
.linkItem:first-child{ padding-top: 0;}
.linkItem:last-child{ background: none;}
.linkItemCon{position: relative;}
.imgBox{ width: 124px; height: 80px; position: absolute; left: 0; top:0}
.imgBox img{ width: 100%; height: 100%; display: block;}
.linkCon{ position: relative; padding-left: 140px; height: 80px;}
.linktitle{ font-size: 14px; line-height: 20px; color: #444444;}
.linkCon .wordCon{ color: #929292; font-size: 13px; line-height: 20px;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;   max-height: 40px; overflow: hidden; position: absolute; bottom:0;}
.tips{ position: relative; height:20px ; text-align: center;}
.tipsWord{ display: inline-block; background-color: #FFFFFF; padding: 0 10px; z-index:2; color: #bcbcbc; font-size: 12px; line-height: 20px; text-align: center; }
.tips{ 
    background-image: -moz-linear-gradient(#c8c8c8 50%, transparent  50%);
	background-image: -webkit-linear-gradient(#c8c8c8 50%, transparent  50%);
	background-image: -ms-linear-gradient(#c8c8c8 50%, transparent  50%);
	background-size: 270px 1px;
	background-position: center center; 
	background-repeat: no-repeat;
}
.logotitle{ background: url(../images/overseas_logoTitle.jpg) no-repeat; background-size:186px 37px;width:186px; height:37px; margin: 0 auto; margin-bottom: 15px;}

.overseasMain{ padding-bottom: 50px;}

.footerPhoneWord{ position: fixed; z-index: 10; bottom:0; height: 50px; width: 100%; background-color: rgba(255,255,255,0.95); line-height: 50px; text-align: center; color: #929292; font-size: 14px;
    background-image: -moz-linear-gradient(#c8c8c8 50%,transparent  50%);
	background-image: -webkit-linear-gradient(#c8c8c8 50%,transparent  50%);
	background-image: -ms-linear-gradient( #c8c8c8 50%,transparent  50%); 
	background-size: 100% 1px;
	background-position: left top;
	background-repeat: no-repeat;
}
.footerPhoneWord a{ color: #c8a25d;}

.countryWord{ padding-left: 85px; height: 50px; line-height: 50px; color: #444444; font-size: 14px;}
.countryImg{position: absolute;left: 0; top:0 width: 75px; height: 50px; background: url(../images/overseas_nationalFlag.jpg); background-size:75px 200px;width: 75px; height:50px;}
.countryImg.country1{ background-position: 0 0;}
.countryImg.country2{ background-position: 0 -50px;}
.countryImg.country3{ background-position: 0 -100px;}
.countryImg.country4{ background-position: 0 -150px;}

.countryList{ width: 310px; margin: 0 auto;}
.countryList li{ height: 50px; width: 50%; margin-bottom: 25px; position: relative; float: left;}

.imgTransform{ position: relative; width: 340px; height: 150px; margin:-10px auto  30px auto;}

.trItemBox{ position: relative; width: 85px; height: 85px; float: left;}
.trItem{  transform: rotateZ(-45deg); -webkit-transform: rotateZ(-45deg);transform-origin:center right;-webkit-transform-origin: center right;float: left; width: 60px; height: 60px; background: #f5f5f5; color: #444444; font-size: 10px; border:2px solid #FFFFFF;}
.orange .trItem{ background: #f3e9d1; }
.orange .trWord{color: #c8a25d;}
.trItem img{ display: block; width: 100%; height: 100%;}

.trImgBox{ height: 0; width: 0; position: absolute; top:42px; float: none; }
.trItemBox:nth-child(5){ left: 42px;}
.trItemBox:nth-child(6){ left: 127px;}
.trItemBox:nth-child(7){ left: 212px;}
.trWord{ width: 1000%; font-size: 110px; transform: scale(0.1); transform-origin: left top;-webkit-transform: scale(0.1); -webkit-transform-origin: left top; text-align: center; white-space: pre; z-index: 2; top:52px; position: absolute; z-index: 1;}

.infoList li{ padding: 10px; width: 50%; box-sizing: border-box; float: left;  }
.infoBox{line-height: 22px; font-size: 12px; color: #929292; padding: 15px; height: 66px; background: #fafafa; border-radius: 5px;}
.infoBox .infoTitle{ color: #c8a25d;}

.iconBox{ display: flex;display: -webkit-flex;flex-direction: row;justify-content:center; text-align: center;}
.iconItem .icon{ display: inline-block; margin-bottom:15px;background: url(../images/overseas_iconImg.jpg); background-size:30px 90px; width: 30px; height: 30px;}
.iconItem .icon.icon1{ background-position: 0 0;}
.iconItem .icon.icon2{ background-position: 0 -30px;}
.iconItem .icon.icon3{ background-position: 0 -60px;}
.iconWord{ display: inline-block; width: 100%; color: #929292; font-size: 12px;}
@media screen and (max-width: 320px) {
	.circleImgBox{ width: 240px;}
	.circleImgBox .circleBox:nth-child(1){left:0px;}
	.circleImgBox .circleBox:nth-child(2){ left:44.8px ;}
	.circleImgBox .circleBox:nth-child(3){left:85px;}
	.circleImgBox .circleBox:nth-child(4){ left:130px;}
	.circleImgBox .circleBox:nth-child(5){ right: 0px}
	
	.imgTransformBox{ width: 270px; margin: 0 auto; overflow: hidden;}
	.imgTransform{margin-bottom: 0; transform:scale(0.8);transform-origin: left top;-webkit-transform: scale(0.8);-webkit-transform-origin: left top;}
	.infoBox{ height: 110px;}
	.countryList{ width: 280px;}
	.countryWord{font-size: 13px; padding-left: 82px;}
}