*{ margin: 0; padding: 0;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
input{ outline: none;-webkit-tap-highlight-color:transparent;}
img{ border: none; display: inline-block;}
ul,li{list-style: none;}
body{ font-family: arial;-webkit-text-size-adjust: 100%;}
body.bgTransparent{background: transparent;}
body.agreementBody,body.bgWhite{ background: #FFFFFF;  }

.agreementBox{color: #929292; font-size: 13px; line-height: 23px;}
.agreementCon{ padding: 25px; padding-bottom: 100px;}
.fixedBottomBox{ position: fixed; bottom: 0; width: 100%;background-image: -moz-linear-gradient(#aaa 50%, transparent  50%);background-image: -webkit-linear-gradient(#aaa 50%, transparent  50%);background-image: -ms-linear-gradient(#aaa 50%, transparent  50%);background-size: 100% 1px;background-position: left top;background-repeat: no-repeat;}
.fixedBottomCon{ background: rgba(255,255,255,0.85); padding: 15px 14px;}

.fixedBottomBox button{
    border: none;
    width: 100%;
}
.btn{display: block; height: 45px; line-height: 45px; font-size: 18px; text-align: center; color: #FFFFFF; border-radius: 5px; background-image: -moz-linear-gradient( 0deg, rgb(211,177,116) 0%, rgb(200,162,94) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(211,177,116) 0%, rgb(200,162,94) 100%);background-image: -ms-linear-gradient( 0deg, rgb(211,177,116) 0%, rgb(200,162,94) 100%);}
/*.large{ width: 100%;}*/
.evaluatingItem{ margin-bottom: 13px; position: relative; text-align: center;}
.evaluatingItem img{ width: 100%; height: auto;}
.evalItemCon{ left: 0; top:23%; position: absolute; width: 100%; }
.evaItemTitle{ width: 100%; text-align: center; font-size: 22px; line-height: 44px; color: #FFFFFF; }
.evaItemBtn{ background-image: -moz-linear-gradient( 0deg, rgba(211,177,116,0.129) 0%, rgba(200,162,94 ,0.129) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgba(211,177,116,0.129) 0%, rgba(200,162,94 ,0.129) 100%);
  background-image: -ms-linear-gradient( 0deg, rgba(211,177,116,0.129) 0%, rgba(200,162,94 ,0.129) 100%);
  
  border: 1px solid #FFFFFF;
  font-size: 14px;
  width: 98px;
  height: 28px; line-height: 28px; color: #FFFFFF;margin: 0 auto;
  border-radius: 15px;
  margin-top: 25px;
  
  
  }
.evaItemInfo{ color: #e0c68e; font-size: 12px; line-height: 17px; position: absolute; width: 100%; bottom:40px}
.evaItemBtn.bgWhite{background: rgba(255,255,255,0.6); color: #444;}
.evaItemBtn.circle{ width: 70px; height: 70px; line-height: 70px; border-radius: 50%;position: relative; margin-top: 5px;}
.evaArrow{ position: absolute; top:25px; right:-27px; display: block; background: url(../images/evaArrow_BG.png) no-repeat; background-size:16px 17px; width: 16px; height: 17px;}

@media screen and (max-width:321px) {
  .evalItemCon{ top:14%;}
}
/*@media screen and (min-width:640px) {
  .app-reg-page1{height:220px; }
  .app-reg-page2{height:290px; }
}*/
.listBox{position: absolute;top: 0;bottom: 0;left: 0;overflow: hidden;width: 100%;margin-bottom: 50px;}
.listCon{position: absolute;width: 100%;}

.riskWarning{ width: 100%; box-sizing: border-box; color: #adadad; font-size: 12px; line-height: 14px; text-align: center; padding:20px;}
.rishLeftLine,.rishRightLine{ border-bottom: 1px solid #E5E5E5; display: inline-block; height: 0px; position: relative; top:6px; width: 50px; margin: 0 5px;}
.riskFixed{ position: absolute; bottom:0; left: 0; z-index: 10;}

.footerBottom0{ position: fixed; left: 0; bottom:0}


/*.listBox{top: 0;bottom: 0;left: 0;overflow: hidden;width: 100%;}
.listCon{width: 100%;}*/
.listItem{ margin-bottom: 10px; padding: 10px 14px 0 14px; background: #fff;}
.listItem:last-child{ margin-bottom: 0;}
.liItemTitle{ font-size:16px; color:#444; line-height: 30px; margin-bottom:7px;}
.infoList{ margin-bottom: 10px; position: relative;}
.liItemInfo:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.infoList:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.infoItem{ width: 33%; float: left;}
.infoItem:nth-child(2){ width: 36%;}
.infoItem:nth-child(3){ width: 30%;}
.infoWord{ font-size: 16px; color: #444; height: 30px; line-height:30px;}
.infoTitle{ color: #bdbdbd; font-size: 13px; height: 16px; line-height: 16px;}
.liItemBottom{padding: 6px; line-height: 22px; font-size: 13px; color: #bcbcbc;
background-image: -moz-linear-gradient(#e5e5e5 50%, transparent  50%);background-image: -webkit-linear-gradient(#e5e5e5 50%, transparent  50%);background-image: -ms-linear-gradient(#e5e5e5 50%, transparent  50%);background-size: 100% 1px;background-position: left top;background-repeat: no-repeat;
display: none;
}
.redWord{ color: #e04947; font-size: 23px;}
.orangeWord{ color: #c8a25d;}
.grayWord{ color: #bcbcbc;}
.arrowIcon{ background: url(../images/arrowIcon_bg.png); background-size: 8px 14px; width: 8px; height: 14px; position: absolute; right: 5px; top:15px}


.detailsBox{ padding-bottom: 70px;}
.detailsHeaderBox{ margin-bottom: 10px;}
.detailsHeader{ padding: 45px 14px 0 14px; width: 100%; height: 125px; box-sizing: border-box; background: url(../images/detailsHeader_bg.jpg) no-repeat; background-size: 100% 125px;}
.detailsHeader .infoTitle{ color: #adadad;}
.detailsHeader .infoWord,.detailsHeader .redWord{ color: #fff; font-size: 17px;}
.detailsHeader .redWord{ font-size: 29px;}
.detailsHeader .arrowIcon{display: none;}

.comment{ padding: 10px 14px; background: #fff; font-size: 13px; color: #bcbcbc; line-height: 20px;}


.detailsList{ padding: 0 14px ; background: #fff; margin-bottom: 10px;}
.detItem{
	background-image: -moz-linear-gradient(#e5e5e5 50%, transparent  50%);background-image: -webkit-linear-gradient(#e5e5e5 50%, transparent  50%);background-image: -ms-linear-gradient(#e5e5e5 50%, transparent  50%);background-size: 100% 1px;background-position: left bottom;background-repeat: no-repeat;
	padding: 12px 2px; line-height: 24px; font-size: 16px;
}
.detItem:last-child{background: none;}
.detItem:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.detTitle{ color:#bcbcbc ; text-align: left; width: 40%; float: left;}
.detCon{ color: #444; text-align: right; width: 60%; float: right;}
.linkDiv{position: relative; color: #444; font-size: 16px;}
.linkDiv .arrowIcon{ position: absolute; right: 2px; top: 3px;}

.investmentInfo{ background: #fff; padding: 16px 14px;}
.investmentInfoLogo{margin-bottom: 5px; background: url(../images/investmentInfo_Logo.jpg) no-repeat; background-size: 90px 33px; width: 100%; height: 20px;}
.investmentInfoLogo.logo1{ background-position: 0 0;}
.investmentInfoLogo.logo2{ background-position: 0 -20px;}
.investmentInfoCon{ font-size: 12px; line-height: 20px; color: #929292;}

.sucIconBox,.failIconBox{ background: #8ab346; width: 60px; height: 60px; border-radius: 50%; margin:100px auto 25px auto;  position: relative; }
.failIconBox{ background: #e24842;}


.sucIcon{ background: url(../images/successIcon.png); background-size: 38px 28px;width:38px; height:28px; position: absolute; top:18px; left: 11px; }
.failIcon{ background: url(../images/failIcon.png); background-size: 27px 27px;width:27px; height:27px; position: absolute; top:17px; left: 16.5px; }
.sucTitle{ font-size: 17px; text-align: center; color: #444444; font-size: 17px; line-height: 34px;}
.sucInfo{ padding: 0 30px; margin-bottom: 35px; text-align: center; color: #929292; font-size: 13px; line-height: 24px;}
.sucBtnBox{ padding: 0 14px 100px 14px;}


.conBox{ color:#929292 ; font-size: 13px; padding: 15px 25px; line-height: 24px;}
.conMainTitle{ color: #444; font-size: 14px;}
.conSubTitle{color: #444;}

/*弹窗样式*/
body.modal-open {
    position: fixed;
    width: 100%;
}
.dialogBox{ position: fixed;}
.dialog{ width: 100%; position: relative; border-radius: 5px; background: #FFFFFF; box-sizing: border-box; }
.dialog:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.dialogTitle{ line-height: 26px; padding: 15px 15px; color:#444; text-align: center; position: relative;}

.dialogTitle .closeBtn{ background: url(../images/dialogCloseBtn_bg.png) center center no-repeat; background-size:14px 14px; display: inline-block; width: 30px; height: 30px; position: absolute; top:12px; right: 15px;}
.bottomBorder{ margin-bottom: 10px;
	background-image: -moz-linear-gradient(#e5e5e5 50%, transparent  50%);background-image: -webkit-linear-gradient(#e5e5e5 50%, transparent  50%);background-image: -ms-linear-gradient(#e5e5e5 50%, transparent  50%);background-size: 100% 1px;background-position: left bottom;background-repeat: no-repeat;
}
.topBorder{
	background-image: -moz-linear-gradient(transparent  50%,#e5e5e5 50%);background-image: -webkit-linear-gradient(transparent  50%,#e5e5e5 50%);background-image: -ms-linear-gradient(transparent  50%, #e5e5e5 50%); background-size: 100% 1px;background-position: left top;background-repeat: no-repeat;
}
.dialogConBox{ padding: 0 25px 0 25px; margin-bottom: 25px; color: #929292; font-size: 13px; line-height: 22px; overflow-y: scroll;-webkit-overflow-scrolling: touch; }
.bottomBtn .closeBtn,.bottomBtn .twoBtn{ display: inline-block; width: 100%; height:44px; line-height: 44px; text-align: center; color:#c9a358; font-size: 16px; text-align: center;}
.bottomBtn .twoBtn{ 
	width: 50%;float: left;
	background-image: -moz-linear-gradient(right,#e5e5e5 50%, transparent  50%);
	background-image: -webkit-linear-gradient(right,#e5e5e5 50%, transparent  50%);
	background-image: -ms-linear-gradient(right,#e5e5e5 50%, transparent  50%);
	background-size:1px 100%;
	background-position: right top;
	background-repeat: no-repeat;
	}

.bottomBtn .twoBtn:last-child{ background: none;}
.bottomBtn .twoBtn.touchbtn{ background:#e0c689; color: #FFFFFF;}
.bottomBtn .twoBtn.disable{ background-color: #ccc; color: #FFFFFF;}
.bottomBtn:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.outsideBtn{ width: 100%; margin-top: 20px;}
.outsideBtn .btn{ margin:20px 0;}

.ovrly { background: rgba(0, 0, 0, 0.7);z-index: 10;position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.dialogBox{ position: fixed; z-index: 11;}


.dialog1{ width: 270px!important; top:20%; left: 50%; transform:  translateX(-50%);-webkit-transform:  translateX(-50%);}
.dialog1 .dialogConBox{ padding: 0 25px; text-align: justify; height: auto; overflow: hidden;}
.dialog2,.dialog3{ padding:0  15px;top:10%; width: 100%; box-sizing: border-box;}
.dialog2 .dialogConBox{ height: 340px; padding: 0; margin: 0 25px 25px 25px;  box-sizing: border-box; }
.dialog3 .dialogConBox,.dialog4 .dialogConBox{ text-align: center; height: auto; overflow: visible; }
.dialog3{ top:25%;}
.dialog3 .orangeWord,.dialog4 .orangeWord{ color: #d0aa63; font-size: 18px;  line-height: 45px; margin-top: 5px;}

.dialog4{ width: 270px!important;top:25%!important;position: fixed;left: 50%; transform:  translateX(-50%);-webkit-transform:  translateX(-50%);}
.dialog4 .dialogConBox{overflow:visible}
.dialog4 .bottomBorder{ background: none;}
/*弹窗样式：end*/

.watermarkBox{ position:absolute; top:0; left: 0; width: 100%; height: 0; z-index: 99999;}
.watermark{-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent; position: absolute;width:100%; text-align:center;height:100px; color: rgba(115,168,227,0.5);  font-size: 25px;-webkit-transform-origin:  center center;  transform: rotate( -25deg)  ;-webkit-transform: rotate( -25deg); perspective:200px; z-index: 2; word-spacing:5px;}

.watermark:nth-of-type(1){ top:100px;}
.watermark:nth-of-type(2){ top:350px;}
.watermark:nth-of-type(3){ top:550px;}
.watermark:nth-of-type(4){ top:750px;}
.watermark:nth-of-type(5){ top:950px}
.watermark:nth-of-type(6){ top:1200px;}
.watermark:nth-of-type(7){ top:1400px;}
.watermark:nth-of-type(8){ top:1600px;}
.watermark:nth-of-type(9){ top:1800px;}
.watermark:nth-of-type(10){ top:2000px;}
.watermark:nth-of-type(11){ top:2200px;}


.tips{animation:mymove 2.5s normal;-webkit-animation:mymove 2.5s normal;/* box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);*/transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); position: fixed; z-index: 999; left: 50%; top:49%; padding: 15px 15px; line-height:30px ; color: #000; font-size: 16px; font-weight: bold; background: rgba(255,255,255,0.9); border-radius: 5px;}
.tips.hide{display: none;}
.tips.show{animation:mymove 2.5s normal; display: block;}
@keyframes mymove
{
    0%{background: rgba(255,255,255,0) ;}
    25% { background:  rgba(255,255,255,0.9);}
    65% { background:  rgba(255,255,255,0.9);}
    100% {background: rgba(255,255,255,0) ;}
}
@-webkit-keyframes mymove
{
    0%{background: rgba(255,255,255,0) ;}
    25% { background:  rgba(255,255,255,0.9);}
    65% { background:  rgba(255,255,255,0.9);}
    100% {background: rgba(255,255,255,0) ;}
}
.wordGray .liItemInfo,.wordGray .infoWord,.wordGray .liItemTitle,.wordGray .redWord{ color: #BCBCBC;}

.contentMain{ position: relative; overflow: hidden;  min-height: 100vh;}
.content{ left: 0; top:0; width: 100%; box-sizing: border-box; font-size: 14px; color: #666; padding: 14px; background: #FFFFFF; word-wrap: break-word;}
.content img{ max-width: 100%;}
.tipsBox{ display: none; width: auto; /*min-width: 200px; text-align: justify;*/ color: #FFFFFF; font-size: 14px; line-height: 26px; padding: 12px 18px; background: rgba(0,0,0,0.6); border-radius: 5px; position: fixed; left: 50%; top:50%; margin: 0 auto; transform-origin: left top;transform: translate(-50%);-webkit-transform-origin: left top;-webkit-transform: translate(-50%); max-width: 300px;}
.tipsBox.hide{ display: none;}
.tipsBox.show{ display: block;}

.scrollDiv{ overflow-y: scroll; max-height: 200px;-webkit-overflow-scrolling: touch;}
