@base:75;
.iosselect-return-date{
  color:#cbcbcb;
  .iosselect-header{
    border-top: 1rem/@base solid #ebebeb;
    border-bottom: 1rem/@base solid #ebebeb;
    font-size: 26rem/@base;
    line-height: 58rem/@base;
    padding: 0 40rem/@base;
    a{
      color: #c4a06c;
      text-decoration: none;
      &.close{
        float: left;
      }
      &.sure{
        float: right;
      }
    }
    h2{
      font-size: 26rem/@base;

    }
  }
  .select-one-level{
    font-size: 26rem/@base;
  }
  .one-level-contain{
    overflow: hidden;
  }
  .at{
    color: #c4a06c;
    font-size: 28rem/@base;
  }
}