@base:75;
.refresh-loading(@width:72rem/@base,@height:72rem/@base){
  display: inline-block;
  width: @width;
  height: @height;
  animation: refresh-loading 1s linear infinite;
}
@keyframes refresh-loading{
  0% {
    background: url("../../images/loading/refresh_1.png");
    background-size: 100%;
  }
  7% {
    background: url("../../images/loading/refresh_2.png");
    background-size: 100%;
  }
  14% {
    background: url("../../images/loading/refresh_3.png");
    background-size: 100%;
  }
  21% {
    background: url("../../images/loading/refresh_4.png");
    background-size: 100%;
  }
  28% {
    background: url("../../images/loading/refresh_5.png");
    background-size: 100%;
  }
  35% {
    background: url("../../images/loading/refresh_6.png");
    background-size: 100%;
  }
  42% {
    background: url("../../images/loading/refresh_7.png");
    background-size: 100%;
  }
  49% {
    background: url("../../images/loading/refresh_8.png");
    background-size: 100%;
  }
  56% {
    background: url("../../images/loading/refresh_9.png");
    background-size: 100%;
  }
  63% {
    background: url("../../images/loading/refresh_10.png");
    background-size: 100%;
  }
  70% {
    background: url("../../images/loading/refresh_11.png");
    background-size: 100%;
  }
  77% {
    background: url("../../images/loading/refresh_12.png");
    background-size: 100%;
  }
  84% {
    background: url("../../images/loading/refresh_13.png");
    background-size: 100%;
  }
  91% {
    background: url("../../images/loading/refresh_14.png");
    background-size: 100%;
  }
  98% {
    background: url("../../images/loading/refresh_1.png");
    background-size: 100%;
  }
}