@charset "UTF-8";
body,div.ul,li,span,img{
    margin: 0;
    padding: 0;
    font-family: Helvetica Nueue, Arial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul,li{
    list-style: none;
}
img{
    border: none;
}
html,body{
    background: #f4f4f4;
}
.box{
    width: 736px;
    margin: 10px auto;
}
.box .box-time{
    position: relative;
    height: 80px;
    border: 1px solid #dcdcdc;
    padding: 0 18px;
}
.time-left{}
.time-center{}
.time-right{}