body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:665px;
}
#u1261 {
  position:absolute;
  left:17px;
  top:8px;
  width:373px;
  height:665px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:324px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263 {
  position:absolute;
  left:17px;
  top:27px;
  width:52px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1264 {
  position:absolute;
  left:75px;
  top:537px;
  width:214px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
