body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,select{
  margin:0;
  padding:0
}
html {
  -webkit-text-size-adjust: none;
}
li{
  padding: 0;
  margin: 0;
  list-style:none;
}
em{
  font-style: normal;
}

input,button,select,textarea{
  outline: none;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img {
  vertical-align: top;
  border: none;
}
textarea{
  resize: none
}
a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,strong,i,em{
  font-weight: normal;
  font-style: normal;
}
li{
  padding: 0;
  margin: 0;
  list-style:none;
}
em{
  font-style: normal;
}

input,button,select,textarea{
  outline: none;
  padding: 0;
  border: none;
}
textarea{
  resize: none
}
a{
  text-decoration: none;
}

.relative {
  position: relative;
}

@-webkit-keyframes toLeft {
  0% {-webkit-transform: rotate(-180deg);}
  100% {}
}
@-moz-keyframes toLeft {
  0% {-moz-transform: rotate(-180deg);}
  100% {}
}
@-ms-keyframes toLeft {
  0% {-ms-transform: rotate(-180deg);}
  100% {}
}
@keyframes toLeft {
  0% {transform: rotate(-180deg);}
  100% {}
}


