* {margin: 0;padding: 0;}
ul,li {list-style: none;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
body{font-family: arial; background:#F4F4F4 ;}

.enjoyAccountmain{position: absolute;top:0; left: 0; width: 200%;transform: scale(0.5); transform-origin: left  top;-webkit-transform: scale(0.5);-webkit-transform-origin: left  top;}
.mainItem{margin-bottom:16px;}
.mainItem:last-child{margin-bottom: 0;}

.itemCon{ background: #FFFFFF; padding: 28px; }
.itemTitle{font-size: 32px; line-height: 52px; color: #c9a358; margin-bottom: 10px; font-weight: bold;}
.conWord{color: #929292; font-size: 28px; line-height: 42px; margin-bottom: 20px;}
.conWord p{ margin-bottom: 10px; text-align:justify  ;}
.conWord p:last-child{ margin-bottom: 0;}
.title{font-size: 28px; color: #444444; margin-bottom: 20px; margin-bottom: 20px;}

.tableCon{ margin-bottom: 40px;}
.tableCon table{ width: 100%; border-top:1px solid #444444;border-right:1px solid #444444;}
.tableCon table td{ text-align: center; padding: 20px 5px; line-height: 40px; font-size:28px;  border-bottom:1px solid #444444;border-left:1px solid #444444}
.tableCon table thead td{ background: #d8d8d8;}
span.strong{ font-weight: bold;}
/*.QAItem .title{ margin-bottom: 5px;}
.QAItem .conWord{ margin-bottom: 10px;}
.QAItem .conWord p{ margin-bottom: 0;}*/
@media screen and (max-width: 320px) {
	.tableCon table td{ font-size: 24px;}
}