*{ margin: 0; padding: 0;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
input{ outline: none;-webkit-tap-highlight-color:transparent;}
img{ border: none; display: inline-block;outline: none;margin: 0;padding: 0; vertical-align: top;}
ul,li{list-style: none;}
body{ font-family:"苹方"; background: #f4f4f4;-webkit-text-size-adjust: 100%;}
body.agreementBody,body.bgWhite{ background: #FFFFFF;  }
/*gradeBox*/
.gradeBox{
    max-width: 750px;
    margin: 0 auto;
    background: #f1f0f0;
    font-family:"苹方";
}
.width100{width: 100%;}
.gradeList{background: white;padding: 10px 0 40px 0;}
.gradeList .grade-p{font-size: 14px; color: #504d49;}
.table{
    width: 92%;
    /*border: 1px solid #d5b88e;*/
    margin: 0 auto;
    text-align: center;
}
.table th{background: #fdf9f2;color: #b27131;}
.table th:last-child ,.table td:last-child{
    border-right: 1px solid #d9bfa5;
}
.table th ,.table td{
    border-top: 1px solid #d9bfa5;
    border-left: 1px solid #d9bfa5;
    font-size: 12px;
    text-align: center;
    padding: 10px 5px;
}
.table td{color: #707070;}
.table td img{width: 12px; height: 12px;}
.table tr:last-child td{
    border-bottom: 1px solid #d9bfa5;
}
/*table2*/
.table.table2{margin-top:18px; }
.table.table2 th{background: #eee1ce;color: #4e4e4e;}
.table.table2 th ,.table.table2 td{
    border-top: 1px solid #d5b88e;
    border-left: 1px solid #d5b88e;
    font-size: 12px;
    text-align: center;
    padding: 10px 5px;
}
.table.table2 tr:last-child td{
    border-bottom: 1px solid #d5b88e;
}
.table.table2 td{color: #666666;}
.table.table2 td p{
    text-align: left;
    color: #a67a3a;
}
/**/
.gradeRule .grade-p{
    font-size: 12px;
    color: #666666;
    text-align: left;
    width: 92%;
    margin: 10px auto;
}
.gradeBom h2{
    font-size: 14px;
    color: #c2904b;
    text-align: center;
    padding-top: 10px;
}
.gradeBom p{
    font-size: 12px;
    color: #787878;
    text-align: center;
    padding: 10px 0;
}
/**/
.gradeRule{
    background: white;
}
.gradeNo{
    width: 94%;
    margin: 0 auto;
    background: #f5ede2;
    border-radius: 4px;
    box-shadow: 0 0 10px #cccccc;
    margin-top: 15px;
    position: relative;
    padding: 30px 0;
}
.gradeNo div.left{
    position: relative;
    width: 55%;
    text-align: center;
}
.gradeNo div.left h1{display:inline-block;font-size: 18px;color: #a57f49; }
.gradeNo div.left span{font-size: 16px;color: #707070;display:inline-block;}
.gradeNo div.right{
    position: absolute;
    left: 55%;
    top:38px;
}
.gradeNo div.right h1{font-size: 16px;color: #a57f49;}
.gradeNo div.right h1 em{color: #bc1111;font-style: normal;}
.pl40{padding-left: 42px;}
.pl20{padding-left: 24px;}
.gradeBom-img{
    background: #dededd;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 5px;
}
.gradeBom-img img{width: 70px;height: 70px;}
.gradeBom-img img:first-child{margin-right: 30px;}
.gradeTop{position: relative;}
.gradeImg{
    width: 272.5px;
    height: 110px;
    background: url("../images/grade/b.png") no-repeat;
    background-size:100%;
    position: absolute;
    left: 50%;
    bottom:11%;
    margin-left: -136.25px;
}
.gradeImg a{font-size: 14px;color: #aa6533;position: absolute;top:7px;right: 25px;}
.gradeImg h2{position:relative;top:2px;width:40%;padding-left:28px;font-size: 24px;color: #b17038;display: inline-block;}
.gradeImg h3{padding-left:16px;font-size: 18px;color: #b17038;display: inline-block;}
.gradeImg .gradeWord{padding-top:40px;}
/*list*/
.gradeRecord{
    width: 94%;
    margin: 0 auto;
    background: white;
    padding: 15px 0 50px 0;
    min-height: 200px;

}
.gradeRecord table{
    width: 94%;
    margin: 0 auto;
}
.gradeRecord table th{font-weight:100;font-size: 14px;color: #adadad;}
.gradeRecord table td{font-size: 16px;color: #c7721d;}
.gradeRecord table th,.gradeRecord table td{
    border-top:1px solid #b8b8b8;
    border-left:1px solid #b8b8b8;
    padding: 5px 0;
    text-align: center;
}
.gradeRecord table th:last-child,.gradeRecord table td:last-child{
    border-right:1px solid #b8b8b8;
}
.gradeRecord table tr:last-child th,.gradeRecord table tr:last-child td{
    border-bottom:1px solid #b8b8b8;
}
.grade-p{
    color: #3c3c3c;
    font-size: 12px;
    padding: 5px 0 15px 0;
    text-align: center;
}
@media all and (max-width: 320px) {
    .gradeImg{bottom:7%;}
}
@media all and (min-width: 321px) and (max-width:375px) {
    .gradeImg{bottom:9%;}
}

