@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html,body{
    height:100%
}
ul,li{
    list-style: none;
}
#btn{
    width:50px;
    height:50px;
    background: url("../img/scrollup.png") no-repeat;
    z-index:11;
    display: none;
    position: fixed;
    right:28px;
}
#wrap{
    font-size:16px;
    position: relative;
    font-family: Helvetica Nueue, Arial;
    line-height: 28px;
    background: #fff;
    width:100%;
    min-width:1160px;
    margin:0;
    padding:0;
}
#wrap .header{
    background-color: #5D5D58;
    height: 36px;
    line-height: 36px;
    width: 1185px ;
    position: relative;
    padding:0 80px;
    margin:0 auto;
}
.header a{
       display:inline-block;
       float: left;
       height:36px;
       color:#ccc;
       padding:0 15px;
       text-decoration: none;
}
.header a:hover{
     background:black;
}

.header a:nth-child(1){
    background: white;
    color:#5D5D58;
}
.nav{
   /* box-sizing: border-box;*/
    color: rgb(51, 51, 51);
    display: block;
    height: 74px;
    line-height: 28px;
    max-width: 1200px;/*ע������*/
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
    width: 100%;
   /* background: grey;*/
}
.nav .navcont{
      width:100%;
     line-height: 28px;
     position:relative;
     top:13px;
     height:52px;
   /* background: palevioletred;*/

}
.nav .navcont .logo{
    display: table-cell;/**ע�����*/
    vertical-align:middle;/*ע����3�����logo�����µ��м����*/
    height:52px;
}
.nav .navcont .nav_right{
    color: rgb(51, 51, 51);
    display:table-cell;
    height:32px;
    line-height: 28px;
    list-style-type: none;
    text-align: right;
    position: relative;
    left:680px;
}
.nav_right ul#ul01 li.nav_right_deta{
     text-align: right;
    line-height: 28px;
    display:table-cell;
    vertical-align: middle;}
   .nav_right ul li span{
    padding:0 5px;
}
.nav_right ul#ul01 li.nav_right_deta img{border:none}
.nav_right ul li a{font-size: 15px; color:#5D5D58; text-decoration: none}
.nav_right ul li a:hover{text-decoration:underline}
.nav_right ul li:nth-child(2){
    position: relative;
     top:4px;
}
#wrap .content{
    width:100%;
    position: relative;
    height:auto;
    margin:0 auto;
}
#wrap .content .navdetail{
    margin:0 auto;
    width:100%;
    color: rgb(51, 51, 51);
    font-size: 16px;
    overflow: hidden;
    line-height: 28px;
}
#wrap .content .navdetail .bh{
    position: relative;
    margin:0;
    width:100%;
    background:greenyellow;
    display: none;
}
#wrap .content .navdetail .bh .bh_in{
    width:85%;
    overflow: hidden;
    margin:0 auto;
    background: pink;
}

#wrap .content .navdetail .bh .bh_in .bh_in_ul{
                   height: 0;
                   margin: 0 auto;
                   width:100%;
                  /* overflow: hidden;*/
                   background: bisque;
}
#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_a{
    position: relative;
    margin: 0 auto;
    width:100%;
    height:250px;
    background:grey;

}

#wrap .content .navdetail .bh .bh_in .bh_in_ul a{
            text-decoration: none;
            color: #5D5D58;
}
#wrap .content .navdetail .bh .bh_in .bh_in_ul a:hover{
              text-decoration:underline;
}


#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_a li{
           position: relative;
           vertical-align: middle;
            width:280px;
            height:200px;
            float:left;
            margin: 15px 15px;
}
#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_a li img{
         display: inline-block;
        position:relative;
        top:22px;
}

#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_a li p{
         display: inline-block;
         margin-left: 15px;


}

#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_a li:first-child+li+li p{
    position:relative;
    top:44px;
}

#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_b{
    position: relative;
    margin: 0 auto;
    width:100%;
    height:320px;
    background:cornflowerblue;
}

#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_b>li{
    position: relative;
    vertical-align: middle;
    width:280px;
    height:200px;
    float:left;
    margin: 10px 30px;
}

#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_c>li{
    position: relative;
    vertical-align: middle;
    width:270px;
    height:200px;
    float:left;
    margin: 10px 10px;
}
#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_c>li img{
                        width:270px;
                        height:140px;
}

#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_c>li:first-child+li{
                        width:240px;
}



#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_b>li:first-child li{
                          line-height: 50px;
                           height:50px;
                           border-bottom:1px solid  rgb(245, 245, 220);
}


#wrap .content .navdetail .bh .bh_in .bh_in_ul .bh_in_ul_b>li img{
    width:290px;
    height:150px;
    border: none;
}


#ula{
    color: rgb(51, 51, 51);
    font-size: 16px;
    height: 52px;
    line-height: 52px;
     width: 100%;
    position: relative;
    background:beige;
    vertical-align: middle;
   }

#ula li.navlist{
    height:51px;
    padding-left:55px;
    width:70%;
    float: left;
    line-height: 51px;
    font-family: "Microsoft YaHei", Arial;

}
#ula li.navlist a{
    -webkit-user-select: none;
    color:#5D5D58;
    display: block;
    float: left;
   margin-left: 45px;
    height: 49px;
    line-height:49px;
    text-decoration: none
}
#ula li.navlist a:hover{
    border-bottom: 2px solid orangered;
}
#ula li.navlist a:first-child{
    position: relative;
    top:2px;
    width:100px;
    height:46px;
    text-align: left;
    border:1px solid white;
    border-radius:5%;
    background: white;
}
#ula li.navlist a:first-child span.person{
    position: relative;
    top:1px;
    width:22px;
    height:22px;
    display: inline-block;
    background: url("../img/per.png") no-repeat 1px 4px;
}

#ula li.navlist a:first-child:hover{color: orangered}
#ula li.navlist a:first-child i#jt{
    display: inline-block;
    width:20px;
    height:20px;
    background: url("../img/a.jpg") 5px center no-repeat;;
    background-repeat: no-repeat;
    background-position: 0 6px !important;
    background-size:16px 16px;
}
#ula li.navlist a:first-child:hover{background: white}
#ula li.navlist a:first-child:hover i#jt{
       background: url("../img/b.jpg")no-repeat 0 8px;
       background-size:16px 16px;
       border: none;

}
#ula li.search{

      position:absolute;
      top:5px;
       right:8%;
      display: inline-block;
      width:180px;
       line-height:40px;
       height:40px;
       background: white;
      }
#input1{
    position:absolute;
    right:40px;
    background-color:white;
    border: none;
    font-size: 16px;
    width:140px;
    height:40px;
   line-height: 40px;

}
#input2{
    position:relative;
    left:144px;
    width:40px;
    height:40px
    float: right;
    line-height:40px;
    border: 0px;
    background-size: 20px 20px;
    cursor: pointer;
    background: url("../img/icon_find.png") left center no-repeat;
}
#secondLayer>div{
    z-index:100;
}
#secondLayer #secondOne{
    height: 236px;
    width: 100%;
}
#secondLayer #secondOne #secondOne1{
    padding: 10px 35px 0;
    margin: 0 auto;
    height: 160px;
    width: 1100px;
}
#secondLayer #secondOne #secondOne1>div{
    float: left;
    height: 170px;
    width: 400px;
}
#secondLayer #secondOne #secondOne1>ul{
    float: left;
    height: 170px;
    width: 300px;
}
#secondLayer #secondOne #secondOne1 #secondOne11 #secondOne111{
    float: left;
    height: 170px;
}
#secondLayer #secondOne #secondOne1 #secondOne11 #secondOne112{
    float: left;
    margin: 15px 0 0 40px;
    height: 170px;
}
#secondLayer #secondOne #secondOne1 #secondOne11 #secondOne112 li{
    margin-bottom: 15px;
}
#secondLayer #secondOne #secondOne1 #secondOne12 #secondOne121{
    float: left;
    height: 170px;
}
#secondLayer #secondOne #secondOne1 #secondOne12 #secondOne122{
    float: left;
    margin: 15px 0 0 40px;
    height: 170px;
}
#secondLayer #secondOne #secondOne1 #secondOne12 #secondOne122 li{
    margin-bottom: 15px;
}
#secondLayer #secondOne #secondOne1 #secondOne13{
    margin: 15px 0 0;
}
#secondLayer #secondOne #secondOne1 #secondOne13 li{
    margin-bottom: 15px;
}
#secondLayer #secondOne #secondOne2{
    margin: 0 auto 0;
    width: 1170px;
    height: 66px;
}
#secondLayer #secondOne #secondOne2 li:first-child{
    padding: 0 0 0 140px;
    float: left;
    height: 30px;
    width: 405px;
    line-height: 0;

}
#secondLayer #secondOne #secondOne2 li:last-child{
    float: left;
    height: 30px;
    width: 485px;
    line-height: 0;

}
#secondLayer #secondTwo{
    height: 326px;
    width: 1349px;
}
#secondLayer #secondTwo #secondTwo1{
    margin: 10px auto 40px;
    height: 276px;
    width: 1170px;
}
#secondLayer #secondTwo #secondTwo1 ul{
    float: left;
    height: 276px;
}
#secondLayer #secondTwo #secondTwo1 ul h3{
    font-size: 16px;
    margin-top: 10px;
}
#secondLayer #secondTwo #secondTwo1 #secondTwo11{
    width: 300px;
    padding-right: 130px;
}
#secondLayer #secondTwo #secondTwo1 #secondTwo11 li{
    width: 300px;
    border-bottom:1px solid #ccc;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
}
#secondLayer #secondTwo #secondTwo1 #secondTwo11 li a{
    font-size: 18px;
}

#secondLayer #secondTwo #secondTwo1 #secondTwo12 h3{
    margin: 10px 0;
    width: 400px;
}
#secondLayer #secondTwo #secondTwo1 #secondTwo12 li:last-child{
    line-height: 30px;
}
#secondLayer #secondTwo #secondTwo1 #secondTwo13 h3{
    margin: 10px 0;
    width: 340px;
}
#secondLayer #secondTwo #secondTwo1 #secondTwo13 li:last-child{
    line-height: 30px;
}
#secondLayer #secondThree{
    padding:10px 0 40px;
    height: 260px;
    width: 100%;
}
#secondLayer #secondThree1{
    margin: 0 auto;
    height: 260px;
    width: 1170px;
}
#secondLayer #secondThree #secondThree1>div{
    float: left;
}
#secondLayer #secondThree #secondThree1>div h3{
    margin:10px 0 20px;
}
#secondLayer #secondThree #secondThree1>div span{
    display: block;
    margin-bottom: 15px;
}
#secondLayer #secondThree #secondThree1>div p{
    line-height: 32px;
}
#secondLayer #secondThree #secondThree1>div img{
    width: 270px;
    height: auto;
}
#secondLayer #secondThree #secondThree1 #secondThree11{
    width: 260px;
}
#secondLayer #secondThree #secondThree1 #secondThree11 h3{
    color: #cc0000;
}
#secondLayer #secondThree #secondThree1 #secondThree12 h3{
    color: #cc0000;
}
#secondLayer #secondThree #secondThree1 #secondThree12{
    width: 170px;
}
#secondLayer #secondThree #secondThree1 #secondThree13{
    margin-top: 52px;
    width: 170px;
}
#secondLayer #secondThree #secondThree1 #secondThree14{
    width: 300px;
}
#secondLayer #secondThree #secondThree1 #secondThree15{
    width: 270px;
}
#secondLayer #secondFour{
    padding: 26px 0 34px;
    height: 264px;
    width: 100%;
}
#secondLayer #secondFour #secondFour1{
    margin: 0 auto 0;
    height: 264px;
    width: 1170px;
}
#secondLayer #secondFour #secondFour1 div{
    float: left;
    height: 264px;
}
#secondLayer #secondFour #secondFour1 div span{
    display: block;
    margin-bottom: 10px;
}
#secondLayer #secondFour #secondFour1 div h3{
    margin-bottom: 20px;
    color: red;
}
#secondLayer #secondFour #secondFour1 #secondFour11{
    width: 300px;
}
#secondLayer #secondFour #secondFour1 #secondFour12{
    width: 300px;
}
#secondLayer #secondFour #secondFour1 #secondFour13{
    width: 300px;
}
#secondLayer #secondFour #secondFour1 #secondFour14{
    padding-top: 41px;
    height: 243px;
    width: 200px;
}
#secondLayer #secondFive{
    padding: 28px 0 36px;
    height: 342px;
    width: 100%;
}
#secondLayer #secondFive #secondFive1{
    margin: 0 auto 0;
    height: 342px;
    width: 1170px;
}
#secondLayer #secondFive #secondFive1 div{
    float: left;
    height: 342px;
    width: 200px;
}
#secondLayer #secondFive #secondFive1 div:last-child{
    float: left;
    width: 170px;
}
#secondLayer #secondFive #secondFive1 div span{
    margin-bottom: 20px;
    display: block;
}
#secondLayer #secondFive #secondFive1 div h3{
    margin-bottom: 20px;
}
#secondLayer #secondFive #secondFive1 div .h3{
    color: red;
}
#secondLayer #secondSix{
    padding: 28px 0 38px;
    height: 262px;
    width: 100%;
}
#secondLayer #secondSix1{
    margin: 0 auto;
    height: 262px;
    width: 1170px;
}
#secondLayer #secondSix1 div{
    float: left;
    height: 262px;
    width: 300px;
}
#secondLayer #secondSix1 div:last-child{
    float: left;
    height: 262px;
    width: 270px;
}
#secondLayer #secondSix1 div h3{
    color: red;
    margin-bottom: 15px;
}
#secondLayer #secondSix1 div span{
    display: block;
    margin-bottom: 14px;
}
#secondLayer #secondSix1 div p{
    line-height: 30px;
    margin-top: 15px;
}
#secondLayer #bg{
    height: 52px;
    width: 100%;
    background-color: #eee;
}

#lunbo{
    position:relative;
    background: #666;
    overflow: hidden;
    width:1349px;
    height:540px;
    font-size:0;
}
#lunbo .btnleft{z-index: 13;
                 width:100px;
                 height:100px;
                 position: absolute;
                 top:42%;
                 left:20px;
                 opacity:.4;
                 background:url("../img/btnleft.png")}
#lunbo .btnright{z-index: 13;
                 width:100px;
                 height:100px;
                 position: absolute;
                 top:42%;
                 opacity:.4;
                  right:20px;
    background:url("../img/btnright.png")
}

#lunbo .btnleft:hover{opacity:1}
#lunbo .btnright:hover{opacity:1}




#lunbo  ul.pics{
    position: relative;
    width:1349px;
    /*height: 540px;*/
    overflow:visible}


#lunbo ul.pics li{
    position:absolute;
     left:0;
}
#lunbo ul.pics li:first-child{
    width:1349px;
    height:540px;
    display:block;
    background: url("../img/hw1.jpg") no-repeat 50% 50%;
}
#lunbo .pics li:first-child+li{
    width:1349px;
    height:540px;
    display:block;
    background: url("../img/hw2.jpg") no-repeat 50% 50%;
}
#lunbo .pics li:last-child{
    width:1349px;
    height:540px;
    display:block;
    background: url("../img/hw3.jpg") no-repeat 50% 50%;
}
#lunbo .pics div.pics_layout1{
     width:440px;
    height:270px;
    position:absolute;
     left:160px;
     top:200px;
     overflow: hidden}
#lunbo .pics div.pics_layout1 img.img1{
    z-index: 11;
    position: absolute;
    left: 0px;
    top:0px;
}

#lunbo .pics div.pics_layout1 span{
    z-index: 12;
    color: white;
    width: 120px;
    height: 40px;
    font-family: "Microsoft YaHei", Arial;
    font-size: 18px;
    position: absolute;
    left: 204px;
    top: 190px;
    background: #ff760c;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle;
    padding-top: 6px;
    text-align: center;
}
#lunbo .pics div.pics_layout1 span:hover{
         background: red;
}
#lunbo .pics div.pics_layout2{
    width: 522px;
    height: 236px;
    position: absolute;
    right: 109px;
    top: 226px;
    overflow: hidden;}
#lunbo .pics div.pics_layout2 img.img2{
    z-index: 11;
    position: absolute;
    left: 0px;
    top:0px;
}
#lunbo .pics div.pics_layout2 span{
    z-index: 12;
    color: white;
    width: 120px;
    height: 40px;
    font-family: "Microsoft YaHei", Arial;
    font-size: 18px;
    position: absolute;
    left: 258px;
    top: 152px;
    background: #ff760c;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle;
    padding-top: 6px;
    text-align: center;
}
#lunbo .pics div.pics_layout2 span:hover{
    background: red;
}

   #lunbo .pics div.pics_layout3{
       width:572px;
       height:236px;
       position: absolute;
       right: 109px;
       top: 226px;
       overflow: hidden;}
#lunbo .pics div.pics_layout3 img.img3{
    z-index: 11;
    position: absolute;
    left: 0px;
    top:0px;
}
#lunbo .pics div.pics_layout3 span{
    z-index: 12;
    color: white;
    width: 120px;
    height: 40px;
    font-family: "Microsoft YaHei", Arial;
    font-size: 18px;
    position: absolute;
    left:298px;
    top:190px;
    background: #ff760c;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle;
    padding-top: 6px;
    text-align: center;
}

#lunbo .pics div.pics_layout3 span:hover{
    background:red;
}
#lunbo .num {
        height:28px;
        line-height: 28px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        margin-left: -30%; /*����һֱ�Ǹ�Ԫ��Ϊ������*/
    padding-left: 0;
    list-style: none;
    text-align: center;
   /* background: red;*/
}
#lunbo .num li:first-child{
    position:absolute;
    left:45%;
    top:2px;
    z-index: 11;
    border: none;
    display: inline-block;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width: 10px;
    height: 10px;
    margin:6px;
    cursor: pointer;
    background:midnightblue;

}
#lunbo .num li:last-child{
    position:absolute;
     left:53%;
    top:2px;
    z-index: 11;
    border: none;
    display: inline-block;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width: 10px;
    height: 10px;
    margin:6px;
    cursor: pointer;
    background:midnightblue;

}
#lunbo .num li:first-child+li{
    position:absolute;
    left:49%;
    top:2px;
    z-index: 11;
    border: none;
    display: inline-block;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width: 10px;
    height: 10px;
    margin:6px;
    cursor: pointer;
    background:midnightblue;

}
#lunbo ul.num li:hover{
                      background:orange;
                      width:15px;
                      height:15px;
                      border-radius: 15px}
#lunbo ul.num li.on{
    background:orangered;
    width:15px;
    height:15px;
    border-radius: 15px
}
#wrap .snew{
    overflow: hidden;
    height:60px;
    width:100%;
    position:relative;
}
#wrap .snew .snew_inbox{
    background-color: rgb(247, 247, 247);
    position: relative;
    margin:0 auto;
    height:60px;
    width:87%;
    overflow: hidden;

}
#wrap .snew .snew_inbox .snew_left{
     float: left;
     text-align: center;
     vertical-align: middle;
     width:160px;
     height:60px;
    background: url("../img/homepage_news_01.png") no-repeat center center;
}

#wrap .snew .snew_inbox .snew_left h3{
      font-family: "Microsoft YaHei", Arial;
      display:inline-block;
       height:60px;
       line-height: 60px;
}
#wrap .snew .snew_inbox .snew_left h3 a{text-decoration: none;color:#5D5D58}
#wrap .snew .snew_inbox .snew_left h3 a:hover{text-decoration:underline;}
#wrap .snew .snew_inbox .snew_center{
       position: relative;
       overflow: hidden;
       height:60px;
       width: 70%;
       display: inline-block;
}

#wrap .snew .snew_inbox .snew_center .snew_list{
              position: absolute;
              overflow: hidden;
              z-index: 20;
              width:80%;
              margin:0 auto;


}

#wrap .snew .snew_inbox .snew_center .snew_list li.listg {
    font-family: 'Microsoft YaHei', Arial;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    width: 100%;

}
#wrap .snew .snew_inbox .snew_center .snew_list li.listg a{text-decoration: none;
    color: #333;}
#wrap .snew .snew_inbox .snew_center .snew_list li.listg a:hover{
    text-decoration:underline;
    color:darkslateblue;
}



#wrap .snew .snew_inbox .snew_right{
       position:absolute;
       right:0;
       width:15%;
       height:60px;
       background:rgb(247, 247, 247);
       display: inline-block;


}
#wrap .snew .snew_inbox .snew_right .up,
#wrap .snew .snew_inbox .snew_right .down{
                                    display: inline-block;
                                     width:40px;
                                     height:20px;
                                     position: absolute;
}

#wrap .snew .snew_inbox .snew_right .up{
    background: url("../img/newup.png") no-repeat center center;
                left:16px;
                 top:12px;
         -webkit-user-select: none;
}
#wrap .snew .snew_inbox .snew_right .down{
    background: url("../img/newdown.png") no-repeat center center;
                 left:16px;
                 top:28px;
    -webkit-user-select: none;
}


#snewlists{position:relative}
#snewlists li{
    color: rgb(51, 51, 51);
    display:block;
    font-family: 'Microsoft YaHei', Arial;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    /*
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;*/
    width: 870px;

}
#snewlists li a{
     color:#5D5D58;
     text-decoration: none}
#snewlists li a:hover{
      color:red;
       text-decoration:underline;
}
#wrap .pic_video{
    position: relative;
    color: rgb(51, 51, 51);
    font-size: 16px;
    margin:10px auto;
    width:100%;
    max-width: 1200px;
    height:100%;
    overflow: hidden;
}

ul.picbig{list-style:none;
    margin:0 auto;
    max-width:1200px;
    width:100% ;}
ul.picbig li{float:left;
    text-align:center;
    margin:15px;
    display:inline;
    overflow:hidden;
    position:relative;
    z-index:10;
    cursor:pointer;}
ul.picbig li img{width:370px;
    height:290px;
    vertical-align:top;}
ul.picbig li span{
    display:block;
    width:370px;
    height:290px;
    background:black;
    filter:alpha(opacity=40);
    opacity:.4;
    position:absolute;
    z-index:11;
}

ul.picbig li:nth-child(1) span{
    top:0;
    left:100%;
    }
ul.picbig li:nth-child(1):hover span{
    left:0;
    -webkit-transition:left .4s ease-out;
    -moz-transition:left .4s ease-out;
    -o-transition:left .4s ease-out;
    -ms-transition:left .4s ease-out;
    transition:left .4s ease-out;
}
ul.picbig li:nth-child(2) span{
    left:0;
    top:0;
    opacity:0;
    }
ul.picbig li:nth-child(2):hover span{
    opacity:.4;
    -webkit-transition:opacity .4s ease-out;
    -moz-transition:opacity .4s ease-out;
    -o-transition:opacity .4s ease-out;
    -ms-transition:opacity .4s ease-out;
    transition:opacity .4s ease-out;
}
ul.picbig li:nth-child(3) span{
    left:50%;
    top:65%;
    margin:-50% 0 0 -50%;
    -webkit-transform:scale(.001);
    -moz-transform:scale(.001);
    -o-transform:scale(.001);
    -ms-transform:scale(.001);
    transform:scale(.001);
    }
 ul.picbig li:nth-child(3):hover span{
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -o-transform:scale(1.4);
    -ms-transform:scale(1.4);
    transform:scale(1.4);
     -webkit-transition:-webkit-transform .4s ease-out;
     -moz-transition:-moz-transform .4s ease-out;
     -o-transition:-o-transform .4s ease-out;
     -ms-transition:-ms-transform .4s ease-out;
     transition:transform .4s ease-out;
 }

 ul.word{
      width:100%;
      max-width: 1200px;
      margin:0 auto;
      padding:0;

 }

ul.word li{
    text-align: left;
    width: 370px;
    float:left;
    text-align:center;
    margin:0 15px 0;
    display:inline;
    overflow:hidden;
    position:relative;
    z-index:10;
    cursor:pointer;
}
ul.word li a.er{
    display: block;
    margin:5px 0 0 0;
    color: #5D5D58;
    font-size: 18px;
    text-decoration: none;
}
ul.word li a.er:hover{text-decoration: underline}
ul.word li p{
      text-align: left;
}

ul.picbig2{list-style:none;
    margin:0 auto;
    max-width:1200px;
    width:100% ;}
ul.picbig2 li{float:left;
    text-align:center;
    margin:15px;
    display:inline;
    overflow:hidden;
    position:relative;
    z-index:10;
    cursor:pointer;}
ul.picbig2 li img{width:370px;
    height:290px;
    vertical-align:top;}
ul.picbig2 li span{display:block;
    width:370px;
    height:290px;
    background:black;
    filter:alpha(opacity=40);
    opacity:.4;
    position:absolute;
    z-index:11;}

ul.picbig2 li:nth-child(1) span{left:100%;
    top:100%;
    -webkit-transition:left .4s ease-out,top .4s ease-out;
    -moz-transition:left .4s ease-out,top .4s ease-out;
    -o-transition:left .4s ease-out,top .4s ease-out;
    -ms-transition:left .4s ease-out,top .4s ease-out;
    transition:left .4s ease-out,top .4s ease-out;}
ul.picbig2 li:nth-child(1):hover span{left:0;top:0;}
ul.picbig2 li:nth-child(2) span{
    left:0;
    top:0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
    transform:rotate(-180deg);
    -webkit-transition:
    -webkit-transform .4s ease-out;
    -moz-transition:-moz-transform .4s ease-out;
    -o-transition:-o-transform .4s ease-out;
    -ms-transition:-ms-transform .4s ease-out;
    transition:transform .4s ease-out;
}
ul.picbig2 li:nth-child(2):hover span{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}

ul.picbig2 li:nth-child(3) span{left:0;bottom:100%;-webkit-transition:bottom .4s ease-out;-moz-transition:bottom .4s ease-out;-o-transition:bottom .4s ease-out;-ms-transition:bottom .4s ease-out;transition:bottom .4s ease-out;}
ul.picbig2 li:nth-child(3):hover span{bottom:0%;}#wrap .pic_video .video{
     color: rgb(51, 51, 51);
     height: 576.21875px;
     margin:10px auto 5px;
     max-width:1200px;
     width:100%;
     padding:0 15px;
     float: left;
}
#wrap .pic_video .video .vii{
    background: url(../img/hw_420692.jpg) no-repeat center center;
    background-size: cover;
    color: rgb(51, 51, 51);
    height: 576.21875px;
    line-height: 28px;
    position: relative;
    width: 1170px;
}

#wrap .pic_video .video .vii .vii_btn{

    width:70px;
    height:71px;
    background: url("../img/video_btn.png") center center;
    position: absolute;
    left:50%;
    top:50%;
    border-radius: 10px;
   margin-left: -35px;
    margin-top: -36px;
}
#wrap .pic_video .video .vii .vii_btn:hover{
    background: url("../img/video_btn_hover.png") center center;
}

#stt{
    -webkit-user-select: none;
    background: #f5f5f5;
    border: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #d7d7d7;
    font-family: "Microsoft YaHei", Arial;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    background-color:#d7d7d7;
    width:100%;
    height:246px;

}
#stt .ls_containner{
        width:100%;
        max-width: 1200px;
        margin:0px auto;
    font-family: "Microsoft YaHei", Arial;
    height:100%;
    font-size: 16px;
    line-height:28px;
}
#stt .se div.row{position: relative}
#stt .ls_containner p{
    line-height:20px;
    position: relative;
    top:18px;
}
#stt .ls_containner h2 a{

    display: block;
    font-family: frutigernext_medium, frutigernext, 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    height: 28px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #5D5D58;
    text-align: center;
    width: 1170px;
    text-decoration: none;
}

#stt .ls_containner h2 a:hover{
    text-decoration: underline;
}

#stt .ls_containner .se{
    color: rgb(51, 51, 51);
    float: left;
    font-family: 'Microsoft YaHei', Arial;
    font-size: 16px;
    height: 156px;
    line-height: 28px;
    margin-top: 12px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width:360px;
}

#stt div.ls_containner div.se a{
    text-decoration: none;
    margin: 15px;
}
#stt div.ls_containner div.se a:hover{
       text-decoration: underline;
}


div#w1:before{
    content: url("../img/hw_434757.jpg");
    position: relative;
    top:10px;
    display:inline-block;
    float: left;
    margin:0 15px 0 15px;
}

div#w2:before{
    content: url("../img/hw_434777.jpg");
    position: relative;
    top:10px;
    display:inline-block;
    float: left;
    margin:0 15px 0 15px;
}

div#w3:before{
    content: url("../img/hw_413887.jpg");
    position: relative;
    top:10px;
    display:inline-block;
    float: left;
    margin:0 15px 0 15px;
}
#ninthLayer{
    height: 381px;
    width: 1349px;
    background-color: #272727;
    color: white;
    -webkit-user-select: none;
}

#ninthLayer span{
    display: block;
}
#ninthLayer #ninthContent{
    margin: 0 auto;
    padding: 0 15px;
    height: 381px;
    width: 1170px;
}
#ninthLayer #ninthContent #rows{
    padding: 0 15px 0;
    height: 313px;
    width: 1170px;
}

#ninthLayer #ninthContent #rows #ninthDiv1{
    float: left;
    padding: 40px 0 0;
    height: 273px;
    width: 770px;
}
#ninthLayer #ninthContent #rows #ninthDiv1 div{
    float: left;
    height: 273px;
    width: 192px;
    line-height: 2em;
}
#ninthLayer #ninthContent #rows #ninthDiv1 span{
    font-size: 18px;!important;
    font-weight: bold;
    margin-bottom: 10px;
}

#ninthLayer #ninthContent #rows #ninthDiv2{
    float: left;
    padding:40px 15px 0;
    height: 295px;
    width: 370px;
}
#ninthLayer #ninthContent #rows #ninthDiv2>img{
    padding-top: 8px;
    height: 20px;
    width: 327px;
}
#ninthLayer #ninthContent #rows #ninthDiv2 span{
    margin-top: 20px;
}
#ninthLayer #ninthContent #rows #ninthDiv2 ul{
    margin-top: 24px;
    height: 50px;
    width: 328px;
}
#ninthLayer #ninthContent #rows #ninthDiv2 ul .middle{
    padding-top: 3px;
}

#ninthLayer #ninthContent #rows #ninthDiv2 ul li{
    float: left;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
}
#ninthLayer #ninthContent #cols{
    padding: 0 15px;
    height: 45px;
    width: 1170px;

}
#ninthLayer #ninthContent #cols span {
    float: left;
    margin: 0 8px;
    font-size: 14px;
}
#ninthLayer #ninthContent #cols a{
    float: left;
    margin: 0 8px;
    font-size: 14px;
}
#ninthLayer #ninthContent #cols .spanLeft{
    float: left;
    margin: 0 8px 0 0;
    font-size: 14px;
}
#ninthLayer #ninthContent #cols #ninthDiv3{
    float: left;
    height: 45px;
    width: 770px;
}
#ninthLayer #ninthContent #cols #ninthDiv4{
    padding-left: 7px;
    float: left;
    height: 45px;
    width: 370px;
}
#weixin img{width:80px;height:80px;border:none}