body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:666px;
}
#u1901 {
  position:absolute;
  left:10px;
  top:10px;
  width:893px;
  height:666px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:325px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:47px;
}
#u1903 {
  position:absolute;
  left:325px;
  top:376px;
  width:501px;
  height:47px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:16px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905 {
  position:absolute;
  left:737px;
  top:18px;
  width:75px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1906 {
  position:absolute;
  left:822px;
  top:18px;
  width:57px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1907 {
  position:absolute;
  left:752px;
  top:390px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1907_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
  text-align:right;
}
#u1907.mouseOver {
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
