@baseSize: 112.5;
*{
    margin: 0;
    padding: 0;
}

html body{
    background:#d7ba8a;
    min-height: 100vh;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    
    img{
        max-width: 100%;
    }
}
ul,li{
    list-style: none;
}
.header{
    img{
        width: 100%;
        display: block;
    }
}
.contentBg{
    img{
        width: 100%;
        position: relative;
        z-index: 10;
        display: block;
    }
}

.item{
//  padding: 25rem/@baseSize 50rem/@baseSize;
    position: relative;
    z-index: 2;
    margin-bottom: 40rem/@baseSize;
    .itemBg{
//      position: absolute;
        img{
            width: 100%;
        }
    }
}
.item:last-child{
     padding-bottom: 150rem/@baseSize;
}
.conItem{
//  background-color:#d7ba8a;
//  background: -webkit-linear-gradient(-164deg,  #fff6d2 ,#d7ba8a, #fff6d2 ); /* Safari 5.1 - 6.0 */
//  background: -o-linear-gradient(-164deg,  #fff6d2, #d7ba8a, #fff6d2 ); /* Opera 11.1 - 12.0 */
//  background: -moz-linear-gradient(-164deg,  #fff6d2,#d7ba8a, #fff6d2 ); /* Firefox 3.6 - 15 */
//background: linear-gradient(-164deg,#fff6d2, #d7ba8a, #fff6d2 ); 
    
    position: relative;
    z-index: 3;
//  padding: 0 65rem/@baseSize;
    
    .iTitle{
        padding: 75rem/@baseSize 0 75rem/@baseSize /*80rem/@baseSize*/;
        text-align: center;
        .iTitBg{
            padding: 40rem/@baseSize 0;
            box-sizing: border-box;
            background: url(../../2019q1/images/studioUpdate/studioUpdate_content_titleBg.png) top center no-repeat;
            background-size:527rem/@baseSize 128rem/@baseSize;
            width:527rem/@baseSize;
            height:128rem/@baseSize;
            margin: 0 auto;
        }
        
        .iTitWordBg{
            background: url(../../2019q1/images/studioUpdate/studioUpdate_content_titleWordBg.png);
            background-size:400rem/@baseSize 180rem/@baseSize;
            width: 400rem/@baseSize;
            height: 60rem/@baseSize;
            display: inline-block;
            &.tit1{ background-position: 0 0;}
            &.tit2{ background-position: 0 -60rem/@baseSize;}
            &.tit3{ background-position: 0 -120rem/@baseSize;}
        }
    }
    
    .infoList{
        padding-bottom: 60rem/@baseSize;
    }
    ul{
        li{
            position: relative;
            .tit{
                font-weight: bold;
                height: 60rem/@baseSize;
                position: absolute;
                left: 0;
                top: 0;
                
            }
            .tit,.word{
                color: #444043;
                font-size: 36rem/@baseSize;
                line-height: 60rem/@baseSize;
            }
            .word{
                padding-left: 3.5em;
            }
        }
    }
    
    .tips{
        padding-bottom: 50rem/@baseSize;
        .tipsCon{
            color: #734e25;
            font-size: 30rem/@baseSize;
            line-height: 42rem/@baseSize;
            .tit{
                font-weight: bold;
                margin-bottom: 5rem/@baseSize;
            }
        }
    }
    

}
.itemBox{
    position: absolute;
    left: 0;
    top:0;
    padding: 0 140rem/@baseSize 0 150rem/@baseSize;
    width: 100%;
    box-sizing: border-box;
  /*  position: relative;
    z-index: 2;
    padding: 35rem/@baseSize 30rem/@baseSize;
    &:before{
        content: " ";
        background: url(../../2019q1/images/studioUpdate/studioUpdate_content_bg_leftTop.png) no-repeat;
        background-size:974rem/@baseSize 1178rem/@baseSize;
        background-position: left top;
        max-width:974rem/@baseSize;
        max-height:1178rem/@baseSize;
        width: 90%;
        height: 90%;
        position: absolute;
        display: block;
        left: 0rem/@baseSize;
        top:0rem/@baseSize;
        z-index: 0;
        font-size: 0;
        
    }
    &:after{
        content: " ";
        background: url(../../2019q1/images/studioUpdate/studioUpdate_content_bg_rightBottom.png) no-repeat;
        background-size:971rem/@baseSize 1431rem/@baseSize;
        background-position: bottom right;
        max-width:971rem/@baseSize;
        max-height:1431rem/@baseSize;
        width: 90%;
        height: 90%;
        position: absolute;
        display: block;
        right: 0;
        bottom:0;
        z-index: 1;
        font-size: 0;
    }
    */
}

.imgBox{
    text-align: center;
    padding-bottom: 55rem/@baseSize;
    position: relative;
    font-size: 0;
    .imgBottom{
        
        display:inline-block;
        background: url(../../2019q1/images/studioUpdate/studioUpdate_item1_phoneBottom_img.png) no-repeat;;
      
        background-size: 458rem/@baseSize 78rem/@baseSize;
        width: 458rem/@baseSize;
        height: 78rem/@baseSize;
        
    }
    .imgCon{
        background: url(../../2019q1/images/studioUpdate/studioUpdate_phone_bg.png) no-repeat;
        background-size:458rem/@baseSize 929rem/@baseSize;
        width: 458rem/@baseSize;
        height:929rem/@baseSize;
        box-sizing: border-box;
//      padding:90rem/@baseSize 18rem/@baseSize 80rem/@baseSize 18rem/@baseSize;
        padding:85rem/@baseSize 18rem/@baseSize 80rem/@baseSize 18rem/@baseSize;
        display: inline-block;
        

        
        img{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        
    }
}
.contentBg2{
    img{
        width: 100%;
        display: block;
    }
}
.item1{
    margin-top: -270rem/@baseSize;
    
    .imgCon{
        height: 528rem/@baseSize;
        overflow: hidden;
        padding:85rem/@baseSize 15rem/@baseSize 80rem/@baseSize 11rem/@baseSize; 
        
        img{
            display: inline-block;
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
.item2{
    .conInfo{
        padding-left: 15%;
    }
}

