body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:568px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:136px;
}
#u0 {
  position:absolute;
  left:354px;
  top:64px;
  width:214px;
  height:136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
}
#u2 {
  position:absolute;
  left:354px;
  top:229px;
  width:214px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:39px;
}
#u4 {
  position:absolute;
  left:354px;
  top:200px;
  width:214px;
  height:39px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:383px;
  top:212px;
  width:82px;
  height:16px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
