body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1115px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:533px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2074 {
  position:absolute;
  left:40px;
  top:82px;
  width:1074px;
  height:533px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2075 {
  position:absolute;
  left:2px;
  top:258px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:323px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:238px;
  top:220px;
  width:839px;
  height:323px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:154px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2078 {
  position:absolute;
  left:40px;
  top:40px;
  width:113px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2080 {
  position:absolute;
  left:41px;
  top:83px;
  width:1072px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2081 {
  position:absolute;
  left:2px;
  top:17px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:2px;
}
#u2082 {
  position:absolute;
  left:41px;
  top:133px;
  width:1074px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2084 {
  position:absolute;
  left:54px;
  top:97px;
  width:257px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:3px;
}
#u2086 {
  position:absolute;
  left:949px;
  top:87px;
  width:84px;
  height:3px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2087 {
  position:absolute;
  left:2px;
  top:-6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:3px;
}
#u2088 {
  position:absolute;
  left:1033px;
  top:87px;
  width:80px;
  height:3px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2089 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2090 {
  position:absolute;
  left:133px;
  top:180px;
  width:81px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(69, 182, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2092 {
  position:absolute;
  left:1002px;
  top:93px;
  width:75px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2093 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2094 {
  position:absolute;
  left:131px;
  top:229px;
  width:89px;
  height:18px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2096 {
  position:absolute;
  left:228px;
  top:180px;
  width:313px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(69, 182, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2098 {
  position:absolute;
  left:838px;
  top:93px;
  width:153px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2099 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u2100 {
  position:absolute;
  left:249px;
  top:292px;
  width:821px;
  height:107px;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:11px;
  width:222px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u2103 {
  position:absolute;
  left:226px;
  top:0px;
  width:153px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u2104 {
  position:absolute;
  left:2px;
  top:11px;
  width:149px;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u2105 {
  position:absolute;
  left:379px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
}
#u2107 {
  position:absolute;
  left:559px;
  top:0px;
  width:154px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u2109 {
  position:absolute;
  left:713px;
  top:0px;
  width:103px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u2111 {
  position:absolute;
  left:0px;
  top:40px;
  width:226px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u2112 {
  position:absolute;
  left:2px;
  top:11px;
  width:222px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u2113 {
  position:absolute;
  left:226px;
  top:40px;
  width:153px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:11px;
  width:149px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u2115 {
  position:absolute;
  left:379px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
}
#u2117 {
  position:absolute;
  left:559px;
  top:40px;
  width:154px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:11px;
  width:150px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u2119 {
  position:absolute;
  left:713px;
  top:40px;
  width:103px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:80px;
  width:226px;
  height:22px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:3px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
}
#u2123 {
  position:absolute;
  left:226px;
  top:80px;
  width:153px;
  height:22px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:3px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
}
#u2125 {
  position:absolute;
  left:379px;
  top:80px;
  width:180px;
  height:22px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
}
#u2127 {
  position:absolute;
  left:559px;
  top:80px;
  width:154px;
  height:22px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:3px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
}
#u2129 {
  position:absolute;
  left:713px;
  top:80px;
  width:103px;
  height:22px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:3px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:45px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131 {
  position:absolute;
  left:238px;
  top:221px;
  width:839px;
  height:45px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:14px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(69, 182, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2133 {
  position:absolute;
  left:949px;
  top:229px;
  width:101px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2134 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u2135 {
  position:absolute;
  left:994px;
  top:337px;
  width:50px;
  height:29px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2136 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2137 {
  position:absolute;
  left:236px;
  top:276px;
  width:842px;
  height:339px;
  overflow:hidden;
  visibility:hidden;
}
#u2137_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:339px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2137_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:332px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:332px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:158px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2140 {
  position:absolute;
  left:16px;
  top:44px;
  width:803px;
  height:198px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2141 {
  position:absolute;
  left:2px;
  top:91px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2142 {
  position:absolute;
  left:17px;
  top:45px;
  width:801px;
  height:50px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2143 {
  position:absolute;
  left:2px;
  top:17px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:2px;
}
#u2144 {
  position:absolute;
  left:17px;
  top:95px;
  width:801px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2145 {
  position:absolute;
  left:2px;
  top:-8px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
}
#u2146 {
  position:absolute;
  left:30px;
  top:59px;
  width:432px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-style:normal;
  font-size:16px;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  white-space:nowrap;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u2148 {
  position:absolute;
  left:609px;
  top:52px;
  width:164px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2149 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2150 {
  position:absolute;
  left:78px;
  top:139px;
  width:121px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2152 {
  position:absolute;
  left:77px;
  top:190px;
  width:121px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2154 {
  position:absolute;
  left:219px;
  top:186px;
  width:456px;
  height:35px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u2155 {
  position:absolute;
  left:2px;
  top:10px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u2156 {
  position:absolute;
  left:227px;
  top:194px;
  width:169px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u2158 {
  position:absolute;
  left:676px;
  top:203px;
  width:78px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2160 {
  position:absolute;
  left:219px;
  top:131px;
  width:456px;
  height:35px;
}
#u2160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:35px;
  background-color:rgba(228, 228, 228, 0.509803921568627);
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u2160_input:disabled {
  color:grayText;
}
