*{ margin: 0; padding: 0;}
a{text-decoration: none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color:transparent;}
input{ outline: none;-webkit-tap-highlight-color:transparent; }
img{ border: none; display: inline-block;}
ul,li{list-style: none;}


body{ background: #e5e5e5;}

.caseMain{ position: absolute;top:0; left: 0; width: 200%;transform: scale(0.5); transform-origin: left  top;-webkit-transform: scale(0.5);-webkit-transform-origin: left  top; }

.cInfoList{ padding: 0 28px 30px 28px; margin-bottom: 16px;}

.cInfoList{ background: #FFFFFF;}
.iTitle{ text-align: center; margin: 0 40px; position: relative; height: 44px; margin-bottom: 50px;}
.iTitleWord{ z-index: 2; background: #FFFFFF; font-size: 30px; height: 44px; line-height: 44px; color:#444; padding:0 25px ; display: inline-block; font-weight: bold; position: absolute; top:0; left: 50%; transform: translateX()(-50%); -webkit-transform: translateX(-50%);}
.iTitle:after{ z-index: 1; content: " "; display: block; position: absolute; left: 0; top:0; height: 20px; width: 100%;  border-bottom: 1px solid #b5c8f7}
.iTitle:before{ z-index: 1; content: " "; display: block; position: absolute; left: 50%; transform: translateX(-50%);-webkit-transform: translateX(-50%); top:0; height: 24px; width: 83%;  border-bottom: 1px solid #b5c8f7}

.cItem{ margin-bottom: 80px;}
.iCon{ margin-bottom: 30px;}
.conTitle{ color: #606060; font-size: 28px; line-height: 44px;}
.conWord{ font-size:24px;color: #929292; line-height: 40px;}
.conWord:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.conTable table,.conTableCell table{ border: 1px solid #d8d6d6; width: 100%;}
.conTable td{ padding:25px 5px; line-height: 30px;text-align: center;}
.conTable thead td{ padding: ; color: #606060; font-size: 24px; text-align: center; background: #f4ece2;border-bottom: 1px solid #d8d6d6; border-right: 1px solid #d8d6d6;}
.conTable tbody td,.conTableCell td{ font-size: 22px; color: #929292; border-bottom: 1px solid #d8d6d6; border-right: 1px solid #d8d6d6;}
.conTable tr:last-child td,.conTableCell tr:last-child td{ border-bottom: none;}
.conTable tr td:last-child,.conTableCell tr td:last-child{ border-right: none;}
.conTableCell td{ padding: 15px 30px; line-height:32px;}
.conTableCell td.tdTit{ text-align: center; vertical-align: middle; color: #606060; padding: 15px;}

.marginBottom10{ margin-bottom: 10px;}
.caseTitle{ /*font-weight: 600;*/ background: #FFFFFF; padding: 22px 14px 0 14px; margin-top: ; text-align: center;}
.caseTitle .cTitle{ line-height: 50px; color:#de9226 ; font-size: 36px;}
.caseTitle .cSubTitle{ color:#929292 ; font-size: 26px; line-height: 56px;}
.cTitleInfo{ color: #929292; font-size: 22px; padding-bottom: 50px;}

.imgLeftRight{ margin-bottom: 80px; padding-top: 50px;}
.imgLeftRight:after,.imgRow:after{ content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.imgLeftRight .imgInfoItem{ margin-right: 5px; display: inline-block;}
.imgBox{ text-align: center; }
.imgTitle{color: #606060; font-size:24px; margin-bottom: 30px;}
.imgLeftRight .imgBox:nth-child(1){ width: 40%; float: left;}
.imgLeftRight .imgBox:nth-child(2){ width: 60%; float: left;}
.img{ width: 200px; height: 200px; margin: 0 auto 25px auto;}
.img img{ width: 100%; height: 100%;}
.imgInfoItem span{ display: inline-block; width: 16px; height: 16px; background: #c5d3f4;}
.imgInfoItem{ font-size: 20px; line-height: 20px;}
.imgInfoItem span.color2{ background: #eeca9f;}
.imgInfoItem span.color3{ background: #96c7db;}
.imgInfoItem span.color4{ background:#8ca6f0;}
.imgInfoItem span.color5{ background: #7d96dd;}
.imgInfoItem span.color6{ background: #a3b7f0;}

.imgInfoItem span.color7{ background: #5eadf7;}
.imgInfoItem span.color8{ background: #7fccac;}
.imgInfoItem span.color9{ background: #c4c776;}
.imgInfoItem span.color10{ background: #eaa364;}
.imgInfoItem span.color11{ background: #8cdaf3;}

.imgInfoItem span.color12{ background: #8ad9f3;}
.imgInfoItem span.color13{ background: #c5d3f4;}
.imgInfoItem span.color14{ background: #7d96dd;}
.imgInfoItem span.color15{ background: #8ca6f0;}
.imgInfoItem span.color16{ background: #87c85c;}


.leftBox{ width: 60%; box-sizing: border-box; float: left; padding-top: 80px;}
.orangeList{ color: #929292; font-size: 22px; line-height: 36px; padding-left: 22px;}
.orangeList span{ display: block; width: 100%; position: relative;}
.orangeList span:after{ content: " "; position:absolute;left:-20px; top:12px;width: 90px; height: 90px; border-radius: 50%; display: block; background:#de9226; transform-origin: left  top; transform: scale(0.1);-webkit-transform-origin: left  top; -webkit-transform: scale(0.1);}
.row span{ margin-bottom: 20px;}
.imgRight{ width: 40%; float: right;}
.imgRight  .imgInfoItem{ display: inline-block;}

.imgRow{ margin-bottom: 100px;}
.imgRow .img{ float: left; margin-left: 50px;}

.imgRow  .imgInfoBox{ padding-top: 120px; width: 45%; float: right;}
.imgRow .imgInfoItem{ margin-bottom: 10px; text-align: left; } 
.img300 .img{ width: 300px; height: 300px;}
.img300 .imgInfoBox{ padding-top: 150px; width: 40%;}
.footerItem{ background: #FFFFFF; padding: 0 28px 50px 28px;}
.footerItem .footerTitle{ margin-bottom: 44px; position: relative; text-align: center; border-bottom: 1px solid #d8d6d6; height: 84px; line-height: 84px; color: #444444; font-size: 30px;}
.footerItem .iCon{ text-align: center;}
.footerItem .iCon a{color: #647bbe; font-size: 28px; line-height: 56px;}
.footerItem .iCon a:active,/*.footerItem .iCon a:hover,*/.footerItem .iCon a.active{color:#de9226 ;}
.footerItem .icon{ background: url(../images/footerTitle_icon_bg.png) no-repeat; background-size: 29px 14px; display: block;  width:29px; height:  14px; position: absolute; bottom: -14px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
