* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
img {
  border: none;
  display: inline-block;
}
ul,
li {
  list-style: none;
}
body {
  background: #f7f7f7;
}
.noviceCuidance {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  transform: scale(0.5);
  transform-origin: left  top;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: left  top;
}
.noviceCuidanceCon {
  padding-top: 44px;
}
.contentBox {
  position: relative;
  margin-bottom: 80px;
}
.contentBox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.title {
  margin-bottom: 50px;
}
.titleBg {
  position: absolute;
  background: url(../images/noviceCuidanceBg.jpg);
  background-size: 451px 414px;
  width: 451px;
  height: 414px;
  left: 50%;
  top: -75px;
  transform-origin: left top;
  transform: translateX(-50%);
  -webkit-transform-origin: left top;
  -webkit-transform: translateX(-50%);
  z-index: -1;
}
.mainTit:after {
  content: " ";
  width: 28px;
  height: 5px;
  background: #de9226;
  position: absolute;
  display: block;
  top: -5px;
  left: 50%;
  transform-origin: left top;
  transform: translateX(-50%);
  -webkit-transform-origin: left top;
  -webkit-transform: translateX(-50%);
}
.mainTit {
  position: relative;
  color: #de9226;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}
.subTit {
  color: #929292;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
}
.conImgBox {
  text-align: center;
}
.centerImgBox {
  text-align: left;
  width: 13.33333333rem;
  margin: 0 auto;
}
.conImgBox .imgBox {
  width: 8.13333333rem;
  position: relative;
  display: inline-block;
}
.conImgBox .imgBox img {
  width: 100%;
  overflow: hidden;
  box-shadow: 1.5px 2.598px 5px 0px #e6e6e6;
}
.conImgBox .leftImg {
  margin-right: 0.32rem;
}
.conImgBox .rightImg {
  margin-left: 0.32rem;
}
.enlarge {
  overflow: hidden;
  box-shadow: 5.5px 9.526px 18px 0px #cacaca;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
.enlarge1 {
  width: 4.26666667rem;
  height: 4.26666667rem;
  left: 0;
  bottom: -0.8rem;
}
.enlarge2 {
  border-radius: 0;
  width: 10.45333333rem;
  height: 2.69333333rem;
  top: 6rem;
  left: -1.17333333rem;
}
.enlarge3 {
  border-radius: 0;
  width: 3.92rem;
  height: 2.85333333rem;
  top: 9.06666667rem;
  right: -0.4rem;
}
.enlarge4,
.enlarge5 {
  width: 6.26666667rem;
  height: 6.26666667rem;
}
.enlarge4 {
  top: 0;
  right: -5.06666667rem;
}
.enlarge5 {
  top: -0.02666667rem;
  right: -5.06666667rem;
}
.ncArrow {
  width: 10.13333333rem;
  height: 2.66666667rem;
  border: 2px dashed #bfbfbf;
  border-top-color: transparent;
  margin: 0 auto;
  position: relative;
}
.ncArrowIcon {
  background: url(../images/noviceCuidanceEnlarge_arrowIcon.png) no-repeat;
  background-size: 0.37333333rem 0.34666667rem;
  width: 0.37333333rem;
  position: absolute;
  height: 0.34666667rem;
  top: 0;
  right: -0.18666667rem;
}
