@charset "UTF-8";
/*
  *societyInfo.less app H5 资讯页面
  *引用：mixin.less 和reset.less
  *author:yanzhong1@creditease.cn
  *update:20170627
*/
/**/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
select {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  outline: none;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  vertical-align: top;
  border: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
i,
em {
  font-weight: normal;
  font-style: normal;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  outline: none;
  padding: 0;
  border: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
.relative {
  position: relative;
}
@-webkit-keyframes toLeft {
  0% {
    -webkit-transform: rotate(-180deg);
  }
}
@-moz-keyframes toLeft {
  0% {
    -moz-transform: rotate(-180deg);
  }
}
@-ms-keyframes toLeft {
  0% {
    -ms-transform: rotate(-180deg);
  }
}
@keyframes toLeft {
  0% {
    transform: rotate(-180deg);
  }
}
/*公共变量*/
/*生活*/
body {
  background: #f4f4f4;
}
.lifeIndex {
  margin-bottom: 2.4rem;
  background: #f4f4f4;
  /*bug19025 25改16 */
}
.lifeIndex ul {
  background: white;
  margin-top: 0.21333333rem;
}
.lifeIndex.inh-insurance li.word {
  font-size: 0.34666667rem;
  padding: 0.26666667rem;
}
.lifeIndex li.word {
  padding: 0.26666667rem;
  font-size: 0.4rem;
  line-height: 0.8rem;
  color: #929292;
}
.btn {
  display: inline-block;
  border: 1px solid #de9226;
  color: #de9226;
  text-align: center;
  padding: 0.26666667rem 0;
  border-radius: 0.10666667rem;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  font-size: 0.48rem;
}
.lg {
  width: 90%;
  margin: 0.13333333rem 5% 0.53333333rem 5%;
}
/*投资移民*/
/*tab*/
.tabs {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
.tabs:before,
.tabs:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.tabs:after {
  clear: both;
}
.tabs.bs-tab li {
  width: 25%;
}
.tabs li {
  padding: 0.33333333rem 0;
  float: left;
  width: 33%;
  border-bottom: 1px solid #fff;
  position: relative;
  color: #e5e5e5;
  font-size: 0.4rem;
}
.tabs li a {
  color: #adadad;
  text-align: center;
  position: absolute;
  display: block;
  width: 80%;
  left: 10%;
  top: 0.32rem;
  padding-bottom: 0.26666667rem;
}
.tabs li:nth-child(1) a {
  border: none;
}
.tabs li.active a {
  color: #de9226;
  border-bottom: 3px solid #de9226;
}
.tab_container {
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  padding-bottom: 20px;
}
.tab_container .fund-chartbtn {
  border: 1px solid #e0dedc;
  display: inline-block;
  margin: 20px auto 0px auto;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.tab_container .fund-chartbtn a {
  display: block;
  float: left;
  padding: 8px 15px;
  border-right: 1px solid #e0dedc;
  color: #b9b9b9;
  font-size: 14px;
}
.tab_container .fund-chartbtn a:last-child {
  border: none;
}
.tab_container .fund-chartbtn a.act {
  background: #e8ecf6;
  color: #584f4e;
}
/*海外置业*/
.societyList {
  padding: 0 0.53333333rem;
  background: #ffffff;
}
.societyList.societyMg {
  padding: 0.53333333rem;
}
.societyList.societyBom {
  padding-bottom: 0.4rem;
}
.societyList li {
  font-size: 0.32rem;
  color: #929292;
  line-height: 0.69333333rem;
  background: url("../images/sea1.png") no-repeat;
  -webkit-background-size: 0.16rem;
  background-size: 0.16rem;
  -moz-background-size: 0.16rem;
  -o-background-size: 0.16rem;
  background-position: left 0.26666667rem;
  padding-left: 0.4rem;
}
.societyImg {
  text-align: center;
  background: #ffffff;
  padding: 0.66666667rem 0 1.33333333rem 0;
}
.societyTitle {
  text-align: center;
  padding-top: 0.4rem;
}
.societyProject {
  background: #ffffff;
  margin-top: 0.33333333rem;
}
.societyProject li.img {
  padding: 0.33333333rem 0.33333333rem 0.13333333rem 0.33333333rem;
}
.societyProject li.word {
  padding: 0.13333333rem 0.33333333rem;
}
.societyProject li.word h2 {
  font-size: 0.37333333rem;
  color: #444444;
  padding-bottom: 0.26666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.societyProject li.word p {
  font-size: 0.32rem;
  color: #929292;
  line-height: 0.56rem;
  margin-bottom: 0.26666667rem;
  position: relative;
  overflow: hidden;
  max-height: 1.68rem;
}
.societyProject li.clear {
  padding-bottom: 0.53333333rem;
}
.societyProject li.clear:before,
.societyProject li.clear:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.societyProject li.clear:after {
  clear: both;
}
.societyProject li.clear .inh-iconList {
  width: 30%;
  float: left;
  font-size: 0.34666667rem;
  color: #444444;
  padding-left: 3%;
  line-height: 0.66666667rem;
}
.societyProject li.company {
  text-align: center;
  padding: 0.53333333rem;
}
.societyProject li.company img {
  width: 25%;
}
/**/
.societyTit {
  font-size: 0.37333333rem;
  color: #444444;
  background: #ffffff;
  padding: 0.53333333rem 0.4rem 0.26666667rem 0.4rem;
}
.societyTit img {
  height: 0.37333333rem;
}
/*按钮*/
.buttonBom {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 0.4rem 0;
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 1000;
}
.buttonBom.btnpd {
  padding: 0.53333333rem 0 0.13333333rem 0;
}
.buttonBom a {
  font-size: 0.45333333rem;
}
.buttonBom p {
  font-size: 0.32rem;
  color: #adadad;
}
.sm {
  width: 40%;
}
.md {
  width: 54%;
}
.main {
  background: #de9226;
  color: #ffffff;
}
/*icon*/
.icon {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
}
.i1 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-position: 0 0;
  top: 0.24rem;
}
.i2 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-position: 0 -0.66666667rem;
  top: 0.24rem;
}
.i3 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-position: 0 -1.33333333rem;
  top: 0.24rem;
}
.i4 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-position: 0 -2rem;
  top: 0.24rem;
}
.i5 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-position: 0 -2.66666667rem;
  top: 0.24rem;
}
.i6 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-position: 0 -3.33333333rem;
  top: 0.24rem;
}
.ticon {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.4rem 0.46666667rem 0.53333333rem 0.46666667rem;
}
.t1 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.4rem 0.46666667rem 0.53333333rem 0.46666667rem;
  background-position: 0 -4rem;
}
.t2 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.4rem 0.46666667rem 0.53333333rem 0.46666667rem;
  background-position: 0 -5.30666667rem;
}
.t3 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.4rem 0.46666667rem 0.53333333rem 0.46666667rem;
  background-position: 0 -6.64rem;
}
.t4 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.4rem 0.46666667rem 0.53333333rem 0.46666667rem;
  background-position: 0 -7.97333333rem;
}
.y1 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-color: white;
  background-position: 0 -7.78666667rem;
}
.y2 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background-position: -2px -8.73333333rem;
}
.over1 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.56rem;
  height: 0.56rem;
  background-position: 0 -8.32rem;
}
.over2 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.56rem;
  height: 0.56rem;
  background-position: 0 -9.25333333rem;
}
.over3 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.56rem;
  height: 0.56rem;
  background-position: 0 -10.18666667rem;
}
.over4 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.56rem;
  height: 0.56rem;
  background-position: 0 -11.12rem;
}
.over5 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.56rem;
  height: 0.56rem;
  background-position: 0 -12.05333333rem;
}
.over6 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.56rem;
  height: 0.56rem;
  background-position: 0 -12.98666667rem;
}
.over7 {
  display: inline-block;
  background: url("../images/icon.png") no-repeat;
  background-size: 100%;
  position: relative;
  width: 0.56rem;
  height: 0.56rem;
  background-position: 0 -13.92rem;
}
/*传承-国内家族信托*/
.inherDF-main {
  margin-top: 0.33333333rem;
  background: white;
  padding: 0.26666667rem;
}
.inherDF-main .inher-h2 {
  margin-bottom: 0.33333333rem;
}
.inherDF-main .inherDF-list {
  background: white;
  width: 96%;
  margin-left: 2%;
  border-radius: 0.10666667rem;
  box-shadow: 1px 1px 10px #ccc;
  margin-bottom: 0.33333333rem;
}
.inherDF-main .inherDF-list:before,
.inherDF-main .inherDF-list:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.inherDF-main .inherDF-list:after {
  clear: both;
}
.inherDF-main .inherDF-list i {
  float: left;
}
.inherDF-main .inherDF-list img {
  float: left;
  height: 1.69333333rem;
}
.inherDF-main .inherDF-list .inherDF-t {
  float: left;
  padding-bottom: 0.4rem;
}
.inherDF-main .inherDF-list .inherDF-t h2 {
  font-size: 0.37333333rem;
  color: #444444;
  padding-top: 0.4rem;
  padding-bottom: 0.06666667rem;
}
.inherDF-main .inherDF-list .inherDF-t p {
  font-size: 0.34666667rem;
  color: #9a9999;
}
.inherDF-main .inherDF-list .inherDF-t.inherDF-of-t {
  padding-left: 0.4rem;
}
.inherDF-img {
  margin-top: 0.4rem;
}
.inher-flow {
  padding-left: 0.93333333rem;
  position: relative;
}
.inher-flow h2 {
  font-size: 0.29333333rem;
  color: #444444;
  padding-bottom: 0.13333333rem;
}
.inher-flow b {
  border-left: 1px solid #dddddd;
  height: 100%;
  position: absolute;
  left: 0.50666667rem;
  z-index: 1;
}
.inher-flow b.inher-b {
  height: 87%;
}
.inher-flow .inher-triangle {
  position: absolute;
  top: 80%;
  left: 0.32rem;
  width: 0.4rem;
  height: 0.2rem;
  background: url("../images/of26.png") no-repeat;
  background-size: contain;
  display: block;
  z-index: 6;
}
.inher-flow .inher-i {
  position: absolute;
  left: 0.26666667rem;
  z-index: 5;
  text-indent: 0.16rem;
  font-size: 0.37333333rem;
  color: #de9226;
}
.inher-flow ul {
  padding-left: 0.26666667rem;
  padding-bottom: 0.26666667rem;
}
.inher-flow ul li {
  font-size: 0.18666667rem;
  color: #929292;
  line-height: 0.66666667rem;
  list-style: disc;
}
/**/
.inherDF-company:before,
.inherDF-company:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.inherDF-company:after {
  clear: both;
}
.inherDF-company .inherDF-companyL {
  float: left;
  font-size: 0.37333333rem;
  color: #444444;
  padding-top: 0.33333333rem;
  padding-bottom: 0.8rem;
}
.inherDF-company .inherDF-companyR {
  float: left;
  padding-top: 0.33333333rem;
}
.inherDF-company .inherDF-companyR img {
  margin-bottom: 0.26666667rem;
}
.mb180 {
  margin-bottom: 2.4rem;
}
/**/
.over-title {
  margin: 0.33333333rem 0;
  position: relative;
}
.over-title p {
  font-size: 0.34666667rem;
  color: #444444;
  position: absolute;
  top: 1.33333333rem;
  left: 0.4rem;
  line-height: 0.53333333rem;
  padding-right: 0.4rem;
}
.of-list:before,
.of-list:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.of-list:after {
  clear: both;
}
.of-list li {
  float: left;
  width: 45%;
  font-size: 0.34666667rem;
  color: #444444;
  padding-left: 5%;
  padding-bottom: 0.33333333rem;
}
.of-list li i {
  top: 0.2rem;
}
/**/
#society .swiper-pagination {
  background: #ffffff;
  height: 1.06666667rem;
}
#society .swiper-pagination:before,
#society .swiper-pagination:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#society .swiper-pagination:after {
  clear: both;
}
#society .swiper-pagination-bullet {
  padding: 0.26666667rem 0;
  float: left;
  width: 33%;
  display: block;
  background: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #ccc;
  position: relative;
  color: #e5e5e5;
  font-size: 0.4rem;
  border-radius: 0;
  height: 0;
  opacity: 1;
  margin: 0;
  top: 0.26666667rem;
}
#society .swiper-pagination-bullet:last-child {
  border-right: 0;
}
#society .swiper-pagination-bullet a {
  color: #adadad;
  text-align: center;
  display: block;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 0.26666667rem;
  position: absolute;
  top: 0;
}
#society .swiper-pagination-bullet-active a {
  color: #de9226;
  border-bottom: 3px solid #de9226;
  background: #fff;
}
