body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:664px;
}
#u954 {
  position:absolute;
  left:15px;
  top:9px;
  width:374px;
  height:664px;
}
#u955 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956 {
  position:absolute;
  left:15px;
  top:24px;
  width:51px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
