body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:159px;
}
#u0 {
  position:absolute;
  left:258px;
  top:106px;
  width:222px;
  height:159px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:76px;
}
#u2 {
  position:absolute;
  left:256px;
  top:262px;
  width:226px;
  height:76px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:291px;
  top:261px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:104px;
}
#u6 {
  position:absolute;
  left:132px;
  top:519px;
  width:748px;
  height:104px;
}
#u7 {
  position:absolute;
  left:2px;
  top:44px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:32px;
}
#u8 {
  position:absolute;
  left:513px;
  top:558px;
  width:344px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u10 {
  position:absolute;
  left:733px;
  top:561px;
  width:109px;
  height:29px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:10px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:105px;
}
#u12 {
  position:absolute;
  left:189px;
  top:724px;
  width:623px;
  height:105px;
}
#u13 {
  position:absolute;
  left:2px;
  top:44px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:106px;
}
#u14 {
  position:absolute;
  left:189px;
  top:829px;
  width:2px;
  height:106px;
}
#u15 {
  position:absolute;
  left:2px;
  top:45px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:75px;
}
#u16 {
  position:absolute;
  left:189px;
  top:935px;
  width:2px;
  height:75px;
}
#u17 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:75px;
}
#u18 {
  position:absolute;
  left:179px;
  top:839px;
  width:621px;
  height:75px;
}
#u19 {
  position:absolute;
  left:2px;
  top:30px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u20 {
  position:absolute;
  left:246px;
  top:736px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:291px;
  top:290px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
