@charset "utf-8";
.pf{
    min-width: 1160px;
    background-color: #f5f5f5;
}
.pf_ul1{
    text-align: center;
    padding-top: 25px;
}
.pf_ul2{
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0 50px;
}
.pf_li{
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid grey;
    display: inline-block;
    font-size: 18px;
}
.pf_li:nth-child(1){
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}
.pf_ul2{
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 30px;
}
.pf_ul2 li{
    float: left;
    width: 275px;
    margin-left: 55px;
    padding-left: 75px;
}
.pf_ul2 li:nth-child(1){
    margin-left: 0;
}
.pf_ul2 li:nth-child(1) p:nth-child(1){
    position: absolute;
    margin-left: -75px;
    width: 56px;
    height: 56px;
    background: url("../icon/pfspirit.png") 0 0 no-repeat;
}
.pf_ul2 li:nth-child(2) p:nth-child(1){
    position: absolute;
    margin-left: -75px;
    width: 56px;
    height: 56px;
    background: url("../icon/pfspirit.png") 0 -56px no-repeat;
}
.pf_ul2 li:nth-child(3) p:nth-child(1){
    position: absolute;
    margin-left: -75px;
    width: 56px;
    height: 56px;
    background: url("../icon/pfspirit.png") 0 -112px no-repeat;
}
.pf_ul_h3{
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 18px;
}
.pf_ul_p2{
    color: #959595;
}
.foot{
    min-width: 1160px;
    padding: 48px 0;
    background-color: #333;
    color: #c0c0c0;
}
.ft{
    width: 1160px;
    margin: 0 auto;
}
.ft11{
    float: left;
}
.ft11 p:nth-child(1){
    float: left;
    margin-right: 25px;
}
.ft11 p:nth-child(2){
    float: left;
    width: 540px;
    font-size: 14px;
    line-height: 24px;
}
.ft12{
    float: right;
    position: relative;
}
.ft12 dt{
    float: left;
    margin-right: 10px;
    font-size: 18px;
    line-height: 48px;
    color: #ececec;
}
.ft12 dd{
    float: left;
    margin-right: 10px;
    font-size: 18px;
    line-height: 48px;
    color: #ececec;
}
.ft2 p{
    font-size: 14px;
    line-height: 26px;
}
.ft2 p:nth-child(1){
    clear: both;
    padding-top: 46px;
}
.ft2 p:nth-child(2) a{
    margin-right: 14px;
    color: #c0c0c0;
}
.ft2 p:nth-child(2) a:hover{
    text-decoration: underline;
}