@charset "UTF-8";
.header{
    width: 100%;
    min-width: 870pt;
    height: 30px;
    background: #323232;
    position: relative;
    z-index: 1000;
    margin: 0 auto;
    max-width: 20in;
}
.header_logo{
    float: left!important;
    margin: 6px 5px 0 30px;
    width: 58px;
    height: 18px;
}
.header_nav{
    float: left!important;
}
.header_nav_ul{
    margin-left: 13px;
}
.header_nav_li{
    position: relative;
    height: 30px;
    float: left!important;
}
.header_nav_a{
    display: block;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
    font-family: fantasy;
    font-weight: bolder;
    color: silver;
    vertical-align: top;
    margin-right: 10px;
}
.header_nav_a:hover{
    color:#10b041;
    text-decoration: none;
}
.header_nav_i:before{
    content: "\2228";
}
.header_nav_a_select{
    display: block;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
    font-family: fantasy;
    font-weight: bolder;
    color: #10b041;
    vertical-align: top;
    margin-right: 10px;
}
.header_nav_a_select:hover{
    color:#10b041;
    text-decoration: none;
}
.nav_shQ_1{
    position: absolute;
    top: 30px;
    height: 114px;
    width: 145px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.nav_shQ_1_ul{
    margin-top: 10px;
}
.nav_shQ_1_li{
    margin-bottom: 6px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #636363;
}
.nav_shQ_1_li:hover{
    background: #E3FAE1;
}
.nav_shQ_1_li img{
    height: 20px;
}
.nav_shQ_1_li a:hover{
    text-decoration: none;
    color: #636363;
}
.nav_shQ_2{
    position: absolute;
    top: 30px;
    left: 145px;
    height: 310px;
    width: 610px;
    background-color: white;
    border-radius: 10px;
}
.nav_shQ_2 h5{
    height: 30px;
    margin: 10px;
    color:#636363;
    font-size: 20px;
    font-weight: 100;
    overflow: hidden;
}
.nav_shQ_2_span1{
    float: left;
}
.nav_shQ_2_span2{
    float: right;
}
.nav_shQ_2_li{
    overflow: hidden;
    display: block;
    height: 30px;
    margin: 10px 10px 10px 0;
    border: 1px solid white;
    border-top: 1px dashed lightgray;
    line-height: 25px;
}
.nav_shQ_2_span3{
    width: 100px;
    margin: 10px -20px 10px 10px ;
    float: left;
    font-size: 18px;
    color: #636363;
}
.nav_shQ_2_span4{
    display: block;
    margin: 10px 30px;
    float: left;
    font-size: 14px;
    color: #636363;
}
.nav_shQ_2_span4 a:hover{
    background: #E3FAE1;
    color: #636363;
    text-decoration: none;
}
.nav_yuD{
    position: absolute;
    top: 30px;
    width: 120px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.nac_yuD_ul{
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.nav_yuD_li{
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 5px;
    text-indent: 15px;
    font-size: 16px;
    color: #636363;
    cursor: pointer;
}
.nav_yuD_li:hover{
    background: #E3FAE1;
}
.nav_yuD_li img{
    width: 18px;
}
.header_fun{
    position: relative;
    float: right!important;
    margin-right: 30px;
}
.header_fun_search{
    position: relative;
    top: 5px;
    padding: 0 23px 0 9px;
    height: 20px;
    float: left;
}
.header_search_txt{
    position: absolute;
    right: 6px;
    border: 0;
    border-radius: 10px;
    background-color: white;
    width: 50px;
    opacity: 1;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    color: dimgrey;
    display: block;
}
.header_search_txt:hover{
    display: block;
    width: 200px;
    transition: width 0.2s ease-in-out;
}
.header_search_txt:focus{
    display: block;
    width: 200px;
}
.mag{
    position: absolute;
    right: 8px;
}
.header_fun_user{
    float: left!important;
    padding-left: 9pt;
    margin-left: 8px;
    height: 30px;
    background: url('../icon/vline.png') left center no-repeat;
    font-size: 14px;
    text-align: center;
}
.header_fun_a{
    display: block;
    float: left;
    height: 18px;
    width: 18px;
    margin-top: 6px;
    margin-left:10px;
}
.header_fun_a img{
    height: 18px;
}
.header_fun_s{
    display: block;
    float: left;
    height: 18px;
    width: 38px;
    margin-top: 6px;
    margin-left:10px;
    font-size: 14px;
    font-family: Helvetica Neue;
    font-weight: bolder;
    color: silver;
}
.header_fun_s:hover{
    text-decoration: none;
    color: #10b041;
}
.syHead{
    position: relative;
    min-width: 1160px;
    height: 120px;
    background: #42c77b;
    background: -webkit-linear-gradient(top,#50c971,#0fbfa6);
}
.syHead:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background: url("../icon/syhead2.png") right no-repeat;
}
.syHead1{
    position: relative;
    width: 1160px;
    height: 120px;
    margin: 0 auto;
}
.syHead1_logo{
    float: left;
    width: 320px;
    padding: 32px 0 0 20px;
}
.syHead1_logo a{
    background-color: transparent;
    text-decoration: none;
    color: #0073b6;
}
.syHead1_form{
    position: relative;
    float: left;
    margin-top: 40px;
}
.syHead1_f1{
    float: left;
    width: 310px;
    height: 20px;
    border: none;
    padding: 10px 25px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}
.syHead1_f2{
    float: left;
    width: 1px;
    height: 28px;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    background-color: #8ae1cb;
}
.syHead1_f3{
    cursor: pointer;
    position: relative;
    z-index: 2;
    float: left;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    width: 120px;
    background: #fff;
    font-size: 18px;
    color: #33C1B9;
}
.syHead1_default{
    display: none;
    position: absolute;
    left: 18px;
    top: 41px;
    width: 440px;
    z-index: 100;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    box-shadow: 0 6px 6px rgba(0,0,0,.15);
}
.syHead1 li{
    border-top: 1px solid #f4f4f4;
    font-size: 16px;
    line-height: 38px;
}
.syHead1 li:hover{
    background: #0fbfa6;
}
.syHead1 li:first-child {
    border-top: none;
}
.syHead1 li a{
    display: block;
    padding: 0 12px;
    overflow: hidden;
    color: #323232;
}
.syHead1 li a span{
    float:left;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.syHead1 li a em{
    float: right;
    font-size: 14px;
    color: #dbdbdb;
    font-weight: 300;
}
.syHead1_app{
    position: absolute;
    top: 0;
    right: 50px;
}
.syHead1_app a{
    display: block;
    width: 64px;
    height: 104px;
    background: url("../icon/syhead5.png") no-repeat;
    text-align: center;
    color: #fff;
}
.syHead1_app a:hover{
    text-decoration: none;
}
.syHead1_app_icon{
    padding-top: 16px;
}
.syHead1_app_icon:hover{
    padding-top: 10px;
    transition: padding-top 0.3s ease-in-out;
}
.syHead1_app_icon img{
    width: 20px;
}
.syHead1_app_text{
    position: absolute;
    left: 15px;
    bottom: 20px;
    padding-bottom: -10px;
    font-size: 16px;
    font-weight: 300;
}
.syNav{
    position: relative;
    margin: 0 auto;
    width: 1160px;
    min-width: 1160px;
    background-color: #fff;
}
.syNav ul{
    min-width: 1160px;
    background-color: #fff;
    display: block;
}
.syNav_li{
    float: left;
    font-size: 16px;
    line-height: 50px;
}
.syNav_a{
    position: relative;
    display: block;
    padding: 0 30px;
    color: #575757;
}
.syNav_a:hover{
    color:#50c971;
    background: #ebebeb;
    text-decoration: none;
}
.syNav_a em{
    position: absolute;
    top: -20px;
    left: 50px;
}
.syScreen{
    clear: both;
    position: relative;
    min-width: 1160px;
    /*width:100%;*/
    height: 420px;
    background-color: #fcdd5b;
}
.syScreen_lun{
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 1160px;
    height: 420px;
    overflow: hidden;
}
.syScreen_ul{
    position: absolute;
    left: 0;
    width: 4200px;
    /*崩溃了 不玩了*/
    height: 420px;
}
.syScreen_li{
    float: left;
    overflow: hidden;
    width: 1349px;
    height: 420px;
}
.syScreen a{
    width: 100%;
    height: 420px;
}
.syScreen a img{
    height: 420px;
    width: 100%;
}
.lun_left{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,black,transparent );
    opacity:0;
    height: 420px;
    line-height: 400px;
    width: 100px;
}
.lun_left1{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 420px;
    line-height: 400px;
    width: 100px;
}
.lun_right{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left,black,transparent );
    opacity:0;
    height: 420px;
    line-height: 400px;
    width: 100px;
}
.lun_right1{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 420px;
    line-height: 400px;
    width: 100px;
}
.lun_down{
    position: absolute;
    bottom: 10px;
    right: 200px;
    width: 570px;
    text-align: right;
}
.lun_dot{
    display: inline-block;
    width: 40px;
    height: 5px;
    margin-left: 2px;
    overflow: hidden;
    background-color: #000;
    opacity: .5;
    cursor: pointer;
}
.xxk{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -580px;
}
.xxk_ul{
    float: left;
    width: 280px;
    height: 400px;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.6);
    /*padding在宽高之外*/
}
.xxk_li:first-child{
    border-top: none;
}
.xxk_li{
    position: relative;
    height: 56px;
    padding-left: 53px;
    border-top: 1px solid rgba(255,255,255,.1);
}
.xxk_li_p1{
    position: absolute;
    margin-left: -34px;
    margin-top: 7px;
}
.xxk_li_p1 img{
    width: 25px;
}
.xxk_li_h2{
    padding-top: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-weight: 100;
}
.xxk_li_p2{
     font-size: 14px;
 }
.xxk_li_p2 a{
    color: #abadab;
}
.xxk_li_p2 a:hover{
    color: #00b081;
    text-decoration: underline;
    text-decoration-color: #00b081;
}
.xxk_li_p3{
    position: absolute;
    right: 12px;
    top: 15px;
    color: #fff;
    opacity: 0.4;
}
.xxk_d1{
    display: none;
    position: absolute;
    left: 280px;
    top: 10px;
    bottom: 12px;
    padding: 0 40px;
    float: left;
    background-color: white;
    box-shadow: 5px 0 5px rgba(0,0,0,.3);
    width: 660px;
    height: 398px;
    overflow: hidden;
}
.xxk_d1:nth-child(7){
    width: 330px;
}
.xxk_d1 h2{
    width: 290px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 12px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #323232;
}
.xxk_d1_con{
    float: left;
    width: 290px;
    height: 370px;
    overflow: hidden;
}
.xxk_d1_con:nth-child(2){
    padding-left: 40px;
}
.xxk_d1_ul{
    width: 100%;
    overflow: hidden;
}
.xxk_d1_ul li{
    float: left;
    margin-right: 10px;
    font-size: 14px;
    line-height: 24px;
}
.xxk_d1_ul a:hover{
    color: #00b081;
    text-decoration: underline;
}
.xxk_d1_con p{
    margin-top: 30px;
}
.xxk_d1_con p img{
    width:270px;
    height:140px;
}
.xxk_d2{
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin:10px 15px;
    overflow: hidden;
    cursor: pointer;
}
.xxk_d2:hover{
    box-shadow:0 0 15px 5px lightgreen;
    transform:  scale(1.1);
}
.xxk_d2 p{
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    color: orangered;
}
.xxk_d2 img{
    height: 80px;
    width: 80px;
}

