<div ng-controller="xinghuohuodongRedcreateController as showCase">
    <h3 class="page-title">
        创建红包
    </h3>
    <div class="row js_add_hide">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="row">
                    <div class="col-lg-9 col-xs-6">
                        <span class="panel-heading-title">红包查询</span>
                    </div>
                    <div class="col-lg-3 col-xs-6 ui_right">
                        <a href="#/xinghuohuodong-redadd.html" class="btn btn-success btn-sm">新建红包</a><a href="javascript:;" class="btn btn-primary btn-sm" ng-click="action.search()">查询</a><a href="javascript:;" class="btn btn-warning btn-sm" ng-click="action.reset()">重置</a><span ng-if="form.isShow" form-show="{{form.isShow}}"></span>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="form-cot">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" id="js_form">
                            <div class="form-group col-lg-3">
                                <label>红包名称：</label>
                                <input name="prizename" ng-model="form.prizename" class="form-control" placeholder="请输入红包名称">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>创建时间：</label>
                                <div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control" name="p_startcreatetime" ng-model="form.p_startcreatetime">
                                    <span class="input-group-addon">to </span>
                                    <input type="text" class="form-control" name="p_endcreatetime" ng-model="form.p_endcreatetime">
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>红包金额：</label>
                                <input type="text" name="prizeamount" ng-model="form.prizeamount" class="form-control js_validator_int" placeholder="请输入红包金额">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>红包状态：</label>
                                <select name="status" ng-model="form.status" class="form-control" autocomplete="off">
                                    <option value="">请选择</option>
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <span class="panel-heading-title">搜索结果</span>
                    </div>
                    <div class="col-lg-6 col-xs-6 ui_right">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper table-responsive">
                    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" dt-disable-deep-watchers="true" class="table table-striped row-border table-hover" id="dataTables"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        ComponentsPickers.init();
    })
</script>