body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:723px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u709 {
  position:absolute;
  left:10px;
  top:74px;
  width:375px;
  height:542px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u710 {
  position:absolute;
  left:2px;
  top:263px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:439px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u711 {
  position:absolute;
  left:10px;
  top:125px;
  width:375px;
  height:439px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u712 {
  position:absolute;
  left:2px;
  top:212px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u713 {
  position:absolute;
  left:310px;
  top:24px;
  width:1px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u715 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CC99CC;
}
#u716 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u717 {
  position:absolute;
  left:119px;
  top:44px;
  width:141px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u718 {
  position:absolute;
  left:2px;
  top:-3px;
  width:137px;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u719 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u720 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u721 {
  position:absolute;
  left:24px;
  top:42px;
  width:12px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u722 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u723 {
  position:absolute;
  left:24px;
  top:140px;
  width:57px;
  height:16px;
  color:#666666;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u725 {
  position:absolute;
  left:119px;
  top:140px;
  width:99px;
  height:16px;
  color:#666666;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u727 {
  position:absolute;
  left:24px;
  top:166px;
  width:343px;
  height:1px;
}
#u728 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u729 {
  position:absolute;
  left:24px;
  top:182px;
  width:85px;
  height:16px;
  color:#666666;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u731 {
  position:absolute;
  left:24px;
  top:216px;
  width:343px;
  height:1px;
}
#u732 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u733 {
  position:absolute;
  left:24px;
  top:229px;
  width:57px;
  height:16px;
  color:#666666;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u735 {
  position:absolute;
  left:37px;
  top:318px;
  width:315px;
  height:39px;
}
#u735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u736 {
  position:absolute;
  left:119px;
  top:182px;
  width:100px;
  height:16px;
}
#u737 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u736_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u738 {
  position:absolute;
  left:219px;
  top:182px;
  width:100px;
  height:16px;
}
#u739 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u738_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u740 {
  position:absolute;
  left:119px;
  top:229px;
  width:100px;
  height:16px;
}
#u741 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u740_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u742 {
  position:absolute;
  left:219px;
  top:229px;
  width:100px;
  height:16px;
}
#u743 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u742_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:32px;
}
#u744 {
  position:absolute;
  left:24px;
  top:84px;
  width:343px;
  height:32px;
  color:#666666;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u746 {
  position:absolute;
  left:423px;
  top:125px;
  width:300px;
  height:80px;
  color:#666666;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u748 {
  position:absolute;
  left:81px;
  top:134px;
  width:16px;
  height:16px;
}
#u749 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
