
body{font: 12px/1.5 'Microsoft YaHei';background-color:#f0f0f0;}
.fl{float:left;}
.fr{float:right;}
a{color:#b4b4b4;text-decoration: none;}
.wrap{width:1158px;margin:0 auto;}

/* 头部 */
/* 顶部 */
.topbar-box{height:40px;background-color:#e8e8e8;}
.topbar{width:1158px;height:40px;line-height:40px;margin:0 auto;color:#8f8f8f;font-size: 14px;}
.topbar a{color:#8f8f8f;padding: 0 13px;}


/* 头 */
.head-box{background-color:#fff;padding:43px 0 23px;}
.b2b-logo{width:234px;height:52px;}
.b2b-logo a{display:block;height:50px;background:url(../images/b2b-logo.png) no-repeat center;font-size:0;line-height:0;}
/* 搜索框 */
.head-search-box{margin-left:70px;}
.search{width:511px;height:32px;border:2px solid #179c6a;}
/* 产品 */
.head-product-search{width:60px;padding-right:12px;height:32px;line-height:32px;text-align:center;background:#f5f5f5 url(../images/head-product-search-btn.png) no-repeat 54px center;}
.search input{border:0 none;outline:none;}
.head-search-text{width:300px;height:32px;padding-left:30px;background: url(../images/head-search-text.png) no-repeat 8px center;}
.head-search-btn{width:108px;height:32px;background-color:#179c6a;font-size:16px;color:#fff;font-weight:bold;}
.header .phone-num{font-size:30px;color:#179c6a;line-height:40px;padding-left: 50px;background: url(../images/nav-phone-num.png) no-repeat left center;}
.hot-search{color:#b8b8b8;font-size:14px;line-height:28px;}
.hot-search a{display:inline-block;margin:0 8px;color:#b8b8b8;}



/* 导航 */
.nav-box{height:40px;background-color: #333;}
.nav-content{position: relative;}
/* 中部导航 */
.nav{padding-left:234px;}
.nav li{float:left;width:130px;height:40px;text-align: center;line-height: 40px;font-size: 16px;color:#b0b0b0;}
.nav li.current{background-color: #179c6a;color:#fff;}
/* 全部产品导航 */
.nav-whole-container{position: absolute;left:0;top:0;width:234px;height:40px;font-size: 14px;background:#545252 url(../images/nav-whole-container-drop-wown.png) no-repeat 206px center;}
.nav-whole-container h3{padding-left: 32px;line-height:40px;background: url(../images/nav-whole-container-menu.png) no-repeat 12px center;color:#fff;}
/* 导航下拉内容 */
.nav-product-content-box{width:234px;height:462px;position: absolute;left:0;top:40px;z-index:3;display:none; }
/* 透明层 */
.nav-product-content-opacity{width:234px;height:462px;position: absolute;left:0;top:0;background-color: #000;opacity: .6 ;}
/* 内容 */
.nav-product-content{width:234px;height:448px;position: absolute;left:0;top:0;padding-top: 12px;}
.nav-product-content li{height:42px;line-height:42px;font-size: 14px;color:#b0b0b0;background:url(../images/nav-product-type-icon.png) no-repeat 197px center;}
.nav-product-content li.current{background:#189c6b url(../images/nav-product-type-current-icon.png) no-repeat 197px center;}
.nav-product-content li.current .nav-product-type a{color:#fff;}
.nav-product-content li.current .nav-product-type-con-box{display:block;}
.nav-product-type{padding-left: 30px;}
.nav-product-type a{color:#b0b0b0;}
/* 导航列表内容 */
.nav-product-type-con-box{width:693px;height:462px;position: absolute;left:234px;top:0;display:none;}
.nav-product-type-con-bg{width:693px;height:462px;position: absolute;left:0;top:0;background-color:#fff;opacity:.7;}
.nav-product-type-con{width:609px;height:432px;padding:30px 42px 0;position: absolute;left:0;top:0;font-size:12px;}
.nav-product-type-con a{color:#333;line-height: 26px;}
.nav-product-type-con dl{position: relative;margin-bottom: 35px;}
.nav-product-type-con dt{position: absolute;left:0;top:0;font-weight: bold;}
.nav-product-type-con dt a{display: block;}
.nav-product-type-con dd{padding-left: 68px;}
.product-project-con a{float: left;margin:0 12px;}
.product-project-con em{float: left;line-height: 26px;}
/* 服务保障 */
.nav-product-type-con .service{margin-bottom: 24px;}
.service a{color:#00af76}
.service .product-project-con a{padding-left: 27px;margin:0 20px 0 0;background-position: left center;background-repeat: no-repeat;}
.service .product-project-con .service-1{background-image:url();}
.service .product-project-con .service-2{background-image:url(../images/service-2.png);}
.service .product-project-con .service-3{background-image:url(../images/service-3.png);}
.service .product-project-con .service-4{background-image:url(../images/service-4.png);}
.service .product-project-con .service-5{background-image:url(../images/service-5.png);}
/* 购物车 */
.nav-shopping-car{height:36px;line-height: 36px;font-size: 16px;color:#eb654c;margin-top:4px;padding:0 30px 0 54px;position: relative;z-index:3;background: url(../images/nav-shopping-car.png) no-repeat 24px center;}
.shopping-num{width:15px;height:15px;line-height: 15px;text-align: center;position: absolute;top:0;right:12px;color:#fff;font-size:12px;background-image: url(../images/shopping-num.png);background-repeat:no-repeat;background-position:center;}
.nav-shopping-car.current{background:#189c6b url(../images/nav-shopping-car-current.png) no-repeat 24px center;;color:#fff;}
.nav-shopping-car.current .shopping-num{background-image: url(../images/shopping-num-current.png);color:#ff6800;top:-5px;}
/* 购物车内容 */
.nav-shopping-box{position:absolute;right:0;top:36px;background-color: #fff;z-index: 3;padding:0 12px 15px;display:none;}
/* 内容 */
.shopping-content-box{padding-right:10px;margin:5px 0;height:261px;overflow: hidden;position:relative;width:260px;}
.shopping-content{width:260px;position:absolute;left:0;top:0;}
.shopping-content li{width:260px;border-bottom: 1px solid #e9e9e9;}
.shopping-content .picture{width:86px;height:86px;font-size:0;line-height: 90px;text-align: center;}
.shopping-content .picture img{vertical-align: middle;width:100%;}
.shopping-content-word{width:130px;margin:22px 0 0 10px;}
.shopping-content-word p{font-size: 14px;line-height: 24px;}
.shopping-content-word .product-name{color:#323232;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}
.shopping-content-word .product-price{color:#ff6800;}
.shopping-content .remove{font-size:12px;color:#6477af;line-height:86px;margin-right: 10px;}
/* 滚动条 */
.shopping-content-scroll{width:3px;height:100%;position:absolute;right:0;top:0;background-color: #ededed;}
.shopping-content-scroll .scroll-bar{width:3px;height:15px;background-color: #c6c6c6;position: absolute;top:0;left:0;}
/* 加载更多 */
.shopping-content-more{width:262px;height:10px;margin:0 auto;background:#e4e4e4 url(../images/shopping-content-more.png) no-repeat center;}
/* 剩余数 */
.shopping-car-surplus{font-size: 14px;font-weight: bold;color: #333;text-align: right;line-height: 40px;}
.shopping-car-surplus span{color:#f83902;}
/* 查看我的购物车 */
.see-my-shopping-car span{cursor:pointer;width:130px;height:28px;text-align: center;line-height: 28px;color:#fff;font-size: 12px;background-color: #179b69;}






/* 焦点图盒子 */
/* 焦点图 */
.focus-box{width:927px;height:462px;}
.focus{width:927px;height:462px;}
.focus li{width:927px;height:462px;}
.focus a{display:block;}
.focus img{vertical-align:middle;}
/* bxslider */
.bx-wrapper{position:relative;}
.bx-viewport{z-index:2;}
.bx-controls{position:relative;z-index:2;}
.bx-pager-item{float:left;width:19px;height:19px;margin-left:15px;font-size: 0;}
.bx-pager-link{display:block;widht:19px;height:19px;background-repeat:no-repeat;background-image:url(../images/focus-item.png);background-position:0 0;}
.bx-pager-link.active{background-position:0 -20px;}
.bx-pager{position:absolute;left:50%;top:-46px;margin-left:-119px;}
.bx-controls-direction a{width:47px;height:133px;position:absolute;top:-315px;background-color:#cacaca;background-repeat: no-repeat;background-position: center;}
.bx-controls-direction a:hover{background-color:#919191;}
.bx-controls-direction .bx-prev{left:-74px;background-image: url(../images/focus-prev.png);}
.bx-controls-direction .bx-next{right:-305px;background-image: url(../images/focus-next.png);}

/* 登录框 */
.login-frame{width:231px;height:462px;background-color: #fefefe;overflow: hidden;}
/* 登录注册 */
.login-frame-info{margin:32px 0 35px;}
.login-frame-portrait{width:66px;height:66px;margin-left:14px;background: url(../images/login-frame-portrait.png) no-repeat center;}
.info-word{margin-left:94px;font-size:14px;line-height:30px;}
.info-word p{margin-bottom: 5px;}
.info-word .login{padding:0 20px;display:inline-block;background-color:#fff7f2;border:1px solid #ff6700;color:#ff8b53;margin-right: 12px;}
.info-word a{color:#545454;}
/* 入驻店铺 */
.login-frame .settlet{display:block;width:194px;heihgt:40px;line-height:40px;color:#fff;font-size: 20px;background-color: #179c6a;text-align: center;margin: 0 auto;border-radius: 5px;}
/* 公告 */
.notice{border-bottom:1px dashed #e0e0e0;margin:13px 25px 0;padding-bottom:8px;}
.notice-title{font-size:14px;color:#333;padding-left: 20px;background:url(../images/notice-title.png) no-repeat left center; line-height:20px;margin-bottom:3px;}
.notice-con li{font-size:12px;color:#ff6700;line-height:20px;}
/* 保障 */
.login-frame-service{margin-top:10px;}
.login-frame-service li{padding:5px 0 5px 52px;background-repeat: no-repeat;background-position: left center;margin-left:25px;margin-bottom: 10px;}
.login-frame-service .login-frame-service-zheng{background-image:url(../images/login-frame-service-zheng.png);}
.login-frame-service .login-frame-service-zhen{background-image:url(../images/login-frame-service-zhen.png);}
.login-frame-service .login-frame-service-pei{background-image:url(../images/login-frame-service-pei.png);}
.login-frame-service .project{font-size: 18px;color:#333;line-height:26px;}
.login-frame-service .explain{font-size: 14px;color:#b0b0b0;line-height:18px;}


/* main */
.wrapper{  position: relative;  width: 1158px;  margin: 0 auto;  }
.introduce{  position: relative;  width: 100%;  background: #fff;  }
.title-l{  float: left;  padding-top: 44px;  color: #179c6a;  font-size: 20px;  }
.title-l2{  color: #333;  float: left;  padding-top: 44px;  font-size: 20px;  }
.title-r{  float: right;  padding: 52px 0 7px 0;  margin-right: 10px;  color: #bebebe;  font-size: 12px;  }
.intro-ul{  margin: 0 auto;  display: block;  overflow: hidden;  }
.intro-ul li {  _display:inline; width: 223px;  height: 336px;  border-top: 1px solid #179c6a;  margin-right: 8px;  float: left;  }
.intro-img{  height: 190px;  width: 100%;  text-align: center;  }
.intro-img img{  vertical-align:top; padding: 15px 0 0 0;  }
.intro-info{  width: 166px;  margin: 0 auto;  text-align: center;  }
.pic:hover{  color: #179c6a;  text-decoration: none;  }
.intro-info-p1{  padding-top: 12px;  line-height: 22px;  font-size: 12px;  color: #424c58;  }
.info-span{  padding-top: 6px;  line-height: 18px;  font-size: 10px;  }
.info-red{  color: #ea544a;  }
.info-blue{  color: #005aa0;  }
.intro-info-p2{  padding-top: 2px;  line-height: 20px;  font-size: 10px;  color: #8999b9;  }
.intro-info-p2 a{ color: #8999b9;  }
.item-ul{  display: block;  overflow: hidden;  height: 600px;  }
.item-img{  height: 180px;  width: 100%;  text-align: center;  }
.item-img img{  vertical-align:top; padding: 10px 0 0 0;  }
.item-ul li{  -display:inline; width: 220px;  height: 286px;  border-style: solid;  border-width: 8px 4px 4px 6px;  border-color: white;  background: #fff;  margin: 1px 0 0 1px;  float: left;  }
.item-info{  width: 166px;  margin: 0 auto;  text-align: center;  }
.item-info-p1{  padding-top: 2px;  line-height: 22px;  font-size: 12px;  color: #424c58;  }
.item-info-p2{  padding-top: 2px;  line-height: 20px;  font-size: 12px;  color: #8999b9;  }
.item-info-p2 a{  color: #8999b9;  }


/* 店铺模块 */
.store-colligate{width:450px;}
.store-colligate-title{font-size: 20px;line-height:44px;height: 44px;}
.store-colligate-content{width:450px;height:460px;background-color:#fcfcfc;overflow: hidden;}
/* 今日店铺推荐 */
.recommend-store{float:left;color:#666;}
.recommend-store.first{margin-bottom: 12px;}
.recommend-store.other{margin-left:13px;}
.recommend-store a{display: block;}
.recommend-store img{vertical-align: middle;}
.recommend-store.first a{width:450px;height:242px;}
.recommend-store-name{font-size: 14px;line-height: 40px;height:40px;text-align:center;}
.recommend-store.other a{width:206px;height:124px;}
/* 新入驻店铺 */
.new-settled-store{margin-left:10px;}
.new-store-title{height:44px;line-height: 44px;}
.new-store-more{font-size:12px;color:#b4b4b4;}
.store-type-title{color:#bcbcbc;margin:8px 12px 0;border-bottom:1px solid #e8e9e8;line-height: 22px;}
.new-store-region{width:73px;margin-left:13px;float: left;}
.new-store-name{width:190px;float: left;}
.new-store-brand{float: left;}
/* 入驻店铺内容 */
.new-store-list{margin-top:10px;}
.new-store-list li{line-height: 26px;padding:0 12px;background-color: #f8f8f8;margin-bottom: 2px;}
.new-store-list .new-store-region{color:#ff6700;}
.new-store-list .new-store-name{color:#666;}
.new-store-list .new-store-brand{color:#1e3f87;}
/* 今日出货排名 */
.today-ranking-content{background-color:#fcfcfc;}
.today-ranking{width:235px;}
.today-ranking-type{margin-left: -1px;}
.today-ranking-type li{float:left;width: 58px;height:27px;font-size:14px;color:#666;line-height:27px;text-align: center;background-color:#e0e0e0;margin-left: 1px;}
.today-ranking-type li.current{background-color: #179c6a;color:#fff;}
/* 排行列表 */
.today-ranking-list-box{width:235px;height:433px;}
.today-ranking-list-box ul{padding:0 10px;display:none;}
.today-ranking-list-box ul.current{display: block;}
.today-ranking-list-box li{border-bottom: 1px dashed #e3e3e3;padding:10px 0 5px 15px;position:relative;}
.today-ranking-list-box li.last{border-bottom:none;}
.today-ranking-word{font-size:14px;float:left;width:130px;}
.today-ranking-word .phone-name{color:#333;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;line-height: 20px;}
.today-ranking-word .price{color:#ff6700;line-height: 20px;}
.today-ranking-word .sale-num{color:#afafaf;line-height:20px;margin-top: 10px;}
.today-ranking-picture{float:right;width:70px;height:70px;}
.today-ranking-picture img{vertical-align: middle;}
/* 排名名次 */
.today-ranking-num{width:15px;height:16px;line-height: 16px;text-align:center;color:#fff;background-color:#179c6a;position:absolute;left:-5px;top:11px;}
.today-ranking-num.latter{background-color:#e6e6e6;color:#484848;}


/* 热销品牌 */
.hot-logo{  width: 100%;  background: #fff;  margin-top: 20px;}
.hot-title-l{  float: left;  padding-top: 24px;  color: #333;  font-size: 20px;  }
.hot-title-r{  float: right;  padding: 32px 0 12px 0;  margin-right: 10px;  color: #bebebe;  font-size: 12px;  }
.hot-title-r a{  color: #b4b4b4;  }
.hot-ul{  display: block;  overflow: hidden;  }
.hot-ul li{  _display:inline; width: 165px;  height: 84px;  float: left;  }
.hot-ul li img{  vertical-align:top;  height: 64px;  width: 145px;  padding: 10px;  }
.hot-adv-bar{  height: 90px;  width: 100%;padding: 30px 0;  }
.hot-adv-bar img{  vertical-align: top;  }

/* 底部 */
.footer{  width: 100%;  background: #3d3d3d;  }
.foot-help-title{  padding-top: 25px;  line-height: 25px; font-size: 20px;  color: #fff;  }
.foot-item-ul{  display: block;  overflow: hidden;  margin: 0 19px;  }
.foot-item-ul li{  float: left;  _display:inline;  height: 120px;  width: 280px;  border-bottom: 1px solid #525252;  }
.foot-item-s1{  float: left;  height: 65px;  width: 65px;  margin: 30px 35px 25px 20px;  }
.foot-item-s2{  float: left;  }
.foot-item-s2 p{  padding-top: 40px;  font-weight:600; color: #a1a1a1;  font-size: 18px;  }
.foot-item-s2 a h4{  color: #616161;  font-size: 14px;  }
.foot-item-s2 a h4:hover{  color: #979797;  text-decoration: none;  }
.item-bg-pos1{ background: url("../images/foot_item.png") -10px -10px no-repeat;  }
.item-bg-pos2{  background: url("../images/foot_item.png") -10px -85px no-repeat;  }
.item-bg-pos3{  background: url("../images/foot_item.png") -10px -159px no-repeat;  }
.item-bg-pos4{  background: url("../images/foot_item.png") -10px -235px no-repeat;  }
.foot-info{  width: 1000px;  margin: 0 auto;  }
.foot-info dl{  float: left;  width: 200px;  height: 270px;  }
.foot-info dl dt{  padding: 20px 0 5px;  line-height: 20px;  font-size: 18px;  color: #b0b0b0;  }
.foot-info dl dd p a{  line-height: 26px;  font-size: 14px;  color: #616161;  }
.foot-version-bar{  height: 55px;  line-height: 18px;  font-size: 16px;  color: #b0b0b0;  text-align: center;  }































