body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:161px;
}
#u180 {
  position:absolute;
  left:202px;
  top:130px;
  width:224px;
  height:161px;
}
#u181 {
  position:absolute;
  left:2px;
  top:72px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u182 {
  position:absolute;
  left:232px;
  top:187px;
  width:65px;
  height:33px;
}
#u183 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:240px;
  top:187px;
  width:57px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:66px;
}
#u186 {
  position:absolute;
  left:236px;
  top:220px;
  width:65px;
  height:66px;
}
#u187 {
  position:absolute;
  left:2px;
  top:25px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:240px;
  top:220px;
  width:85px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u190 {
  position:absolute;
  left:241px;
  top:256px;
  width:85px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u192 {
  position:absolute;
  left:236px;
  top:151px;
  width:56px;
  height:26px;
}
#u193 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u194 {
  position:absolute;
  left:238px;
  top:151px;
  width:71px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
